{% extends "about/about_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "foode" %}{% endblock %}
{% block subnav %}
<ul class="nav nav-pills nav-stacked" id="boxtabs">
   
    <li class="active"><a id="whatistab" href="#foode"><i class="icon-list-alt icon-black"></i>{% trans " What is foode?" %} </a></li>
          <li><a id="teamtab" href="#team"><i class="icon-user icon-black"></i>{% trans " Team" %}</a></li>
          
        
      
    
    </ul>
{%endblock%}
{% block body %}

   
<div id="whatiscontent" class="well">

<h5> 
foode helps you to meet other passionate foodies,discover recipes and check out restaurants in your area.
</h5><br/>
<h4 style="color:green;">Recipes</h4>
<p>
foodies specify their taste by rating a recipe on a scale of five and foode learns what you like suggests you new recipes to try out.
You can contribute by uploading new recipes and other foodies can add your recipe as a favorite.Rate more and more recipes and foode suggests you even more accurately.
</p>

<h4 style="color:green;">Restaurants</h4>
<p> 
If you can't cook the recipes you like just search the recipe or cuisine in the restaurants in your area or in your favorite location.
Restaurant owners add their restaurants to foode and you can favorite.Moreover,you can add your favorite restaurant if it isn't added or ask the owner to add.
Also,rate the recipes in the restaurant by checking the menu and how each one tastes so that other foodies can see.
</p>


<h4 style="color:green;">foodies</h4>
<p> 
Add your mates by visiting their profile.It won't be any fun if you can't see what your mates' favorites are and how they experimented some curry and turned into ash ;)

</p>

<h4 style="color:green;">Photos</h4>
<p> 
Upload photos of mouth watering recipes that you've cooked at home or ate in a restaurant.Fun becomes double by uploading your cooking experiments and how you spoiled the whole thing :) 
</p>


<h4 style="color:green;">Box</h4>
<p> 
Check all your notifications,messages and foodie requests all in one place.Send messages by clicking the compose button.
</p>

<h4 style="color:green;">Settings</h4>
<p> 
Edit your profile or change your display pic,password etc by going to the settings page by clicking in the dropdown menu under your profile name.
</p>

</div>


<div id="teamcontent" class="well hide" style="text-align:center; color:white;">
<h5>You and every one who contributes .</h5>
</div>



    
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
  $(document).ready(function(){
$("#teamtab").click(function(){
$("#teamcontent").show();
$("#whatiscontent").hide();
 $("a").parent().removeClass("active"); 
  $("#teamtab").parent().toggleClass("active");
});//end of team btn click


$("#whatistab").click(function(){
$("#teamcontent").hide();
$("#whatiscontent").show();
 $("a").parent().removeClass("active"); 
  $("#whatistab").parent().toggleClass("active");
});//end of whatis btn click



});//end of doc ready
</script>
{% endblock %}
