{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
     <div class="container">  
        <div class="row">
        <h3 style="color:green;margin-top:-25px;float:left;">About</h3>
           <a href="/recipes/" class="btn" style="margin-top:-25px;float:right;">Recipes</a>
        <hr/>
        </div>
  <br/>
     <div class="row"  >
            

           <div class="span3 columns">
                {% block subnav %}
                {% endblock %}
            </div>
             
              
            <div class="span11 columns"  >
                {% block body %}
                {% endblock %}
            </div>
            
        </div>
      
    </div>

     
{% endblock %}
