{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "foode" %}{% endblock %}

{% block body %}
<div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Help" %}</h3>
<div style="margin-top:-25px;text-align:right;">
<a href="/recipes/" class="btn" id="myphotos" >{% trans "Recipes" %}</a>&nbsp
</div>   
 <hr/>
    </div>
    

    
{% endblock %}
