{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
    <h1>{% trans "What Next?" %}</h1>
    
    {% if user.is_authenticated %}
        <p>Here are some things to do to get started with this site:</p>
        
        <dl class="what_next">
            <dt><a href="{% url acct_email %}">verify an email address</a></dt>
            <dd>so you can receive notifications, reset your password and so people can find you more easily.</dd>
            
            <dt><a href="{% url profile_indetail user.username %}">fill out your profile</a></dt>
            <dd>to tell the world a little about yourself.</dd>
            
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% else %}
                {% if user.is_staff %}
                    <dt><a href="{% url admin_invite_user %}">invite more people to the site</a> [admin only]</dt>
                    <dd>so more people can share in the fun.</dd>
                {% endif %}
            {% endifsetting %}
        </dl>
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% endifsetting %}
            </p>
        {% endif %}
{% endblock %}
