{% extends "account/settings_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block extra_head %}
  
     <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
                                     <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
{% endblock %}

{% block body_class %}account{% endblock %}

{% block subnav %}
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a id="accemail" href="#email"><i class="icon-envelope icon-black"></i>{% trans " Email Addresses" %}</a></li>
        <li> <a id="disppic" href="#displaypic"><i class="icon-picture icon-black"></i> Display pic</a></li>
         <li><a id="editprofile" href="#profile"><i class="icon-user icon-black"></i>{% trans " Profile" %}</a></li>
        <li><a id="setnotices" href="#notifications"><i class="icon-list-alt icon-black"></i>{% trans " Notifications" %}</a></li>
        
       {% if user.password %}
        <li><a id="changepwd" href="#changepassword"><i class="icon-asterisk icon-black"></i>{% trans " Change Password" %}</a></li>
        {% else %}
        <li><a href="{% url acct_passwd_set %}" href="#setpassword">{% trans "Set Password" %}</a></li>
        {% endif %}
        {% ifsetting USE_I18N %}
            <li><a id="changelang" href="#language"><i class="icon-font icon-black"></i>{% trans " Language" %}</a></li>
        {% endifsetting %}
        <li><a id="changetime" href="#timezone"><i class="icon-time icon-black"></i>{% trans " Timezone" %}</a></li>
    </ul>

{% endblock %}
