

{% load i18n %}
{% load bootstrap_tags %}

    
    <p>{% trans "This site can be used in your preferred language." %}</p>
    
    <form method="POST" action="{% url acct_language_change %}">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Change" %}</button>
        </div>
    </form>

