{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
    <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Login" %}</h3>
<div style="margin-top:-25px;text-align:right;">
        <h5>{% blocktrans %}Don't have an account? <a href="/account/signup/" class="btn">Sign up</a>{% endblocktrans %}</h5>

</div>   
 <hr/>
    </div>


  

    
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% else %}
     <div>
        <h5>
            <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
        </h5><hr/>
    {% endif %}
    
    <form method="POST" action="{% url acct_login %}" autocapitalize="off" >
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="actions">
            <p><button type="submit" class="btn primary">{% trans "Log in" %}</button></p>
        </div>
    </form>
    <h5>Login by using your Facebook or Twitter Accounts</h5><hr/><a  href="/login/facebook/"><img height="32" width="32" src="{{STATIC_URL}}img/flogo.png"></a>  <a style="float:right;" href="/login/twitter/"><img src="{{STATIC_URL}}img/twitter32.png"></a>
    </div>
    
    {% if request.user.is_authenticated %}
        <div><a href="{% url acct_logout %}?next={{ request.path }}">logout</a></div>
    {% endif %}
    
   
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
    $("#small_login").hide();
    $("#signupbutton").hide();
    $("#signupa").hide();
</script>
{% endblock %}
