{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
    <div >
    <h1>{% trans "Log In" %}</h1>
    
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
        {% endifsetting %}
        <p>
            <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
        </p>
    {% endif %}
    <div >
    <form method="POST" action="{% url acct_login %}" autocapitalize="off" >
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div>
            <p><button type="submit" class="btn primary">{% trans "Log in" %}</button></p>
        </div>
    </form>
    
    </div>
    
    {% if request.user.is_authenticated %}
        <div><a href="{% url acct_logout %}?next={{ request.path }}">logout</a></div>
    {% endif %}
    
   </div>
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
    $("#small_login").hide();
    $("#signupbutton").hide();
</script>
{% endblock %}
