{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
     <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
 <hr/>
    </div>
   

    
    {% if token_fail %}
        {% url acct_passwd_reset as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset>
                    {{ form|as_bootstrap }}
                </fieldset>
                <div class="actions">
                     <button type="submit" class="btn primary">{% trans "change password" %}"</button>
                </div>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock %}
