

{% load i18n %}
{% load bootstrap_tags %}




   
    
    <form method="POST" action="{%url acct_passwd%}">
        {% csrf_token %}
        <fieldset>
            {{ password_change_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Change" %}</button>
        </div>
    </form>

