{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
   <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Email Sent" %}</h3>
 <hr/>
    </div>
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}
