

{% load i18n %}
{% load bootstrap_tags %}




     {% if successmessage %}
    <p style="color:green;">{{successmessage}}</p><hr/>
    {%endif%}
      <form method="POST" id="changepwdform">
        {% csrf_token %}
        <fieldset>
            {{ password_change_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Change" %}</button>
        </div>
    </form>

  <script>

  $('#changepwdform').submit(function() {
      $.ajax({
        data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "/account/password_ajaxchange/"+user_name+"/", // the file to call
                success: function(response) { // on success..
                    $('#pwd-content').html(response); // update the DIV
                }
            });
            return false;
        });
</script>
