{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
     <div class="container">  
        <div class="row">
        <h3 style="color:green;margin-top:-25px;float:left;"><i class="icon-cog icon-black"></i> Settings</h3><hr/>
        </div>
  
     <div class="row" >
            <div class="span3 columns">
                {% block subnav %}
                {% endblock %}
            </div>
             
              
            <div class="span13 columns" >
                {% block body %}
                {% endblock %}
            </div>
        </div>
        
    </div>

     
{% endblock %}
