{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
    <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Signup" %}</h3>
<div style="margin-top:-25px;text-align:right;">
        <h5>{% blocktrans %}Already have an account? <a href="/account/login/" class="btn">Login</a>{% endblocktrans %}</h5>

</div>   
 <hr/>
    </div>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}

        
        <form id="signup_form" method="post" action="{% url acct_signup %}" autocapitalize="off">
            {% csrf_token %}
            <fieldset>
                {{ form|as_bootstrap }}
            </fieldset>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="actions">
                <button type="submit" class="btn primary">{% trans "Sign Up" %}</button>
            </div>
        </form>

        {% ifsetting ACCOUNT_USE_OPENID %}
        <h2>{% trans "Or sign in with your OpenID" %}:</h2>
        <form action="/openid/register/" method="POST" autocapitalize="off">
            {% csrf_token %}
            <fieldset>
                {% if url_required %}
                    <div class="clearfix">
                        <label for="id_username">* OpenID Identifier</label>
                        <div class="input">
                            <input class="openid" type="text" name="openid_url" />
                        </div>
                    </div>
                {% else %}
                    <div class="clearfix">
                        <label for="id_username">* OpenID Identifier</label>
                        <div class="input">
                            <input class="openid" type="text" name="openid_url" />
                        </div>
                    </div>
                {% endif %}
                <div class="actions">
                    <input type="submit" value="{% trans "Log in" %}" class="btn primary" />
                </div>
            </fieldset>
        </form>
        {% endifsetting %}
        
        {% url terms as terms_url %}
        {% url privacy as privacy_url %}
        <p>{% blocktrans %}By clicking "Sign Up", you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        <hr/>
        <h5>Login by using your Facebook or Twitter Accounts</h5><hr/><a  href="/login/facebook/"><img height="32" width="32" src="{{STATIC_URL}}img/flogo.png"></a>  <a style="float:right;" href="/login/twitter/"><img src="{{STATIC_URL}}img/twitter32.png"></a>
    </div>
        
    {% endif %}
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            $("#id_username").focus();
             $("#small_login").hide();
             $("#signupbutton").hide();
             $("#signupa").hide();
        });
    </script>
{% endblock %}
