

{% load i18n %}
{% load bootstrap_tags %}


     <p>{% trans "This site can localize all times into your preferred timezone. Change your timezone below." %}</p>
    
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Change" %}</button>
        </div>
    </form>

