{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify your email address" %}{% endblock %}

{% block body %}
      <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Verification Sent" %}</h3>
 <hr/>
    </div>
    
    <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    <p><a href="{{ success_url }}">Go back</a></p>
{% endblock %}
