
{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}


{% load bootstrap_tags %}

{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% user_display other_user as other_user_display %}{% blocktrans %}{{ other_user_display }}{% endblocktrans %}{% endblock %}

{% block subnav %}
 <div id="profile_avatar">
                <div><img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" /></div>
                
            </div>
   <br/>
   {% if is_friend %}
                       <div> 
                       <p><a href="{% url messages_compose %}{{ other_user }}/">
                       
                                <input type="hidden" name="action" value="message" /><input type="submit" class="btn " value="{% trans "Send a message" %}"/>
                      </a>.</p>
                       </div><hr/>
  {%endif%}
   <a href="{% url profile_indetail other_user%}">{%trans "About"%}</a><br/>
   <a id="stream">{%trans "Stream"%}</a><br/> 
   <a id="favr">{% trans "Fav Recipes" %}</a><br/>
   <a id="usrr">{% trans "Uploaded Recipes" %}</a><br/>
   <a id="favrest">{% trans "Fav Restaurants" %}</a><br/>
   <a id="usrrest">{% trans "Added Restaurants" %}</a><br/>
   <a id="photostab">{% trans "Photos" %}</a><br/>
   <hr/>
<div class="right_panel">
        {% include "profiles/profile_right_panel.html" %}
    </div>
       
         {% if is_friend %}
         <hr/>  <div>   <form method="POST" action="">
         {% csrf_token %}
         <input type="hidden" name="action" value="remove" /><input type="submit" class="btn danger" value="{% trans "Unfriend" %}"/>
          </form>             
           </div>
         {% endif %}
        {% endblock %}

{% block body %}
    
     {% user_display other_user as other_user_display %}
   
    <div class="left_panel">
        <div class="vcard">
           
            
            {% if other_user.get_profile.name %}
                <h1>{% blocktrans %}<span class="nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
            {% else %}
                <h1>{% blocktrans %}<span class="fn nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
            {% endif %}
            {% if is_me %}
                
            {% endif %}
            <div id="profile_content">
                {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: <span class="fn">{{ other_user.get_profile.name }}</span></p>{% endif %}
                {% if other_user.get_profile.nickname %}<p><b>{% trans "Nick" %}</b>: <span class="fn">{{ other_user.get_profile.nickname }}</span></p>{% endif %}
                 {% if other_user.get_profile.sex %}<p><b>{% trans "Sex" %}</b>: <span class="fn">{{ other_user.get_profile.sex }}</span></p>{% endif %}
                 {% if other_user.get_profile.foodhabits %}<p><b>{% trans "Food Habits" %}</b>: <span class="fn">{{ other_user.get_profile.foodhabits }}</span></p>{% endif %}
                
                {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}
                {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}
                {% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a class="url" href="{{ other_user.get_profile.website }}">       {{ other_user.get_profile.website }}</a></p>{% endif %}
                {% if other_user.get_profile.interests %}<p><b>{% trans "Interests" %}</b>: {{ other_user.get_profile.interests }}</p>{% endif %}

           </div>
             <div class="thumb-row clearfix"> 
           <div id="favres" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div>
          </div>      
      <div id="userres" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div>
            <div id="favrecipes" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div>
              <div id="userrecipes" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div>
            <div id="ajstream" class="gallery-photo-thumb">
                <ul>
                  
                      <p></p>
                         <a>
                        
                      </a>
                  
               </ul>
           </div>          
           <div id="usrphotos" class="gallery-photo-thumb">
            <a>
              <img />
            </a>
           </div> 
              
             
   {% if user.is_authenticated %}
          
                {% if is_me %}
                {% else %}
                    {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                       
                          
                    {% else %}
                        {% if previous_invitations_from %}
                            <p>{% blocktrans %}{{ other_user_display }} has requested friendship.{% endblocktrans %}</p>
                            {% for invitation in previous_invitations_from %}
                                <div class="friendship_request">
                                    <p>From <a href="{% url profile_indetail invitation.from_user.username %}">{% user_display invitation.from_user %}</a> ({{ invitation.sent }}):</p>
                                    <p class="invitation_message">{{ invitation.message }}</p>
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="accept"/>
                                        <input type="submit" value="{% trans 'accept' %}" />
                                    </form>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="decline"/>
                                        <input type="submit" value="{% trans 'decline' %}" />
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if previous_invitations_to %}
                                <p>{% trans "Friendship request sent." %}</p>
                            {% else %}
                                <h2>{% trans "Add As Friend" %}</h2>
                                <form class="uniForm" method="POST" action="">
                                    {% csrf_token %}
                                    <fieldset class="inlineLabels">
                                        {{ invite_form|as_bootstrap }}
                                        <div class="form_block">
                                            <input type="hidden" name="action" value="invite" />
                                            <input type="submit" class = "btn primary" value="{% trans "Invite" %}"/>
                                            {% blocktrans %}{{ other_user_display }} to be a friend.{%  endblocktrans %}
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %} {# previous_invitations_to #}
                        {% endif %} {# previous_invitations_from #}
                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
                
               
                

                
              
                
                
               
                
                
               
                
              
                 
            {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see their recipes.{% endblocktrans %}</p>
            {% endif %}
        </div><!--/vcard-->
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/pure.js"></script>
    <script>
     var json;
     resimgUrl = "/media/restaurants/thumb_100_100/"
     imgUrl = "/media/media/recipes/thumb_100_100/"
     $(document).ready(function(){
     $.ajax({url:"{% url profiledisp_data other_user %}",success:function(result){   
     json = result; 
     }});
      });       //Close of ready function block
     $("#favr").one("click",function(){
     
     var directive = {
           'h1':'hello', 
          'a':{
             'tmp<-favrecipes':{
                            '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name',   
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart'   
      }
     } 
     
     };
     $("div#favrecipes").render(json,directive);
     });  //Close of favrecipes display handler
      
     $("#usrr").one("click",function(){
     var usrdirective = {
        
          'a':{
             'tmp<-userrecipes':{
                            '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name',   
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart'   
   }
    } 
     
    };
     $("div#userrecipes").render(json,usrdirective);           
      });//Close of user recipes display handler
   
        $("#favrest").one("click",function(){
     var favresdirective = {
        
          'a':{
             'tmp<-favrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#favres").render(json,favresdirective);          

   });//Close of fav restaurants display handler
  
    $("#usrrest").one("click",function(){
     var usrresdirective = {
        
          'a':{
             'tmp<-userrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#userres").render(json,usrresdirective);
  });//Close of user restaurants display handler
     

    $("#stream").one("click",function(){
      $.ajax({url:"{% url usstream other_user%}",success:function(result){   
      var directive = {
             'ul':{
                  
           'activity<-data':{
                                                      
                                    'p':'#{activity.actor} #{activity.verb} ',
                                    'a':'activity.objname',
                                    'a@href':'activity.objurl'
                                                     
       }
       }
     };  
      $('div#ajstream').render(result,directive);
           }});
     });
    
        
    $("#photostab").one("click",function(){
    var directive = {
                'a':{
                  'tmp<-photos':{
                             '@href':'/photos/details/#{tmp.id}',
                             'img@src':'#{tmp.image}',
                            }
               }        
                };
     $("div#usrphotos").render(json,directive);
   });
                 
    </script>   
{% endblock %}
