{% extends "idios/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}{{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% user_display page_user as page_user_display %}
    
    <h1>{% blocktrans %}{{ page_user_display }}{% endblocktrans %}
    {% if is_me %}
        <p><a id="edit-profile-box" href="{% url profile_edit %}" class="btn"><img src="/site_media/static/icons/editprofile.png"/></a></p>
    {% endif %}</h1>
    {% include "profiles/_profile_info.html" %}
    
    
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            $("#edit-profile-box").modal({
                backdrop: true
            });
        });
    </script>
{% endblock %}
