{% load i18n %}
{% load avatar_tags %}
{% load account_tags %}

{% user_display other_user as other_user_display %}

{% if is_me %}
    
    <div class="friendsdisp">
        <h2>{% trans "Friends" %}</h2>
        {% if other_friends %}
            <table width="50%">
                {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <td>
                        <div class="avatar">{% avatar friendship.friend 40 %}</div>
                        <div class="details"><a href="{% url profile_indetail friendship.friend.username %}" title="{% user_display friendship.friend %}">{% user_display friendship.friend %}</a></div>
                    </td>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}
                {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
            </table>
        {% else %}
            <p>{% blocktrans %}None. You should look at the list of <a href="/profiles/">profiles</a> and see if there's anyone you know.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endif %}

{% if is_friend %}
    
    <div class="friendsdisp">
        <h4>{% blocktrans %}Friends{% endblocktrans %}</h4>
        <table width="10%">
            {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="avatar">{% avatar friendship.friend 40 %}</div>
                    <div class="details"><a href="{% url profile_indetail friendship.friend.username %}" title="{% user_display friendship.friend %}">{% user_display friendship.friend %}</a></div>
                </td>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
            {% endfor %}
        {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
        </table>
    </div>
{% endif %}
