

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}




    
   
    
    <h5 style="color:brown;">{% trans "Received" %}</h5>
    
    {% if invites_received %}
        <table class="invitation_list">
            {% for invitation in invites_received %}
                {% ifequal invitation.status "2" %}
                    <tr>
                        <td colspan="3" id="col{{invitation.id}}a" class="friendship_request">
                           <div class="avatar">{% avatar invitation.from_user.username 40 %}</div><p><a href="{% url profile_indetail invitation.from_user.username %}">{% user_display invitation.from_user %}</a>
                                </p>
                            <p class="invitation_message">added you as a foodie</p>
                             <a href="#" id="{{invitation.id}}" class="btn acceptc">Accept</a>
                             <a href="#" id="{{invitation.id}}" class="btn danger declinec">Decline</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="{% url profile_indetail invitation.from_user.username %}">{% user_display invitation.from_user %}</a></td>
                        <td>{{ invitation.sent }}</td>
                        <td class="invitation_{{ invitation.status }}">{{ invitation.get_status_display }}</td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No requests received." %}</p>
    {% endif %}
    
    <div id="foodieresult">
    </div>
    <h5>{% trans "Sent" %}</h5>
    
    {% if invites_sent %}
        <table class="invitation_list">
            {% for invitation in invites_sent %}
                <tr>
                    <td><a href="{% url profile_indetail invitation.to_user.username %}">{% user_display invitation.to_user %}</a></td>
                    <td>{{ invitation.sent }}</td>
                    <td class="invitation_{{ invitation.status }}">{{ invitation.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "No  requests sent." %}</p>
    {% endif %}
    

    
    

    <script type="text/javascript">
        $(document).ready(function() {
            $('#join-invite').hide();
            $('#join-invite-toggle').click(function() {
                $('#join-invite').slideToggle();
                $('#join-invite').autoscroll();
                return false;
            });
            if ($('#join-invite ul.errorlist').length) {
                $('#join-invite').show();
                $('#join-invite ul.errorlist').autoscroll();
            }
       
         $('.acceptc').click(function(){
            starid = $(this).attr('id');
            $.ajax({url:"/friendaccept/"+starid+"/"+user_name+"",success:function(result){ 
             $('#col'+starid+"a").html(result);
            }
          
        });//end of ajax  
          
        });//end of decline click

          $('.declinec').click(function(){
            starid = $(this).attr('id');
            $.ajax({url:"/frienddecline/"+starid+"/"+user_name+"",success:function(result){ 
             $('#col'+starid+"a").html(result);
            }
          
        });//end of ajax  
          
        });//end of decline click
        

});//end of doc ready
    </script>

