{% load uni_form_tags %}
{% load i18n %}
{% load account_tags %}

<form class="uniForm" method="POST" action="{% url invite_to_join %}">
    {% csrf_token %}
    <fieldset>
        {% if join_request_form.existing_users %}
        <div class="form_block">
            <ul class="errorlist">
                <li>{% trans "Someone with this email address has already joined:" %}
                    {% for other_user in join_request_form.existing_users %}
                    <a href="{% url profile_indetail other_user %}">{% user_display other_user %}</a>{% endfor %}
                </li>
            </ul>
        </div>
        {% endif %}
        {{ join_request_form|as_uni_form }}
        <div class="form_block">
            <input type="submit" value="invite" />
            or <a href="{% url invitations %}">cancel</a>
        </div>
    </fieldset>
</form>
