{% extends "notification/box_base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
  
{% endblock %}

{% block body_class %}notices{% endblock %}

{% block subnav %}
    
   <a id="composebutton" class="btn" style="float:center;" href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" >{% trans "   Compose" %} <i class="icon-envelope icon-black"></i></a> <hr/>
   <ul class="nav nav-pills nav-stacked" id="boxtabs">
   
    <li class="active"><a id="noticestab" href="#notices"><i class="icon-list-alt icon-black"></i>{% trans " Notices" %} {% if notice_unseen_count %} <span class="badge badge-info">{{ notice_unseen_count}}</span>{% endif %} </a></li>
          <li><a id="inboxtab" href="#messages"><i class="icon-envelope icon-black"></i>{% trans " Messages" %} {% if messages_inbox_count > 0 %}<span class="badge badge-success">{{ messages_inbox_count }}</span>{% endif %}</a></li>
            <li><a id="invitestab" href="#foodierequests"><i class="icon-user icon-black"></i>{% trans " Requests" %}{% if invitations_count %} <span class="badge badge-success">{{ invitations_count }}</span>{% endif %}</a></li>
        
        <li><a id="setnotices" href="#settings"><i class="icon-cog icon-black"></i>{% trans " Settings" %}</a></li>
    
    </ul>
{% endblock %}
