{% extends "notification/base.html" %}

{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load timezone_filters %}

{% block head_title %}{% trans "Box" %}{% endblock %}

{% block body %}
   <div class="well">
    <div id="notices-content">
    {% autopaginate notices %}
    
    {% if notices %}
        <a href="{% url notification_mark_all_seen %}">{% trans "Mark all unseen notices seen" %}</a>
        
        {# TODO: get timezone support working with regroup #}
        {% regroup notices by added.date as notices_by_date %}
      
        {% for date in notices_by_date %}
        <table>      <tr><h5 style="color:gold;" class="notice_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h5>
            
            {% for notice in date.list %}
             <td>   {% if notice.is_unseen %}
                    <div class="unseen_notice">
                {% else %}
                    <div class="notice">
                {% endif %}
                    
                    <span class="notice_message">{{ notice.message|safe }}</span>
                    <span class="notice_time">{{ notice.added|localtime:account.timezone|time:"P" }}</span>
                </div></td></tr></hr>
            {% endfor %}
        </table>  
      {% endfor %}
     
        {% paginate %}
        
    {% else %}
        <p>{% trans "No notices." %}</p>
    {% endif %}
    </div>
    <div id="setnotices-content"></div>
    <div id="invitations-content"></div></div>
    <div id="msginbox-content"></div>
   
  <div class="modal hide" id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#messages">&times;</a>
    <h3 id="modalcomp">Compose</h3>
  </div>
 
 {%include "smallmsg.html" %}
 
</div>
{% endblock %}

{% block extra_body %}
  
 <script type="text/javascript">
 var user_name; 
 user_name = "{{user}}";
  $(document).ready(function(){
  $('#setnotices').hide();
  var strHash = document.location.hash;
  if (strHash == "#messages" ) {
   $('#msginbox-content').load('{% url messages_inbox %}');  
   $('div.well').hide();
   $('#msginbox-content').show();
  $("a").parent().removeClass("active"); 
  $("#inboxtab").parent().toggleClass("active");
    $('#tab_box').addClass("active"); 
  }
  else if(strHash == "#foodierequests")
  {
  $('#invitations-content').load('/friends/');  
  $('#setnotices-content').hide();   
  $('#notices-content').hide();
  $('#msginbox-content').hide();
   $('#invitations-content').show();
   $('div.well').show();
  $("a").parent().removeClass("active"); 
  $("#invitestab").parent().toggleClass("active");
    $('#tab_box').addClass("active"); 
  }
  
 
$("#setnotices").click(function(){
   $('#setnotices-content').load('{% url notification_notice_settings %}');
     $('#setnotices-content').show();  
   $('div.well').show(); 
  $('#notices-content').hide();
     $('#invitations-content').hide(); 
    $('#msginbox-content').hide();
   $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_box').addClass("active"); 
});//end of setnotices

  $("#noticestab").click(function(){
    $('#setnotices-content').hide();   
  $('#notices-content').show();
    $('#invitations-content').hide(); 
  $('#msginbox-content').hide();
  $('div.well').show();
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
    $('#tab_box').addClass("active");  
 }); 

 $("#invitestab").click(function(){
   $('#invitations-content').load('/friends/');  
  $('#setnotices-content').hide();   
  $('#notices-content').hide();
  $('#msginbox-content').hide();
   $('#invitations-content').show();
   $('div.well').show();
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
    $('#tab_box').addClass("active"); 
  }); 

  $("#inboxtab").click(function(){
   $('#msginbox-content').load('{% url messages_inbox %}');  
   $('div.well').hide();
   $('#msginbox-content').show();
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
    $('#tab_box').addClass("active"); 
  }); 
   $('#tab_box').addClass("active");
  });// end of document ready


  
 </script>
{% endblock %}
