div.circle {

    width:150px;
    height:150px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
   
}

div.blue-circle {
    display: block;
    height: 5em;
    width: 5em;
    background-color: #00f;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    -khtml-border-radius: 5em;
    border-radius: 5em;
    }



div.outer-circle {
 
    /* Set the background and position */
 
    background:#white;
    width:100px;
    height:100px;
 
    /* Set the border and the
    border radius to be exactly
    half the width and height
    so that it looks like a circle */
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
    border:1px solid #aaaaaa;
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:800;
 
    /* Finally, we set the transition so
    that the circle grows with an
    animation */
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}

div.outer-circle.hover {
    -moz-transform: scale(1.45);
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
}


div.middle-circle {
 
    /* This margin is used to create
    the 1px border between the middle
    and outer circle */
 
    margin:1px;
 
    /* Set the width and height */
 
    width:100px;
    height:100px;
 
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
 
    /* Set the background gradient */
 
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00f), color-stop(100%,##00f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00f 0%,#00f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* W3C */
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:900;
 
    /* Finally, we set the transition so
    that the circle grows with an
    animation */
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}
div.middle-circle.hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

div.inner-circle {
 
    /* This margin is used to position
    the circle in the center */
 
    margin:9px;
 
    /* Specify the background and
    width and height */
 
    background:#fff;
    width:84px;
    height:84px;
 
    /* Since we have text in it,
    we need to specify the text
    styles we want to use */
 
    font-size:11px;
    color:black;
    
    /* line-height:76px;*/
    text-align:center;
    font-family:Arial;
    
    
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius:5em;
    -moz-border-radius: 5em;
    border-radius: 5em;
 
    /* For this circle, we will be using
    an inset box shadow to replicate
    the effect used. */
 
    -webkit-box-shadow: inset 0px 1px 1px 0px #575757;
    -moz-box-shadow: inset 0px 1px 1px 0px #575757;
    box-shadow: inset 0px 1px 1px 0px #575757;
 
    /* We can also add a bottom border
    to make it look slightly more 3D */
 
  /*  border-bottom:1px solid #FFF;
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:1000;
 
}

div.inner-circle img{
margin-top:28px;
}

div.inner-circle p{
margin-top:32px;
}

div.inner-circle i{
margin-top:26px;
}

div.inner-circle.hover {
   
background:#C0C0C0;
}

