/* 
	Resets defualt browser settings
	reset.css
*/

/*
	Page style
*/


/*
	Slideshow
*/

#slides {
	position:absolute;
	/*top:50px;*/
	left:360px;
	/*z-index:100;*/
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
        
	overflow:hidden;
	position:absolute;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:570px;
	/*height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	/*height:1174px;*/
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/
.pagination {
	margin:26px;
	width:100px;
        margin-bottom:1000px;

}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:0px;
	
	background-position:0 0;
	float:left;
	overflow:hidden;
}




/*
	Anchors


a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	
}*/
