/* SITE-SPECIFIC TAB STYLING */

body.logout #tab_logout a,
body.account #tab_account a,
body.profile #tab_profile a,
body.notices #tab_notices a
{
    color: #000; /* selected tab text colour */
}
body.logout #tab_logout,
body.account #tab_account,
body.profile #tab_profile,
body.notices #tab_notices
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #DEF; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
