{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load elapsed_tags%}

{% block body %}

<script type="text/javascript" src="liscroller.js" ></script>
 <style type="text/css" src="liscroller.css"></style>


{% if actions %}

{% for action in actions %}
<a href="{% url profile_detail action.actor %}">{% avatar action.actor 40 %}{{action.actor}}</a> {{action.verb}}
{% if action.action_object == "1" %}
{%trans "the recipe"%}<a href="/recipes/{{ action.objectid }}/recipe/"> {{action.objectname}}</a>
{% endif %}
{% if action.action_object == "2" %}
{%trans "the restaurant"%}<a href="/restaurants/{{ action.objectid }}/restaurant/"> {{action.objectname}}</a>
{% endif %}
{{action.timestamp|naturalTimeDifference}}
</br></br>
{% endfor%}
{%else %}
<p>No activities yet</p>
{%endif%}
{% endblock %}
