{% extends "subnav_base.html" %}
{% comment %}
This template is copied from the base templates to provide the friends
photos link which is specific to social_project.

NOTE: we don't extend that since it would extend itself and Django will
crash.
{% endcomment %}

{% load i18n %}
{% load group_tags %}
{
{% block body_class %}photos{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Upload Photo</h3>
  </div>
 
 {%include "smallphotos.html" %}
 
</div>


        <ul class="nav nav-pills nav-stacked">
            <li ><a href="{% groupurl photos group %} ">{% trans "Latest Photos" %}</a></li>
            <li><a href="{% groupurl myphotos group %}">{% trans "My Photos" %}</a></li>
            <div>
    
   

        
      <div class="circle">
    <a href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#006300;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/photo.png"/></div>
   </a> 
   </div>

</div>


</ul>





    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
