{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Photos{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Photos" %}</h3>
<div style="margin-top:-25px;text-align:right;">
<a href="/photos/myphotos/" class="btn" id="myphotos" >{% trans "My Photos" %}</a>&nbsp

    <a href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn primary" ><i class="icon-camera icon-white"></i>{% trans " Photo" %}</a>&nbsp
</div>   
 <hr/>
    </div>

     <div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Upload Photo</h3>
  </div>
 
 {%include "smallphotos.html" %}	
 
</div> 
    {% if photos %}
    {% autopaginate photos %}
        <div id="latestphotos" class="thumb-row clearfix yoxview">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="{{photo.get_display_url}}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" title="{{ photo.title }}"/></a><br />
            By <a href="{% url profile_indetail photo.member.username %}">{% if photo.member.get_profile.name %}
                      {{ photo.member.get_profile.name }}
                        {% else %}{% user_display photo.member %}
                         {% endif %}  </a><br />
            
            
        </div>
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>{% trans "No photos were found." %}</p>
    {% endif %}
    
    
{% endblock %}

{% block extra_body %}

<script type="text/javascript">
  $(document).ready(function(){
 $("div#latestphotos").yoxview(
{
 renderInfoPin:false,
 renderInfoExternally:true,
 autoHideInfo:false,

} );


});
</script>

{% endblock %}

