{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load theme_tags %}

<div class="photo-right-profile clearfix">
    <div class="photo-avatar">{% avatar photo.member.username 50 %}</div>
    <div class="photo-profile-details">
       
        <a href="{% url profile_indetail photo.member.username %}">
                        {% if photo.member.get_profile.name %}
                      {{ photo.member.get_profile.name }}
                        {% else %}{{photo.member.username}}
                         {% endif %} </a><br />
        Uploaded on {{ photo.date_taken|date }}<br />
        
    </div>
</div>

<div class="photo-right-tools">

    
    {% if is_me %}
        <form action="{% groupurl photo_destroy group id=photo.id %}" method="POST">

            
           <div class="form_block">
                <input type="hidden" name="action" value="delete" />
       <input  type="submit" value="Delete" />
            </div>          
        </form>
        
        <a href="{% groupurl photo_edit group id=photo.id %}">Edit Photo</a>
        
    {% endif %}
    
</div>

