{% extends "photos/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
    <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ photo_form|as_bootstrap }}
            <div class="form_block">
                <input type="hidden" name="action" value="upload" />
                <input type="submit" class="btn primary" value="{% trans "Upload" %}" />
            </div>
        </fieldset>
    </form>
{% endblock %}
