{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Photos{% endblocktrans %}{% endblock %}

{% block body %}
  
    <h1>{% trans "Photos" %}</h1>
    
    {% if photos %}
    {% autopaginate photos %}
        <div class="thumb-row clearfix">
        {% for photo in photos %}
        <div class="gallery-photo-thumb" data-controls-modal="modal-from-dom" id="modal-from-dom">
            <a href="{% groupurl photo_details group id=photo.id %}" data-controls-modal="modal-from-dom"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
            from <a href="{% url profile_detail photo.member.username %}">{% user_display photo.member %}</a><br />
            {% silk "comment" %}<a href="{% groupurl photo_details group id=photo.id %}/#photocomments">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a><br />
            Viewed {{ photo.view_count }} times
        </div>
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
    <p>No photos were found.</p>
    {% endif %}
    
    
{% endblock %}
