/* SITE-SPECIFIC TAB STYLING */

body.logout #tab_logout a,
body.settings #settingstab a,
body.profile #tab_profile a,
body.box #tab_box a
{
    color: #white; /* selected tab text colour */
}
body.logout #tab_logout,
body.settings #settingstab,
body.profile #tab_profile,
body.box #tab_box
{
    margin: 0; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: white; /* selected tab colour */
    border-left: 1px solid #000; /* tab border */
    border-top: 1px solid #000; /* tab border */
    border-right: 1px solid #000; /* tab border */
}
