@charset "utf-8";

.searchbar{
position: absolute;
right: 0;
top: 150px;	
width:25px;
padding: 6px;
background: #F5F5F5;
border: 1px solid #D2D2D2;
border-right-width: 0; /* removes the right border from the searchbar for it to site nicely against the browser window */
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
transition: .218s;
-moz-transition: .218s;
-ms-transition: .218s;
-o-transition: .218s;
-webkit-transition: .218s;
}
.searchbarHover, .searchbarFocus{
width:	286px;
}
.logo{
background: no-repeat url(../images/sprite.png) 0 0px;
height: 29px;
left: 6px;
width: 25px;
}
.input{
position: absolute;
right: 6px;
left: 6px;
top: 6px;
width:207px;
height: 25px;
padding: 1px 8px;	
line-height: 24px;
margin-left:31px;
color: #999;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
border: 1px solid #D9D9D9;
border-top: 1px solid #C0C0C0;
font-size: 13px;

}
.input:focus{
outline:none;	
border:1px solid #4D90FE;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.searchButton{
opacity: 0;
min-width: 29px;
position: absolute;
top: 6px;
right: 6px;
height: 27px;
text-align: center;
background-color: #4D90FE;
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
border: 1px solid #3079ED;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-topleft: 0;
-webkit-border-bottom-left-radius: 0;
-webkit-border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
border-radius: 2px;
transition: .218s;
-moz-transition: .218s;
-ms-transition: .218s;
-o-transition: .218s;
-webkit-transition: .218s;
}
.searchButton:hover{
background-color: #4D90FE;
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: linear-gradient(top,#4d90fe,#357ae8);	
}
.searchButtonHover,.searchButtonFocus{
opacity: 1;	
}


