{% extends "subnav_base.html" %}

{% load i18n %}

{% block rtab_id %}id="recipes_tab"{% endblock %}


{% block subnav %}
<div>
   
   <div class="circle">
  <a href="{% url upload_recipe %}">  
  <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/recipes.png"/></div>
    </a></div>
</div>
      




{% endblock %}

