{% extends "recipes/recipes_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Recipes{% endblocktrans %}{% endblock %}

{% block subnav %}

<div class="row">
<h5>Categories</h5>
<ul class="nav nav-pills nav-stacked">
<li class="active"><a href="#">All </a></li>
<li><a href="#">Breads</a></li>
<li><a href="#">Juice</a></li>
<li><a href="#">Desserts & Sweets</a></li>
<li><a href="#">Snacks</a></li>
<li><a href="#">Salad</a></li>
<li><a href="#">Sauce</a></li>
<li><a href="#">Soup</a></li>
</ul>
</div>
<div class="row">
<h5>Meal</h5>
<select name="meal" id="id_meal">
<option value="Any">Any</option>
<option value="Breakfast">Breakfast</option>
<option value="Lunch">Lunch</option>
<option value="Dinner">Dinner</option>
</select>
</div>
<div class="row">
<h5>Cuisine</h5>
<select name="cuisine" id="id_cuisine">
<option value="Any">Any</option>
<option value="African">African</option>
<option value="American">American</option>
<option value="Asian">Asian</option>
<option value="Austrian">Austrian</option>
<option value="Authentic">Authentic</option>
<option value="British">British</option>
<option value="Caribbean">Caribbean</option>
<option value="Chinese">Chinese</option>
<option value="Cuban">Cuban</option>
<option value="Eastern European">Eastern European</option>
<option value="French">French</option>
<option value="German">German</option>
<option value="Greek">Greek</option>
<option value="Hawaiian">Hawaiian</option>
<option value="Hungarian">Hungarian</option>
<option value="Andhra">Indian - Andhra</option>
<option value="Awadhi">Indian - Awadhi</option>
<option value="Bengali">Indian - Bengali</option>
<option value="Bihari">Indian - Bihari</option>
<option value="Goan">Indian - Goan</option>
<option value="Gujarati">Indian - Gujarati</option>
<option value="Hyderabadi">Indian - Hyderabadi</option>
<option value="Jain">Indian - Jain</option>
<option value="Kashmiri">Indian - Kashmiri</option>
<option value="Maharashtrian">Indian - Maharashtrian</option>
<option value="Parsi">Indian - Parsi</option>
<option value="Punjabi">Indian - Punjabi</option>
<option value="Rajasthani">Indian - Rajasthani</option>
<option value="Sindhi">Indian - Sindhi</option>
<option value="South Indian">Indian - South Indian</option>
<option value="Italian">Italian</option>
<option value="Japanese">Japanese</option>
<option value="Jewish">Jewish</option>
<option value="Korean">Korean</option>
<option value="Malaysian">Malaysian</option>
<option value="Mediterranean">Mediterranean</option>
<option value="Mexican">Mexican</option>
<option value="Middle Eastern">Middle Eastern</option>
<option value="Moroccan">Moroccan</option>
<option value="Pacific Northwest">Pacific Northwest</option>
<option value="Scandinavian">Scandinavian</option>
<option value="South American">South American</option>
<option value="Spanish">Spanish</option>
<option value="Swiss">Swiss</option>
<option value="Thai">Thai</option>
<option value="Vietnamese">Vietnamese</option>
</select>
</div>
<div class="row">
<h5>Cooking Method</h5>
<select name="cookingmethod" id="id_cookingmethod">
<option value="Any">Any</option>
<option value="Bake">Bake</option>
<option value="Blender">Blender</option>
<option value="Bread Machine">Bread Machine</option>
<option value="Broil">Broil</option>
<option value="Convection Oven">Convection Oven</option>
<option value="Fondue">Fondue</option>
<option value="Food Processor">Food Processor</option>
<option value="Fry">Fry</option>
<option value="Grill">Grill</option>
<option value="Grill Pan">Grill Pan</option>
<option value="Grind">Grind</option>
<option value="Ice-Cream Maker">Ice-Cream Maker</option>
<option value="Marinate">Marinate</option>
<option value="Microwave">Microwave</option>
<option value="Poach">Poach</option>
<option value="Pressure Cooker">Pressure Cooker</option>
<option value="Roast">Roast</option>
<option value="Microwave">Microwave</option>
<option value="Sandwich Press">Sandwich Press</option>
<option value="Slow Cook">Slow Cook</option>
<option value="Steam">Steam</option>
<option value="Waffle Maker">Waffle Maker</option>
</select>
                    
</div>

<div class="row">
   <a href="{% url upload_recipe %}" class="btn primary">Upload a Recipe</a>
 </div>

{%endblock%}


{% block body %}
    <div class="well" style="background:white;">
    <h4>Filters to do</h5>
    <select name="servings" id="id_servings">
<option value="One" selected="selected">One</option>
<option value="Two">Two</option>
<option value="Three">Three</option>
<option value="Four">Four</option>
<option value="Five">Five</option>
<option value="Six">Six</option>
<option value="Seven">Seven</option>
<option value="Eight">Eight</option>
<option value="Nine">Nine</option>
<option value="Ten">Ten</option>
</select>
    <!-- alternate -->
    {% if recipes %}
    
    {% autopaginate recipes 5 %}
        
        <table class="recipes">
            {% for recipe in recipes %}
                <tr class="{% cycle odd,even %}">
                    <!-- meta -->
              
                    <!-- recipe info -->
                    <td>
                        <h3><a href="/recipes/{{ recipe.id }}/recipe/">{{ recipe.name }}</a></h2>
                        <div class="body">
                            <strong><i>Also Known as :{{ recipe.alsoknownas }}<br />Category : {{ recipe.category }}<br /> Type : {{ recipe.recipetype }}</strong></i>
                        
                        </div>
                       
                       {% ifequal list 'yours' %}
                            <table>
                                <tr>
                                    <td>
                                        <!-- udpate recipe -->
                                        <form method="GET" action="{% url update_recipe recipe.id %}">
                                            <input type="submit" class="btn primary" value="{% trans "Update" %}" />
                                        </form>
                                    </td>
                                    <td>
                                        <!-- delete recipe -->
                                        <form method="POST" action="{% url delete_recipe recipe.id %}">
                                            <input type="submit" class="btn danger" value="{% trans "Delete" %}" />
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        {% endifequal %}
                    </td>
                    <!-- recipe art -->
                    <td>
                        <div class="recipeart" >{{ recipe.thumbmedium|safe }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    {% paginate %}

    {% else %}
        <p>{% trans "No recipes yet." %}</p>
    {% endif %}
    </div>
{% endblock %}

