{% extends "recipes/base.html" %}

{% load i18n %}

{% load avatar_tags %}
{% load comments_tag %}
{% load bootstrap_tags %}
{% load oembed_tags %}

{% block head_title %}{{recipe.name}}{% endblock %}
{% block extra_head %}
<style>
td >img{
float:left; 
height:20;
width:20;
}
img > p {
float:left;
}
</style>
 

            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">

                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
{%endblock%}
{% block subnav %}
<div class="well" >   <p>
                                      
             <div class="thumbnail" >{{ recipe.thumbmedium|safe }}</div>
              
          </p>    
<h1 style="color:brown;"> {{ recipe.name }}</h1> <br/>
        
        <!social sharing>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><br/><br/>
        
         <g:plusone size="medium"></g:plusone>
      <br/><br/>            
         
         <!remove from fav recipes>
              
       <a class="btn danger" id="favrembtn" href="#"><i class="icon-minus icon-white"></i>{% trans " Fav" %} </a><br/><br/>
      
        
         <! uploaded user details >
      
        <div class="avatar" ><a href="{% url profile_indetail recipe.adder.username %}">{% avatar recipe.adder 40 %}
                        <div class="details"> {% if recipe.adder.get_profile.name %}
                      {{ recipe.adder.get_profile.name }}
                        {% else %}{{recipe.adder}}
                         {% endif %}  </div></a></div>
                    
                        <br/> 
         <br/>
         <br/>
         <!-- recipe action -->
            {% if isyours %}
                            <!-- update recipe -->
                            <form method="GET" action="{% url update_recipe recipe.id %}">
                                <button type="submit" class="btn primary"> <i class="icon-edit icon-white"></i>{% trans " Update" %} </button>
                            </form>
                        <br/>
                            
            {% else %}        
            {% endif %}
        </p>
     <div>
   <a href="{% url upload_recipe %}" class="btn primary">Upload a Recipe</a>
 </div>
<br/>






</div>

{% endblock %}


{% block body %}
        {% if user.is_authenticated %}
 
         <a class="btn success" style="float:center;" id="favaddbtn" href="#"><i class="icon-plus icon-white"></i>{% trans " Favorites" %} </a>
        {%endif%}
      

        <div id=raterec class="rstar" style="float:left;"></div>


           <a href="/recipes/" class="btn" style="float:right;top-margin:-35px;">Recipes</a> 
<br/><br/>
    <div class="well">
        <p>
            <!-- recipe info -->
          
            <div class="body">
                <table class="table-condensed">
                   <tr>
                       <td>
                           <img style="float:left; height="20" width="20" align="middle" src="/site_media/static/icons/aka.png"/>&nbsp &nbsp
                           <p style="float:left;">&nbsp <strong>Also Known as</strong></p>
                            </td>
                             <td> {{ recipe.alsoknownas }}</td>
                    </tr>
                <tr>
                  <td>   {%ifequal recipe.recipetype "Vegetarian"%}<img height="20" width="20" align="bottom" src="/site_media/static/icons/veg.jpg"/>
                         {%else%}<img height="20" width="20" align="middle" src="/site_media/static/icons/nonveg.jpg"/>
                         {%endifequal%}</td><td><p>&nbsp<strong>     Recipe Type </strong> </p></td>
                        <td>{{recipe.recipetype}}</td></tr>                        
    <tr><td> <img align="top" height="20" width="20" src="/site_media/static/icons/recipetype.png"/> <p>&nbsp<strong>  Category </strong></p></td><td>{{ recipe.category }}</td></tr>
                          <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/cuisine.png"/> <p>&nbsp<strong> Cuisine </strong></p> </td><td>{{recipe.cuisine}}</td></tr> 
                          <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/cookingmethod.png"/> <p>&nbsp<strong> Cooking Method </strong></p> </td><td>{{recipe.cookingmethod}}</td></tr> 
                          <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/servings.png"/> <p>&nbsp<strong> Servings</strong></p> </td><td>{{recipe.servings}}</td></tr> 
                                  <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/ingredients.png"/> <p>&nbsp<strong> Ingredients </strong></p> </td><td>{{recipe.ingredients}}</td></tr>                 
     <tr><td>  <img height="20" width="20" align="middle" src="/site_media/static/icons/preparation.png"/><p>&nbsp<strong>  Preparation</strong></p> </td><td>{{ recipe.preparation|linebreaks }}</td></tr>
              
                     <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/cookedin.png"/><p>&nbsp<strong> Mostly Cooked In </strong></p> </td><td>{{recipe.mostlycookedin}}</td></tr>
                      <tr><td><img align="middle" src="/site_media/static/icons/energy.png"/><p> &nbsp<strong>  Energy Levels </strong></p></td><td>{{recipe.energylevels}}</td></tr>
                       <tr><td> <img height="20" width="20" align="middle" src="/site_media/static/icons/taste.png"/><p>&nbsp<strong> Taste </strong></p> </td><td>{{recipe.taste}}</td></tr> 
                
                         <tr><td>  <img height="20" width="20" align="middle" src="/site_media/static/icons/calories.png"/><p>&nbsp<strong> Calories </strong></p> </td><td>{{recipe.calories}}</td></tr>
                          <tr><td>  <img height="20" width="20" align="middle" src="/site_media/static/icons/timetoeat.png"/><p>&nbsp<strong> Preferred At </strong></p> </td><td>{{recipe.preferredat}}</td></tr>
                         <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/video.png"/><p>&nbsp<strong>  Cooking Video</strong></p></td><td>
                         {% oembed 320X240 %}  
                         {{recipe.video}}
                         {% endoembed %}
                        </td></tr>

    <tr><td>   <img height="20" width="20" align="middle" src="/site_media/static/icons/time.png"/> <p>&nbsp<strong>  Cooking Time </strong></p></td><td> {{recipe.cookingtime}}</td></tr> 
    <tr><td>   <img height="20" width="20" align="middle" src="/site_media/static/icons/preparationtime.png"/> <p>&nbsp<strong>  Preparation Time </strong></p></td><td> {{recipe.preparationtime}}</td></tr> 
      <tr><td><img height="20" width="20" align="middle" src="/site_media/static/icons/notices.png"/><p>&nbsp<strong>  Description </strong></p></td><td> {{recipe.description}}</td></tr>
          </table>  </div>
        </p>
       
     </div>
      
{% endblock %}

{% block extra_body %}

<script>

{% if favbutton %}   

$("#favrembtn").hide();
{% else %}
$("#favaddbtn").hide();
{%endif%}


</script>




<!Google +1 BUtton script>
        <script type="text/javascript">
           (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
         po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>   
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script><br/><br/>

<script type="text/javascript" src="{{ STATIC_URL }}js/raty/js/jquery.raty.js"></script>
<script>$(document).ready(function(){

$('.rstar').raty(
{
  {% if user.is_authenticated %}
  {%else%}
   readOnly: true,  
    {%endif%} 
  size:       24,
  starOff:    'star-off-big.png',
  starOn:     'star-on-big.png',
  precision:  true,
  start:'{{score}}',
  click: function(score, evt) {
    starid = $(this).attr('id');
    $.ajax({url:"/recipes/raterecipe/{{recipe.id}}/{{user}}/"+score+"/",success:function(result){   
    alert('ID: ' + $(this).attr('id') + '\nscore: ' + score + '\nevent: ' + evt+result);}});
  } 

});


$("#favaddbtn").click(function(){

$("#favaddbtn").hide();
 $.ajax({url:"{% url favourite_recipe recipe_id=recipe.id user_name=user %}",success:function(result){ 
$("#favrembtn").show();
}});//end of ajax
});

$("#favrembtn").click(function(){

$("#favrembtn").hide();
 
$.ajax({url:"{% url favremove_recipe recipe_id=recipe.id user_name=user %}",success:function(result){ 
$("#favaddbtn").show();
}});//end of ajax
});


});
</script>
{% endblock %}

