{% extends "recipes/base.html" %}

{% load i18n %}

{% load avatar_tags %}
{% load comments_tag %}
{% load bootstrap_tags %}
{% load oembed_tags %}

{% block head_title %}{{recipe.name}}{% endblock %}
{% block subnav %}
       
<h1>{{ recipe.name }}</h1> 


        <!social sharing>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script><br/><br/>

         <g:plusone size="medium"></g:plusone>
      <br/><br/>            
        <!fb like>
        <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=500&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:21px;" allowTransparency="true"></iframe>
         <br/><br/>
         <!remove from fav recipes>
         {% if not favbutton %}        
       <form method="POST" action="{% url favremove_recipe recipe.id %}"><input type="submit" class="btn danger"value="{% trans "-Fav" %}" />
         </form>
       {% endif %} 
        {% if reuser %}
        {% if not menubutton %}       
        
        <form method="POST" action="{% url removefrommenu_restaurant recipe.id %}"><input type="submit" class="btn danger"value="{% trans "-Menu" %}" />
         </form>
       {% endif %} 
        {% endif %}
         <! uploaded user details >
        {% blocktrans %}Uploaded by{% endblocktrans %}<br/>
        <div class="avatar" >{% avatar recipe.adder 80 %}</div>
                        <div class="details"><a href="{% url profile_indetail recipe.adder.username %}">{{ recipe.adder }}</a></div>
                    
                        <br/><a href="/recipes/user_recipes/{{ recipe.adder.username }}"><strong>{% blocktrans %}View all{% endblocktrans %}</strong></a> 
         <br/>
         <br/>
         <!-- recipe action -->
            {% if isyours %}
                            <!-- update recipe -->
                            <form method="GET" action="{% url update_recipe recipe.id %}">
                                <input type="submit" class="btn primary" value="{% trans "Update" %}" />
                            </form>
                        <br/>
                            <!-- delete recipe -->
                            <form method="POST" action="{% url delete_recipe recipe.id %}">
                                <input type="submit" class="btn danger" value="{% trans "Delete" %}" />
                            </form>
            {% else %}        
            {% endif %}
        </p>










{% endblock %}


{% block body %}
        <!Google +1 BUtton script>
        <script type="text/javascript">
           (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
         po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>   
        
        {% if favbutton %}     
         <form method="POST" action="{% url favourite_recipe recipe.id %}"><input type="submit" class="btn success" value="{% trans "+Favorites" %}" />
         </form>
        
          {%endif%}
         {% if reuser %}
        {% if menubutton %}     
         <form method="POST" action="{% url addtomenu_restaurant recipe.id %}"><input type="submit" class="btn success" value="{% trans "+Menu" %}" />
         </form>
        {% endif %}
          {%endif%}

        {% if ratingform %}
        <form method="POST" action="{% url rate_recipe recipe.id %}">
        <input type="text" name="reciperating"/>
        <input type="submit" value="Rate"/>
        </form> 
         {%endif%}
       
       <p>
                                      
             <div class="recipeart" >{{ recipe.thumb|safe }}</div>
              
          </p>
    
        <p>
            <!-- recipe info -->
          
            <div class="body">
                <strong>Also Known as: {{ recipe.alsoknownas }}<br /> Category: {{ recipe.category }}<br /></strong>
                       Preparation: {{ recipe.preparation|linebreaks }}<br/>
                <strong>Recipe Type : {{recipe.recipetype}}<br/> Mostly Cooked In : {{recipe.mostlycookedin}},<br/>Energy Levels : {{recipe.energylevels}}<br/>Health : {{recipe.health}}<br/> Ingredients : {{recipe.ingredients}}<br/> Taste : {{recipe.taste}}<br/>
        <p>Cooking Video</p><br/>
       {% oembed 320X240 %}  
       {{recipe.video}}
       {% endoembed %}
       <br/>

       Cooking Time : {{recipe.cookingtime}}<br/> Description : {{recipe.description}}</strong>
            </div>
        </p>
       
     
      
{% endblock %}

