{% extends "recipes/recipes_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Recipes{% endblocktrans %}{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
           
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
            {% endblock %}
{% endblock %}
{% block subnav %}


<div id="recipetabs" class="homeviewnav">
 <p class="active"><a href="#" id="newadd">{% trans "New" %}</a></p><br/>
<p> <a href="#" id="trending" style="text-align:left;text-decoration:none;">{% trans "Trending" %}</a></p><br/>
<p ><a href="{%url recipeshuffle %}" id="rcpshf" style="text-align:left;text-decoration:none;">Recipe Shuffle</a></p><br/>


{% if user.is_authenticated %}
<p> <a href="#" id="recos" style="text-align:left;text-decoration:none;">{% trans "Suggested Recipes" %}</a></p><br/>
<p ><a href="#" id="myrcps" style="text-align:left;text-decoration:none;">My Recipes</a></p><br/>
<p ><a href="{% url select_sug_recipes %}" id="sugme" style="text-align:left;text-decoration:none;">Suggest Me</a></p><br/>
<p> <a href="#" id="strm" style="text-align:left;text-decoration:none;">{% trans "Stream" %}</a></p><br/>
{%endif%}

<p ><a href="#" id="searchrecipes" style="text-align:left;text-decoration:none;">Search</a></p><br/>

</div>


<div id="filtersearch" class="hide">
<div id="hidefilter" class="homeviewnav">
 <p class="active"><a href="#" id="hidebtn">{% trans "Hide" %}</a></p>
</div>
<form id="filsearchform" method="POST" action="/recipes/searchrecipes/">
<div class="row">
<p>Category</p>
<select name="category" id="id_category" class="input-medium">
<option value="Any">Any</option>
<option value="Beverages">Beverages</option>
<option value="Breads">Breads,Cakes</option>
<option value="Choco">Candy,Cookies,Chocolates</option>
<option value="SideDishes">Curries,Side-Dishes,Pickles,Chutneys</option>
<option value="DessertsSweets">Desserts &amp; Sweets</option>
<option value="MainDishes">Main-Dishes,Rice</option>
<option value="Noodles">Noodles &amp; Pastas</option>
<option value="Salads">Salads</option>
<option value="Sandwiches">Pie,Pizza,Sandwiches</option>
<option value="Sauces">Sauces</option>
<option value="Snacks">Snacks</option>
<option value="Soup">Soup</option>
<option value="Other">Other</option>
</select>
</div>
<div class="row">
<p>Meal</p>
<select name="meal" id="id_meal" class="input-medium">
<option value="Any">Any</option>
<option value="Breakfast">Breakfast</option>
<option value="Lunch">Lunch</option>
<option value="Dinner">Dinner</option>
</select>
</div>
<div class="row">
<p>Cuisine</p>
<select name="cuisine" id="id_cuisine" class="input-medium">
<option value="Any">Any</option>
<option value="African">African</option>
<option value="American">American</option>
<option value="Asian">Asian</option>
<option value="Austrian">Austrian</option>
<option value="Authentic">Authentic</option>
<option value="British">British</option>
<option value="Caribbean">Caribbean</option>
<option value="Chinese">Chinese</option>
<option value="Cuban">Cuban</option>
<option value="Eastern European">Eastern European</option>
<option value="French">French</option>
<option value="German">German</option>
<option value="Greek">Greek</option>
<option value="Hawaiian">Hawaiian</option>
<option value="Hungarian">Hungarian</option>
<option value="Andhra">Indian - Andhra</option>
<option value="Awadhi">Indian - Awadhi</option>
<option value="Bengali">Indian - Bengali</option>
<option value="Bihari">Indian - Bihari</option>
<option value="Goan">Indian - Goan</option>
<option value="Gujarati">Indian - Gujarati</option>
<option value="Hyderabadi">Indian - Hyderabadi</option>
<option value="Jain">Indian - Jain</option>
<option value="Kashmiri">Indian - Kashmiri</option>
<option value="Maharashtrian">Indian - Maharashtrian</option>
<option value="Parsi">Indian - Parsi</option>
<option value="Punjabi">Indian - Punjabi</option>
<option value="Rajasthani">Indian - Rajasthani</option>
<option value="Sindhi">Indian - Sindhi</option>
<option value="South Indian">Indian - South Indian</option>
<option value="Italian">Italian</option>
<option value="Japanese">Japanese</option>
<option value="Jewish">Jewish</option>
<option value="Korean">Korean</option>
<option value="Malaysian">Malaysian</option>
<option value="Mediterranean">Mediterranean</option>
<option value="Mexican">Mexican</option>
<option value="Middle Eastern">Middle Eastern</option>
<option value="Moroccan">Moroccan</option>
<option value="Pacific Northwest">Pacific Northwest</option>
<option value="Scandinavian">Scandinavian</option>
<option value="South American">South American</option>
<option value="Spanish">Spanish</option>
<option value="Swiss">Swiss</option>
<option value="Thai">Thai</option>
<option value="Vietnamese">Vietnamese</option>
</select>
</div>
<div class="row">
<p>Cooking Method</p>
<select name="cookingmethod" id="id_cookingmethod" class="input-medium">
<option value="Any">Any</option>
<option value="Bake">Bake</option>
<option value="Blender">Blender</option>
<option value="Bread Machine">Bread Machine</option>
<option value="Broil">Broil</option>
<option value="Convection Oven">Convection Oven</option>
<option value="Fondue">Fondue</option>
<option value="Food Processor">Food Processor</option>
<option value="Fry">Fry</option>
<option value="Grill">Grill</option>
<option value="Grill Pan">Grill Pan</option>
<option value="Grind">Grind</option>
<option value="Ice-Cream Maker">Ice-Cream Maker</option>
<option value="Marinate">Marinate</option>
<option value="Microwave">Microwave</option>
<option value="Poach">Poach</option>
<option value="Pressure Cooker">Pressure Cooker</option>
<option value="Roast">Roast</option>
<option value="Microwave">Microwave</option>
<option value="Sandwich Press">Sandwich Press</option>
<option value="Slow Cook">Slow Cook</option>
<option value="Steam">Steam</option>
<option value="Waffle Maker">Waffle Maker</option>
</select>
                    
</div>
<div class="row">
<p>Taste</p>
<select name="taste" id="id_taste" class="input-medium">
<option value="Any">Any</option>
<option value="Spicy">Spicy</option>
<option value="Sweet">Sweet</option>
<option value="Mild">Mild</option>
<option value="Sour">Sour</option>
<option value="SweetSour">Sweet &amp; Sour</option>
<option value="Tangy">Tangy</option>
</select>
</div>
            


<div class="row">
  <p>Servings</p>
    <select name="servings" id="id_servings" class="input-medium">
<option value="Any">Any</option>
<option value="One">One</option>
<option value="Two">Two</option>
<option value="Three">Three</option>
<option value="Four">Four</option>
<option value="Five">Five</option>
<option value="Six">Six</option>
<option value="Seven">Seven</option>
<option value="Eight">Eight</option>
<option value="Nine">Nine</option>
<option value="Ten">Ten</option>
</select>
</div>
<div class="row">
<p>Preparation Time</p>
<select name="preparationtime" id="id_preparationtime" class="input-medium">
<option value="Any">Any</option>
<option value="10 to 15 Min">10 to 15 Minutes</option>
<option value="15 to 30 Min">15 to 30 Minutes</option>
<option value="30 Min to 1 Hour">30 Min to 1 Hour</option>
<option value="More than 1 Hr">More than 1 Hour</option>
<option value="More than 1 Hr">More than 1 Hour</option>
<option value="6 to 8 Hrs">6 to 8 Hours</option>
<option value="Half Day">Half Day</option>
<option value="1 Dy">1 Day</option>
<option value="More than 1 Dy">More than 1 Day</option>
<option value="3 to 4 Days">3 to 4 Days</option>
<option value="A Week">A Week</option>
</select>
</div>

<div class="row">
<p>Cooking Time</p>
<select name="cookingtime" id="id_cookingtime" class="input-medium">
<option value="Any">Any</option>
<option value="0 to 5 Min">0 to 5 Minutes</option>
<option value="5 to 10 Min">5 to 10 Minutes</option>
<option value="10 to 15 Min">10 to 15 Minutes</option>
<option value="15 to 30 Min">15 to 30 Minutes</option>
<option value="30 Min to 1 Hour">30 Min to 1 Hour</option>
<option value="More than 1 Hr">More than 1 Hour</option>
</select>
</div>
<br/>
<div class="row">
   <input type="submit" class="btn info" value="Search" />
 </div>
</form>
</div>
<div class="row">
   <a href="{% url upload_recipe %}" class="btn primary">Upload a Recipe</a>
 </div><br/>

{%endblock%}


{% block body %}

  <div id="newrecipes" class="well" style="background:white;overflow:auto;width:80%;height:100%;">
    <!-- alternate -->
    {% if recipes %}
    
 
        
        
                           {% for recipe in recipes %}
                 
                 <a class="thumbnail" style="text-decoration:none;" href="/recipes/{{ recipe.id }}/recipe/">
                  {{ recipe.thumb|safe }}<br><br/>
                  <p class="hometabletext">{{ recipe.name }}</p>
                 </a><br class="clearboth">
                
            {% endfor %}

        


    {% else %}
        <p>{% trans "No recipes yet." %}</p>
    {% endif %}
</div>
 <div id="serrecipes" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
     <div id="reshead" class="hide"><h4 style="text-align:center;color:green;">Search Results</h4> <hr/>
 <h2 style="text-align:center;" id="resultser" class="well hide">No Recipes found.</h2> 
  </div>
<div id="serdi" class="searchdiv hide">

 <a href="#" class="thumbnail" style="text-decoration:none;" >
                   <img /><br>
                  <p class="hometabletext"></p>
                 </a><br class="clearboth">
    </div></div> 

<div id="trendingrecipes" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                   
<div >

  <a class="thumbnail link" style="text-decoration:none;" >

                   <img  /><br><br/>
                  <p class="hometabletext"></p>
                 </a><br class="clearboth">

    </div>  
  </div>       
  

{% if user.is_authenticated %}
 <div id="sugrecipes" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                    <h4 style="text-align:center;" id="resultsug" class="well hide">No Recipes found.
                      Rate more recipes to get personalised suggestions</h4> 
 <div class="resdi" class="hide">

  <a class="thumbnail" style="text-decoration:none;">

                   <img  /><br><br/>
                  <p class="hometabletext"></p>
                 </a><br class="clearboth">
  </div>  
  </div>  
 <div id="myrecipes" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                   <div id="resultmy" class="well hide" style="text-align:center;"><h4>You have not uploaded any recipe :( </h4><hr/><a href="{% url upload_recipe %}" class="btn primary">Upload a Recipe</a> 
               </div> 
<div id="myresdi" class="hide">

  <a class="thumbnail link" style="text-decoration:none;" >

                   <img  /><br><br/>
                  <p class="hometabletext"></p>
                 </a><br class="clearboth">

    </div>  
  </div>  

<div id="hstream" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                <div>
                <a class="actor" style="float:left;text-decoration:none;"></a>
                <p class="verb" style="float:left;"></p> 
                <a class="obj" style="float:left;text-decoration:none;"></a>
               <br/>
                <hr/>
                </div>
           </div>     

        
{%endif%}
{% endblock %}


{% block extra_body %}

{%include "recipes/recipesjs.html"%}

{% endblock %}

