{% extends "site_base.html" %}

{% load i18n %}

{% load avatar_tags %}


{% block head_title %}{% blocktrans %}Select Category{% endblocktrans %}{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
    
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
            <style>
            .circle{
            margin-left:50px;margin-top:50px;margin-right:auto;margin-bottom:auto;
            }
           
            
            </style>

            {% endblock %}
{% endblock %}
{% block body %}
<h3 style="text-align:center;color:green;">Select Category</h3>
<table class="table table-bordered">



<tbody>
<tr>    <td><a href="/recipes/suggest/Beverages">
<div class="circle" style="background:url('{{ STATIC_URL }}img/beverages.png') no-repeat;">
    </div><p class="tabletext">Beverages</p></a>
 </td>
<td>
<a href="/recipes/suggest/Breads">  
  <div class="circle" style="background:url('{{ STATIC_URL }}img/bread.png') no-repeat;">
  
    </div><p class="tabletext">Breads</p>
</a></td>
<td>
   <a href="/recipes/suggest/Choco">  
 <div class="circle" style="background:url('{{ STATIC_URL }}img/chocos.png') no-repeat;">
    </div><p class="tabletext">Cookies & Chocos</p>
</a></td>
<td>
 <a href="/recipes/suggest/SideDishes/">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/carrot.png') no-repeat;">
    </div><p class="tabletext">Curries & Side Dishes</p></a>
</td>
</tr>
<tr>
<td>
 <a href="/recipes/suggest/DessertsSweets/">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/dessert.png') no-repeat;">
    </div><p class="tabletext">Desserts & Sweets</p></a>
</td>
<td>
 <a href="/recipes/suggest/MainDishes"> 
 <div class="circle" style="background:url('{{ STATIC_URL }}img/food.png') no-repeat;">
   
  
    </div><p class="tabletext">Main Dishes,Rice</p></a>
</td><td>
<a href="/recipes/suggest/Noodles">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/noodles.png') no-repeat;">
  
    </div><p class="tabletext">Noodles</p></a>
</td>


<td>
  <a href="/recipes/suggest/Salads"> 
<div class="circle" style="background:url('{{ STATIC_URL }}img/salad.png') no-repeat;">

   </div><p class="tabletext">Salads</p></a>
 </td>

</tr>
<tr>
<td>
 <a href="/recipes/suggest/Sandwiches"> 
 <div class="circle" style="background:url('{{ STATIC_URL }}img/pizza.png') no-repeat;">
   
    </div><p class="tabletext">Sandwiches & Pizzas</p></a>
</td>
<td>
 <a href="/recipes/suggest/Sauces"> 
 <div class="circle" style="background:url('{{ STATIC_URL }}img/sauce.gif') no-repeat;">
   

    </div><p class="tabletext">Sauces</p></a>
</td>
<td>

 <a href="/recipes/suggest/Snacks">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/snacks.png') no-repeat;">
 
    </div><p class="tabletext">Snacks</p></a>
</td>
<td>
<a href="/recipes/suggest/Soups">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/soup.png') no-repeat;">
  
    </div><p class="tabletext">Soups</p></a>
</td>


</tr>

</tbody>
</table>



{% endblock %}
