{% extends "site_base.html" %}

{% load i18n %}

{% load avatar_tags %}


{% block head_title %}{% blocktrans %}Select Category{% endblocktrans %}{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
    
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
            <style>
            .circle{
            margin-left:50px;margin-top:50px;margin-right:auto;margin-bottom:auto;
            }
           
            
            </style>

            {% endblock %}
{% endblock %}
{% block body %}
<h3 style="text-align:center;color:green;">Select Category</h3>
<table class="table table-bordered">



<tbody>
<tr>    <td><a href="/recipes/suggest/Breads">
<div class="circle" style="background:url('{{ STATIC_URL }}img/bread.png') no-repeat;">
    </div><p class="tabletext">Breads</p></a>
 </td>
<td>
<a href="/recipes/suggest/Soup">  
  <div class="circle" style="background:url('{{ STATIC_URL }}img/bfast.png') no-repeat;">
  
    </div><p class="tabletext">Breakfast</p>
</a></td>
<td>
   <a href="/recipes/suggest/Juice">  
 <div class="circle" style="background:url('{{ STATIC_URL }}img/juice.png') no-repeat;">
    </div><p class="tabletext">Juice</p>
</a></td>
<td>
 <a href="/recipes/suggest/Breads">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/dessert.png') no-repeat;">
    </div><p class="tabletext">Desserts & Sweets</p></a>
</td>
</tr>
<tr><td>
 <a href="/recipes/suggest/Snacks">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/snacks.png') no-repeat;">
 
    </div><p class="tabletext">Snacks</p></a>
</td>
<td>
  <a href="/recipes/suggest/Salad"> 
<div class="circle" style="background:url('{{ STATIC_URL }}img/salad.png') no-repeat;">

   </div><p class="tabletext">Salad</p></a>
 </td><td>
 <a href="/recipes/suggest/Juice"> 
 <div class="circle">
   
  <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > </div>
    </div><p class="tabletext">Sauce</p></a>
</td><td>
<a href="/recipes/suggest/Soup">  
<div class="circle" style="background:url('{{ STATIC_URL }}img/soup.png') no-repeat;">
  
    </div><p class="tabletext">Soup</p></a>
</td>
</tr></tbody>
</table>



{% endblock %}
