{% extends "site_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Suggestions{% endblocktrans %}{% endblock %}

{% block extra_head_base %}
            {% block extra_head %}
           
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
            {% endblock %}
{% endblock %}



{% block body %}
       <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;"><img src="{{STATIC_URL}}icons/recipes.png"/> Suggestions</h3>
<div style="margin-top:-25px;text-align:right;">
<a href="{% url select_sug_recipes %}" class="btn" id="myphotos" >{% trans "Suggest Recipes" %}</a>&nbsp

    <a href="{%url recipes%}" class="btn primary">{% trans " Recipes" %}</a>&nbsp
</div>   
 <hr/>
    </div>
    {% if recipes %}
    
   {% for recipe in recipes %}
                 
                 <a class="thumbnail" style="text-decoration:none;" href="/recipes/{{ recipe.id }}/recipe/">
                  {{ recipe.thumb|safe }}<br><br/>
                  <p class="hometabletext">{{ recipe.name }}</p>
                 </a><br class="clearboth">
                
            {% endfor %}

   <h4 style="text-align:center;" id="resultsug" class="well">
                      Rate more recipes to get personalised suggestions</h4> 

    {% else %}
                      <h4 style="text-align:center;" id="resultsug" class="well">No recipes to suggest.
                      Rate more recipes to get accurate suggestions</h4> 
    
   {% endif %}

     
{% endblock %}

