{% extends "subnav_base.html" %}

{% load i18n %}

{% load bootstrap_tags %}


{% block head_title %}{% blocktrans %}Update Recipe{% endblocktrans %}{% endblock %}
{% block subnav %}
   
<a href="/recipes/{{ recipe.id }}/recipe/"><div class="resart" >{{ recipe.thumbmedium|safe }}</div>
        <h4>{{ recipe.name }} </h4></a><br/>
<form method="POST" action="{% url delete_recipe recipe.id %}">
                                <button type="submit" class="btn danger"> <i class="icon-trash icon-white"></i>{% trans " Delete" %} </button>
                            </form>
{%endblock%}
{% block body %}
    

    {% if user == recipe.adder %}
    <h3 style="text-align:center;">{% trans "Update" %}</h3><hr/>
        <div class="well"><form enctype="multipart/form-data" method="POST" action="" class="uniForm">
           
            <fieldset class="inlineLabels">
                {{ recipe_form|as_bootstrap }}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{% trans 'Update' %}">
                     <a href="/recipes/{{ recipe.id }}/recipe/" class="btn ">Cancel</a>      
          </div>
            </fieldset>
        </form>
      </div>
   {% else %}    
     <meta http-equiv="Refresh" content="0;url=/recipes/{{ recipe.id }}/recipe/" />
 {% endif %}
   
     


{% endblock %}

