{% extends "subnav_base.html" %}

{% load i18n %}

{% load bootstrap_tags %}


{% block head_title %}{% blocktrans %}Update Recipe{% endblocktrans %}{% endblock %}

{% block extra_head %}
<script>

     $(document).ready(function(){

   //script to correct Django ImageField bugs    
    $("#id_recipeart").parent().parent().remove();
   //end of ImageField

});
</script>
{% endblock %}
{% block subnav %}
   
<a href="/recipes/{{ recipe.id }}/recipe/"><div class="resart" >{{ recipe.thumbmedium|safe }}</div>
        <h4>{{ recipe.name }} </h4></a><br/>
   <div class="row">           
    <a href="#deleteModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn danger" style="text-align:right;">Delete</a> 
</div>
{%endblock%}
{% block body %}

    {% if user == recipe.adder %}
    <h3 style="text-align:center;">{% trans "Update" %}</h3><hr/>
        <div class="well"><form enctype="multipart/form-data" method="POST" action="" class="uniForm">
           
            <fieldset class="inlineLabels">
                                 <h4 style="text-align:center;">Recipe Art</h4><hr/><div class="resart" style="text-align:center;" >{{ recipe.thumbmedium|safe }}</div> <br/>      
{%include "recipes/smallimg.html"%}
                  </div><div class="well" id="detailsdiv">
                 <h4 style="text-align:center;">Details</h4>  <hr/>
           <div style="text-align:center;" id="formdiv">      
        {{ recipe_form|as_bootstrap }}
       </div>         
       <div class="actions">
                    <input type="submit" class="btn primary" value="{% trans 'Update' %}">
                     <a href="/recipes/{{ recipe.id }}/recipe/" class="btn ">Cancel</a>      
          </div>
            </fieldset>
        </form>
      </div>
  
<div class="modal hide " id="deleteModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Delete {{recipe.name}}</h3>
  </div><br/>
  <div class="modal-body"> 	
  <p class="landingtext">Are you sure you want to delete?</p> 
  </div>
  <div class="modal-footer">
  
                              
                     <a href="{% url delete_recipe recipe.id %}" type="submit" class="btn danger"> <i class="icon-trash icon-white"></i>{% trans " Delete" %} </a>
                     <a href="#" class="btn" data-dismiss="modal" >Cancel</a>                          
  

    </div>

</div>    
</div> 

 {% endif %}
   
     


{% endblock %}

