{% extends "recipes/base.html" %}

{% load i18n %}

{% load bootstrap_tags %}

{% block head_title %}{% blocktrans %}Upload Recipe{% endblocktrans %}{% endblock %}
{% block extra_head %}
<script>
$(document).ready(function(){
$('body').css("background-image","url({{STATIC_URL}}img/blue.png)");
});//end of doc ready
</script>


{% endblock %}
{% block subnav %}
<div>
<h4 style="color:white;">How to?</h4><img style="float:left;" src="{{STATIC_URL}}icons/down.png"/><br></div><hr/>
<div class="well">
<table>
<tr><td><img align="middle" src="{{STATIC_URL}}icons/camera.png"/></td><td><p>Choose the image of the recipe i.e Recipe Art</p></td></tr>
<tr><td><img src="{{STATIC_URL}}icons/recipes.png"/></td><td><p>Enter the name of the recipe in the Name Field</p></td></tr>
<tr><td><img src="{{STATIC_URL}}icons/aka.png"/></td><td><p>  Enter the othername of the recipe if any in the Also Known As Field.</p></td></tr>
<tr><td><img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/veg.jpg"/></td><td> <p>Select the type of recipe i.e Veg or Non-Veg</p></td></tr>
<tr><td><img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/recipetype.png"/> </td><td><p>Select the category of the recipe and  cuisine.Select the cooking method and servings</p></td></tr>
<tr><td><img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/ingredients.png"/></td><td> <p>Enter the Ingredients followed by the quantity required to make the recipe</p></td></tr>
<tr><td><img align="middle" src="{{STATIC_URL}}icons/preparation.png"/></td><td><p>Enter the step by step instructions and also the time break in between the steps for the preparation of the recipe</p></td></tr>
<tr><td><img  align="middle" src="{{STATIC_URL}}icons/calories.png"/></td><td><p> Enter the calories the recipe provides if you are aware.Don't provide incorrect values insted leave the field blank</p></td></tr>
<tr><td><img  align="middle" src="{{STATIC_URL}}icons/cookedin.png"/> </td><td><p>Enter the places where the recipe is famous if you are aware.You can leave the field blank</p></td></tr>
<tr><td> <img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/timetoeat.png"/></td><td>  <p>Select the taste of the recipe and the preferred time to eat/drink.</p></td></tr>
<tr><td> <img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/video.png"/> </td><td><p>Paste the URL of the video that contains recipe preparation.Upload your own cooking video if you don't find any on YouTube and paste the URL in the Video field</p></td></tr>
<tr><td><img  align="middle" src="{{STATIC_URL}}icons/time.png"/></td><td> <p>Select the cooking time and preparation time required to make the recipe</p></td></tr>
<tr><td><img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/notices.png"/></td><td><p> Describe the recipe like its history,additional tips,best time to cook,equipment to use etc.</p></td></tr>
<tr><td><img style="float:center;" align="bottom" width="20" height="20"  src="{{STATIC_URL}}icons/upload.png"/></td><td><p>Click on the Upload button and you are done :)</p></td></tr>
</table>
</div>
{% endblock %}
{% block body %}
     <div>
    <h3 style="text-align:center;color:white;"><img style="float:center;" align="bottom" width="20" height="20"  src="{{STATIC_URL}}icons/upload.png"/>&nbsp{% trans "Upload Recipe" %}</h3>
    <br></div><hr/>
   <div class="well"> 
   <form enctype="multipart/form-data" method="POST" action="" class="uniForm" style="position:block;left:10000px;">
      {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ recipe_form|as_bootstrap }}
            <div class="actions">
                <input type="submit" class="btn success" value="{% trans 'Upload' %}">
                <a href="{% url home %}" class="btn" >Cancel</a>  
          </div>
        </fieldset>
    </form>
</div>
{% endblock %}

