{% extends "home_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Recipes{% endblocktrans %}{% endblock %}

{% block subnav %}
<h3 style="color:green;"><img src="/site_media/static/icons/recipes.png"/> Recipes</h3><hr/>

<h5>By Category</h5>
<ul class="nav nav-pills nav-stacked">
<li class="active"><a href="#">All </a></li>
<li><a href="#">Breads</a></li>
<li><a href="#">Juice</a></li>
<li><a href="#">Desserts & Sweets</a></li>
<li><a href="#">Snacks</a></li>
<li><a href="#">Salad</a></li>
<li><a href="#">Sauce</a></li>
<li><a href="#">Soup</a></li>
</ul>
<h5>By Meal</h5>
<ul class="nav nav-pills nav-stacked">
<li><a href="#">Breakfast </a></li>
<li><a href="#">Lunch</a></li>
<li><a href="#">Snacks</a></li>
<li><a href="#">Dinner</a></li>
</ul>

{%endblock%}


{% block body %}
    
    
    <!-- alternate -->
    {% if recipes %}
    
    {% autopaginate recipes 5 %}
        
        <table class="recipes">
            {% for recipe in recipes %}
                <tr class="{% cycle odd,even %}">
                    <!-- meta -->
              
                    <!-- recipe info -->
                    <td>
                        <h3><a href="/recipes/{{ recipe.id }}/recipe/">{{ recipe.name }}</a></h2>
                        <div class="body">
                            <strong><i>Also Known as :{{ recipe.alsoknownas }}<br />Category : {{ recipe.category }}<br /> Type : {{ recipe.recipetype }}</strong></i>
                        
                        </div>
                       
                       {% ifequal list 'yours' %}
                            <table>
                                <tr>
                                    <td>
                                        <!-- udpate recipe -->
                                        <form method="GET" action="{% url update_recipe recipe.id %}">
                                            <input type="submit" class="btn primary" value="{% trans "Update" %}" />
                                        </form>
                                    </td>
                                    <td>
                                        <!-- delete recipe -->
                                        <form method="POST" action="{% url delete_recipe recipe.id %}">
                                            <input type="submit" class="btn danger" value="{% trans "Delete" %}" />
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        {% endifequal %}
                    </td>
                    <!-- recipe art -->
                    <td>
                        <div class="recipeart" >{{ recipe.thumbmedium|safe }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    {% paginate %}

    {% else %}
        <p>{% trans "No recipes yet." %}</p>
    {% endif %}
    
{% endblock %}

