﻿/* YoxView v2.0 CSS file */
#yoxview .yoxview_bottom{ bottom: 0; }
#yoxview .yoxview_right{ float: right; }
#yoxview .yoxview_left{ float: left; }

#yoxview_popupWrap
{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}
#yoxview
{
	position: absolute;
	font-family: Arial, Sans-Serif;
	z-index: 999;
	border: solid 1px #999;
	overflow: hidden;
	font-size: 10pt;
	text-align: left;
}
#yoxview a img, #yoxview_infoPanel a img{ border: none; }
#yoxview a:focus{ outline: none; }
#yoxview div.yoxview_imgPanel{ position: absolute; top: 0; left: 0; }
#yoxview div.yoxview_mediaPanel
{ 
	position: absolute; 

	background: #191919; 
	width: 100%; 
	height: 100% 
}
#yoxview .yoxview_ctlBtn
{
	position: absolute; 
	z-index: 3;
	display: block;
	text-decoration: none;
	outline: none;
	width: 50%;
	height: 100%;
}
#yoxview .yoxview_ctlBtn img
{
	position: absolute;
	border: none;
	top: 50%;
	margin-top: -22px;
}
#yoxview a.yoxview_ctlBtn:focus, #yoxview a.yoxview_ctlBtn:active{ outline: none; outline: none;}
#yoxview .yoxview_notification
{
	width: 59px; 
	height: 59px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: -30px;
	margin-left: -30px;
	z-index: 4;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	display: none;
}

#yoxview #yoxview_ajaxLoader img
{
	padding: 13px;
}
#yoxview .yoxview_popupBarPanel
{
	position: absolute;
	z-index: 4;
	min-height: 70px;
	width: 100%;
	right: 0;
}
#yoxview #yoxview_menuPanel
{ 
	width: 145px; 
	height: 42px; 
	padding-top: 0px;
	padding-right: 9px;
	position: absolute; 
	right: 0;
	background: url(../images/sprites.png) no-repeat left -77px;
	background: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 0 0 0 15px;
	-webkit-border-radius: 0 0 0 15px;
	border-radius: 0 0 0 15px;
	top: -42px;
}

#yoxview #yoxview_menuPanel a
{ 
	display: block; 
	width: 45px; 
	float: right; 
	text-align: center; 
	font-size: 0.8em; 
	position: relative;
	margin-top: -5px;
	padding-bottom: 13px;
	text-decoration: none;
	font-family: Arial, Sans-Serif;
}
#yoxview #yoxview_menuPanel a span{ color: White; display: block; margin-bottom: 3px;  }
#yoxview #yoxview_menuPanel a.last{ margin-left: 0; }
#yoxview #yoxview_menuPanel a:focus{ outline: none; }
#yoxview_infoPanel
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	color: White;
	z-index: 2;
	overflow: hidden;
}
#yoxview_infoPanel #yoxview_infoPanelBack
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
}
#yoxview_infoPanel #yoxview_infoPanelContent
{
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
}
#yoxview_infoPanel span#yoxview_count
{
	display: block;
	width: 55px;
	font-size: 0.8em;
	float: left;
	text-align: center;
	padding-top: 8px;
	color: #bbb;
}
#yoxview_infoPanel #yoxview_infoText
{
	margin: 0 55px;
	font-size: 12pt;
	padding: 5px 0;
}
#yoxview_infoPanel #yoxview_infoText #yoxview_infoTextDescription
{
	margin-top: 1em;
	font-size: 10pt;
	padding-bottom: 0.5em;
	max-height: 200px;
	overflow: auto;
	padding-right: 10px;
}
#yoxview_infoPanel #yoxview_infoText a, #yoxview .yoxview_error a{ color: #a7d557; text-decoration: none; outline: none; }
#yoxview_infoPanel #yoxview_infoText a:hover, #yoxview .yoxview_error a:hover{ color: #d5eeaa }
#yoxview_infoPanel a.yoxviewInfoLink
{
	display: none;
	opacity: 0.8;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
#yoxview_infoPanel a.yoxviewInfoLink:hover{ opacity: 1 }
#yoxview #yoxview_helpPanel
{
	display: none;
	width: 201px;
	height: 312px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -171px;
	margin-left: -111px;
	z-index: 5;
	color: White;
	padding: 20px;
	padding-top: 10px;
	cursor: pointer;
}
#yoxview #yoxview_helpPanel h1{ font-family: Arial Black, Arial, Sans-Serif; font-size: 1em; }
#yoxview #yoxview_helpPanel p{ margin-top: 80px; }
#yoxview #yoxview_helpPanel span#yoxview_closeHelp{ display: block; position: absolute; bottom: 20px; left: 0; text-align: center; width: 100%; }
#yoxview .yoxview_error
{
	display: block;
	text-align: center;
	color: White;
	font-family: Arial, Sans-Serif;
	font-size: 14pt;
	top: 41%;
	width: 100%;
	height: 20%;
	position: absolute;
	padding: 10px;
}
#yoxview .yoxview_error .errorUrl{ font-size: 10pt; }
#yoxview .yoxview_top{ top: 0; width: 50%; }
#yoxview .yoxview_element{ width: 100%; height: 100%; position: absolute;  border: none; background: #333; }

.yoxview-thumbnails a
{
	float: left;
	margin: 4px;
	/* For thumbnails opacity: */
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.yoxview-thumbnails a:hover
{
	/* For thumbnails opacity: */
	opacity: 1;
	filter: alpha(opacity=100);
}
.yoxview-thumbnails a img
{ 
	/* Set white borders around the thumbnails, instead of the browser's default Blue: */
	border: solid 1px #ffffff;
}
.yoxview-thumbnails-details{ margin-bottom: 1em; }
.yoxview-thumbnails-details h2{ margin-bottom: 0; padding: 0; font-size: 1.2em; font-weight: bold;}
