

{% load i18n %}
{% load avatar_tags %}


    
    <h5>{% trans "Current display pic" %}</h5>
  {% avatar user 80 %}
  <hr/>
  {% if not avatars %}
      
        <p>You have not uploaded any display pic yet :(</p><hr/>
        
  {% else %}
        <h5>Select a different pic</h5>
        
        <form method="POST" action="{% url avatar_change %}">
            {% csrf_token %}
            
                {{ primary_avatar_form.choice }}
            
            <br/><br/><input type="submit" class="btn" value="Change" />
        </form><br/>
        <hr/>
        {% url avatar_delete as avatar_delete_url %}
        <p>{% blocktrans %}Don&rsquo;t like these? Choose which ones to <a id="delete-pic" >delete</a>.{% endblocktrans %}</p>
     
    {% endif %}
    <p>
    <div class="actions">
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_change%}">
        {% csrf_token %}
 
        <label for="avatar">{% trans "Upload a new picture: " %}</label>
        <input type="file" name="avatar" value="{% trans "Display picture" %}" />
        <input type="submit" class="btn primary" value="{% trans "Upload" %}" />
    </form>
    </div>
    </p>
    
   

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $('#delete-pic').click(function(){
       
        $('#pic-content').load('{{ avatar_delete_url }}');   
         $('#account-content').hide();
   });//end of delete pic
    <!-- nothing here -->
    </script>
{% endblock %}
