

{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_tags %}

    
    <h5>{% trans "Current display pic" %}</h5>
  {% avatar user 80 %}
  <hr/>
  {% if not avatars %}
      
        <p>You have not uploaded any display pic yet :(</p><hr/>
        
  {% else %}
        <h5>Select a different pic</h5>
        
        <form method="POST" id="changepicform" action="{% url avatar_ajaxchange user %}">
            {% csrf_token %}
           <ul class="avatar_choices">
                {{ primary_avatar_form.choice }}
            </ul><br class="clearboth">
            <br/><br/>   <button type="submit" class="btn"><i class="icon-picture icon-black"></i>{% trans " Change" %} </button>
        </form><br/>
        
        
     
    {% endif %}
    <p>
    <div class="actions">
    <h5>Upload a pic</h5><br/>
    <form enctype="multipart/form-data" id="picuploadform" method="POST" action="{% url avatar_change %}">
        {% csrf_token %}
          
       
        <input type="file" name="avatar" value=" Display picture" />
        <button type="submit" class="btn primary"><i class="icon-camera icon-white"></i>{% trans " Upload" %} </button>
    </form>
    </div>
    </p>
    
   

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
     $('#changepicform').submit(function() {
      $.ajax({
        data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "/displaypic/ajaxchange/"+user_name+"/", // the file to call
                success: function(response) { // on success..
                    $('#disppic-content').html(response); // update the DIV
                }
            });
            return false;
        });

   
    <!-- nothing here -->
    </script>
{% endblock %}
