

{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_tags %}

    
    <h5>{% trans "Current display pic" %}</h5>
  {% avatar user 80 %}
  <hr/>
  {% if not avatars %}
      
        <p>You have not uploaded any display pic yet :(</p><hr/>
        
  {% else %}
        <h5>Select a different pic</h5>
        
        <form method="POST" action="{% url avatar_change %}">
            {% csrf_token %}
           <ul class="avatar_choices">
                {{ primary_avatar_form.choice }}
            </ul><br class="clearboth">
            <br/><br/>   <button type="submit" class="btn"><i class="icon-picture icon-black"></i>{% trans " Change" %} </button>
        </form><br/>
        
        
     
    {% endif %}
    <p>
    <div class="actions">
    <h5>Upload a pic</h5><br/>
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_change%}">
        {% csrf_token %}
          
       
        <input type="file" name="avatar" value="{% trans "Display picture" %}" />
        <button type="submit" class="btn primary"><i class="icon-camera icon-white"></i>{% trans " Upload" %} </button>
    </form>
    </div>
    </p>
    
   

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">

    <!-- nothing here -->
    </script>
{% endblock %}
