

{% load i18n %}



{% block body %}
   
  {% if not avatars %}
        <h5>You have no pictures to delete.  Please <a href="{% url avatar_change %}">upload one</a> now.</h5>
    {% else %}
        <h5>Select which pictures to delete:</h5>
        <form method="POST" action="{{ avatar_delete_url }}">
            {% csrf_token %}
            <ul class="avatar_choices">
                {{ delete_avatar_form.choices }}
            </ul>
            <input type="hidden" name="next" value="{{ avatar_delete_url }}" />
            <input type="submit" value="Delete" />
        </form>
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
