{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}
{% load tagging_tags %}
{% load bootstrap_tags %}
{% load comments_tag %}
{% load photo_tags %}
{% load flag_tags %}
{% load group_tags %}
{% block head_title %}{% blocktrans %}Edit Photo{% endblocktrans %}{% endblock %}

{% block body %}
     <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;"> {% ifequal photo.member user%}Editing {%endifequal%}{{ photo.title }} </h3>
   <div style="margin-top:-25px;text-align:right;">
<a href="/photos/myphotos" class="btn" id="myphotos" >{% trans "My Photos" %}</a>&nbsp
{% ifequal photo.member user%}
  <a href="/photos/destroy/{{photo.id}}" class="btn danger" id="delphoto" >{% trans " Delete" %}</a>&nbsp&nbsp
  {%endifequal%}
    </div> <hr/></div>  
  
    <div class="right_panel">
        {% include "photos/newpanel.html" %}
    </div>
         

    
    <div class="photo-gallery" style="text-align:center;">
        <img src="{{ photo_url }}" alt="{{ photo.title }}"/>
    </div>
    <div style="text-align:center;"><hr/>
    {% ifequal photo.member request.user %}
        <form method="POST" action="">
            {{photo_form|as_bootstrap}}
            <div class="actions">  
              <input type="hidden" name="action" value="update" />
              <input type="submit" class="btn primary" value="Update" />
            </div>
        </form>
    {% else %}
        <p>This photo is not uploaded by you</p>
    {% endifequal %}
    </div>
{% endblock %}
