{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h3 style="color:green;text-align:center;">{% trans "Latest Photos" %}</h3><hr/>
    
    {% if photos %}
    {% autopaginate photos %}
        <div id="latestphotos" class="thumb-row clearfix yoxview">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="{% groupurl photo_details group id=photo.id %}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" title="{{ photo.title }}"/></a><br />
            By <a href="{% url profile_indetail photo.member.username %}">{% if photo.member.get_profile.name %}
                      {{ photo.member.get_profile.name }}
                        {% else %}{% user_display photo.member %}
                         {% endif %}  </a><br />
            
            
        </div>
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>{% trans "No photos were found." %}</p>
    {% endif %}
    
    
{% endblock %}

{% block extra_body %}

<script type="text/javascript">
  $(document).ready(function(){
 $("div#latestphotos").yoxview();


});
</script>

{% endblock %}

