{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}My Photos{% endblocktrans %}{% endblock %}

{% block body %}
        <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">  Photos By {%if user.get_profile.name %}{{ user.get_profile.name }}
                        {% else %}{{user}}
                         {% endif %}</h3>
   <div style="margin-top:-25px;text-align:right;">
<a href="/photos/" class="btn" id="myphotos" >{% trans "Photos" %}</a>&nbsp
<a href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn primary" ><i class="icon-plus icon-white"></i>{% trans " Photo" %}</a>&nbsp
    </div> <hr/></div>
    <div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Upload Photo</h3>
  </div>
 
 {%include "smallphotos.html" %}	
 
</div> 
    {% if photos %}
    {% autopaginate photos %}
        <div class="thumb-row clearfix">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="{% groupurl photo_edit group id=photo.id %}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
            
        </div>
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
    <p>No photos were found.</p>
    {% endif %}
    
    
{% endblock %}
