{% extends 'site_base.html'%}
{% load bootstrap_tags %}
{% load theme_tags %}
{% load i18n %}
{% load humanize %}

{% block head_title %}{% blocktrans %}Search{% endblocktrans %}{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
           
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
            {% endblock %}
{% endblock %}

{%block body %}
      <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Search" %}</h3>
<div style="margin-top:-25px;float:right;">
<a href="{%url recipes%}" class="btn" id="recipes" style="float:right;">{% trans "Recipes" %}</a>&nbsp

</div>   
<hr/>
    </div>

 
       {% if query %}
         
        
           {% for result in page.object_list %}
                 <a href="{{result.object.get_absolute_url }}" class="thumbnail" style="text-decoration:none;">
                 {{ result.object.thumb|safe }}<br><br/>
                  <p class="hometabletext">{{ result.object.name }}</p>
                 </a><br class="clearboth">
                
         
           {% empty %}
               <div class="row" style="width:70%;text-align:center;position:absolute;"> <h2 class="well">No results found.</h2>
                 

              </div><br/>
           {% endfor %}
{% if page.has_previous or page.has_next %}
     <div>
          {% if page.has_previous %}<a href="?q={{query}}&amp;page={{page.previous_page_number}}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
          {% endif %}
       {% else %}
       {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
