{% extends 'site_base.html'%}
{% load bootstrap_tags %}
{% load theme_tags %}
{% load i18n %}
{% load humanize %}

{% block head_title %}{% blocktrans %}Search{% endblocktrans %}{% endblock %}
{%block body %}
      <div class="row">
    <h3 style="color:green;margin-top:-25px;float:left;">{% trans "Search" %}</h3>
<div style="margin-top:-25px;float:right;">
<a href="{%url recipes%}" class="btn" id="recipes" style="float:right;">{% trans "Recipes" %}</a>&nbsp

</div>   
<hr/>
    </div>

     <form method="get" action=".">
      <table>
          {{ form|as_bootstrap }}
          <tr>
              <td>&nbsp;</td>
              <td>
                  <input type="submit" class="btn info" value="Search">
              </td>
          </tr>
       </table>

 
       {% if query %}
           <h3> Results</h3>
           <table>
           {% for result in page.object_list %}
             <tr>
             <td>    
                 <div><a href="{{result.object.get_absolute_url }}"> {{ result.object.name }}</a><br/>
                 </div>
             </td>
             
              
          </tr>
           </table>
           {% empty %}
               <p> No results found.</p>
           {% endfor %}
{% if page.has_previous or page.has_next %}
     <div>
          {% if page.has_previous %}<a href="?q={{query}}&amp;page={{page.previous_page_number}}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
          {% endif %}
       {% else %}
       {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
