<ul class="secondary-nav" style="float:right;" >

   

    {% if user.is_authenticated %}
      
            
          
			
    {% else %}
       
      <li id="small_login">{%include "smalllogin.html" %}</li>
      <li><a href="/account/signup" id="signupa">Sign Up</a></li>

       
   





    {% endif %}
</ul>
