{% load i18n %}
<div class="legal" style="height=100px;">
    {% trans "&copy; 2012 foode" %}
    <div style="float:right;">

        &nbsp <a style="text-decoration:none;" href="{% url about %}">{% trans "About" %}</a>&nbsp

      </div>
</div>
