{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
   
       
        <div class="image-unit"  style="background-image:url(/site_media/static/img/blue.png);">
        {% block banner %}
            <h1>Hello, world!</h1>
            <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn primary large">Learn more &raquo;</a></p>
        {% endblock %}
        </div>
        <div class="modal hide " id="signupModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Sign Up</h3>
  </div>
 
 {%include "smallsignup.html" %}
 
</div>   <div class="container">
                <div style="text-align:center;">   
     <p style="text-align:center;"><a style="float:left;" href="/login/facebook/"><img height="32" width="32" src="/site_media/static/img/flogo.png"></a></p><a id="signupbutton" href="#signupModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn primary">Sign Up</a><a style="float:right;" href="/login/twitter/"><img src="/site_media/static/img/twitter32.png"></a></p>

      </div>
       <hr/>

        <div class="row" style="margin-bottom:-100px;">
            <div class="span4">
            {% block column-1 %}

                <p> <div style="">
   <a href=" /account/signup/">
   <div class="circle" style="height:100px;weight:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#D6272F;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/group.png"/></div>
    </div>
</a></div></p><br/>                <h2 style="color:#D6272F;">foodies</h2>
               <p>Meet new foodies and talk about food :)</p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-2 %}
                <h2>Recipes</h2>
                 <p>
                 <div>
   <a  href="{% url recipes %}">
   <div class="circle" style="height:100px;weight:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/recipes.png"/></div>
    </div>
</a></div>
              </p><br/>
             <p>Get Recipe suggestions based on your tastes. Try new recipes or just upload your own exclusive recipe and add as a favorite.</p>

            {% endblock %}
            </div>
            <div class="span4">
            {% block column-3 %}
                <h2 style="color:#3232CD; text-align:left;">Restaurants</h2>
                <p><div>
    <a href="{% url restaurants %}">
   <div class="circle" style="height:100px;weight:100px; text-align:center;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#3232CD;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/restaurants.png"/></div>
    </div>
</a>
</div></p><br/>
                <p>And now you can discover any restaurant and check out its menu,recipe ratings by your friends and every foode. Add your favorite restaurant to foode </p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-4 %}
                <h2 style="color:#006300;">Photos</h2>
              <p><div>
    <a href="#">
   <div class="circle" style="height:100px;weight:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#006300;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/photo.png"/></div>
    </div>
</a>
</div></p><br/>
                <p>Share your experiences by uploading photos. :)</p>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
