{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}
   
       
        <div class="image-unit"  style="background-image:url({{ STATIC_URL }}img/blue.png);">
        {% block banner %}
            <h1>Hello, world!</h1>
            <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn primary large">Learn more &raquo;</a></p>
        {% endblock %}
        </div>
        <div class="modal hide " id="signupModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Sign Up</h3>
  </div>
 
 {%include "smallsignup.html" %}
 
</div>   <div class="container">
                <div style="text-align:center;">   
     <p style="text-align:center;"><a style="float:left;" href="/login/facebook/"><img height="32" width="32" src="{{ STATIC_URL }}img/flogo.png"></a></p><a id="signupbutton" href="#signupModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn primary">Sign Up</a><a style="float:right;" href="/login/twitter/"><img src="{{ STATIC_URL }}img/twitter32.png"></a></p>

      </div>
       <hr/>

        <div class="row" style="margin-bottom:-100px;">
            <div class="span4">
            {% block column-1 %}

                 <div class="">
   <a href=" /account/signup/">
   <div class="circle" id="foodecircle" style="height:100px;width:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#D6272F;"></div>
    <div class="inner-circle" > <img src="{{ STATIC_URL }}icons/group.png"/></div>
    </div>
</a></div>  <h3 style="color:#D6272F;">foodies</h3>   <br/>
               <p class="landingtext">Meet new foodies and talk about food</p>
          
          {% endblock %}
            </div>
            <div class="span4">
            {% block column-2 %}

                
                 <div class="">
   <a  href="{% url recipes %}">
   <div class="circle" id="recipecircle" style="height:100px;width:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > <img src="{{ STATIC_URL }}icons/recipes.png"/></div>
    </div>
</a></div>
                        <h3>Recipes</h3><br/>
             <p class="landingtext">Get Recipe suggestions based on your tastes.Upload your own exclusive recipe </p>
             
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-3 %}

               <div class="">
    <a href="{% url restaurants %}">
   <div class="circle" id="rescircle" style="height:100px;width:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#3232CD;"></div>
    <div class="inner-circle" > <img src="{{ STATIC_URL }}icons/restaurants.png"/></div>
    </div>
</a>
</div>           <h3 style="color:#3232CD;">Restaurants</h3><br/>
                <p class="landingtext">Discover any restaurant and check out its menu,recipe ratings. Add your favorite restaurant to foode </p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-4 %}

             <div class="">
    <a href="/photos/">
   <div class="circle" id="photocircle" style="height:100px;width:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#006300;"></div>
    <div class="inner-circle" > <img src="{{ STATIC_URL }}icons/photo.png"/></div>
    </div>
</a>
</div>        <h3 style="color:#006300;">Photos</h3><br/>
                <p class="landingtext">Share your experiences by uploading photos. :)</p>
          
          {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{%block extra_body %}
<script>
$('div.circle').mouseover(function() {
       starid = $(this).attr('id');
      $('#'+starid+'> .inner-circle').addClass('hover');
      
    });
    $('div.circle').mouseout(function() {
    starid = $(this).attr('id');        
$('#'+starid+'> .inner-circle').removeClass('hover');
        
    });
</script>
{%endblock%}
