{% extends "subnav_base.html" %}


{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "foode" %}{% endblock %}

{% block subnav %}
  

  <ul class="tabs"> 
  <li><div>
   
   <div class="circle">
  <a href="{% url upload_recipe %}">  
  <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/recipes.png"/></div>
    </a></div>
</div></li><br/>
    <li><div>
    
   <div class="circle">
   <a href="{% url add_restaurant %}"> 
   <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#3232CD;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/restaurants.png"/></div>
    </a>  
  </div>

</div></li>

    <li><div>
    
   <div class="circle">
    <a href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#006300;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/photo.png"/></div>
   </a> 
   </div>

</div></li>
 <li><a href="{% url select_sug_recipes %}">{% trans "Suggest Recipes" %}</a></li>
  <li><a href="/photos/">{% trans "Photos" %}</a></li>
</ul>
{% endblock%}

{% block body %}
  
    
    {% if user.is_authenticated %}
        <div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Upload Photo</h3>
  </div>
 
 {%include "smallphotos.html" %}
 
</div>
        <div class="well">
       <div class="row">
            <div class="span4">
            {% block column-1 %} 
              <div id="recentrecipes"  >
                 <h4>Latest Recipes</h4><br/>
                 {% for recipe in recipes %}
                 
                 <a class="resthumbnail" href="/recipes/{{ recipe.id }}/recipe/">
                   {{ recipe.thumbmedium|safe }}<br>
                  <p >{{ recipe.name }}</p>
                 </a><br class="clearboth">
            
                {% endfor %}
    </div><!end of recentrecipes>
             {% endblock %}</div>
             <div class="span4">
              {% block column-2 %}
            <div id="recentres">
                 <h4>Latest Restaurants</h4><br/>
                 {% for restaurant in recentres %}

                 <a class="resthumbnail" href="/restaurants/{{ restaurant.id }}/restaurant/">
                   {{ restaurant.thumbmedium|safe }}<br>
                  <p> {{ restaurant.name }}  </p>
                 </a><br class="clearboth">
                 {% endfor %}
            </div><!end of recentres>        
            {%endblock%}</div>
        
         
          
         </div>
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
             
            </p>
        {% endif %}
     </div>
{% endblock %}
