{% extends "home_base.html" %}


{% load i18n %}
{% load ifsetting_tag %}
{% load avatar_tags %}
{% block head_title %}{% trans "foode" %}{% endblock %}

{% block subnav %}

  
<br/><div class="homeviewnav">
 <p class="active"><a href="#" id="recadd">{% trans "Recently Added" %}</a></p><br/>
<p> <a href="#" id="recos" style="text-align:left;text-decoration:none;">{% trans "Suggested" %}</a></p><br/>
<p> <a href="#" id="strm" style="text-align:left;text-decoration:none;">{% trans "Stream" %}</a></p><br/>
<p ><a href="{% url profile_indetail user %}" id="prftab" style="text-align:left;text-decoration:none;">Profile</a></p><br/>
<p ><a href="/recipes/" id="rcps" style="text-align:left;text-decoration:none;">Recipes</a></p><br/>
<p ><a href="/restaurants/" id="rests" style="text-align:left;text-decoration:none;">Restaurants</a></p><br/>
<p ><a href="/photos/" id="phts" style="text-align:left;text-decoration:none;">Photos</a></p><br/>

</div>
<a href="{% url profile_indetail user %}" style="text-decoration:none;">   
<div id="profile_avatar" class="thumbnail" style="float:left;">
                        <img src="{% avatar_url user 80 %}" alt="Photo of {{ user }}" class="photo" />

           {% if user.get_profile.name %}<h4 style="text-align:center;"><span class="fn">{{ user.get_profile.name }}</span></h4>
                        {% else %}<h4>{{user}}</h4>
                         {% endif %}
                                    
                           
                </div><!end of profile avatar> </a>  
{% endblock%}

{% block body %}
  
    
    {% if user.is_authenticated %}
 <div id="sugrecipes" class="well" style="background:white;overflow:auto;width:100%;height:254px;">
 <div style="text-align:center;top-margin:center;left-margin:center;" id="resultsug" class=" hide"> 
 <h4 >No Recipes found.
                      Rate more recipes to get personalised suggestions</h4> &nbsp<hr/><a style="float:center;" href="{% url recipes %}" class="btn primary">Browse Recipes</a> </div>
 <div id="resdi">
 <a class="resthumbnail">
                   <img /><br>
                  <p></p>
                 </a><br class="clearboth">
   </div> </div>        
 <div id="hstream" class="well" style="background:white;overflow:auto;width:100%;height:254px;">
                <div>
                <a class="actor" style="float:left;text-decoration:none;"></a>
                <p class="verb" style="float:left;"></p> 
                <a class="obj" style="float:left;text-decoration:none;"></a>
               <br/>
                <hr/>
                </div>
           </div>          <!end of hstream> 

<div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Upload Photo</h3>
  </div>
 
 {%include "smallphotos.html" %}	
 
</div> 
   
    
     <div id="addedrecently">
       <table class="table table-bordered table-condensed">
               <tbody>
               <tr>
                 {% for recipe in recipes %}
                 
                 <td><a href="/recipes/{{ recipe.id }}/recipe/">
                  <div class="timg"> {{ recipe.thumbmedium|safe }}</div>
                  <p class="hometabletext" >{{ recipe.name }}</p>
                 </a></td>
            
                {% endfor %}
             </tr>
          
             
              <tr>   
              {% for restaurant in recentres %}
                 <td>
                 <a href="/restaurants/{{ restaurant.id }}/restaurant/">
                   <div class="timg"> {{ restaurant.thumbmedium|safe }}</div>
                  <p class="hometabletext">{{ restaurant.name }}</p>
                 </a></td>
                 {% endfor %}
            </tr>        
  
        
            </tbody>
            </table>
          </div>


<br/>
       <p style="text-align:center;"> <a href="{% url select_sug_recipes %}" class="btn primary">{% trans "Suggest Recipes" %}</a>   </p>
       <hr/> 

          
         <div>
         <div class="row" style="margin-bottom:-20px;">
            <div class="span4">
            {% block column-1 %}
               
                 <p>
                 <div>
   <a  href="{% url upload_recipe %}">
   <div class="circle" id="recipecircle" style="height:100px;weight:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:black"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/recipes.png"/></div>
    </div>
</a></div>
              </p><br/>
            

            {% endblock %}
            </div>
            <div class="span4">
            {% block column-2 %}
                
                <p><div>
    <a href="{% url add_restaurant %}">
   <div class="circle" id="rescircle" style="height:100px;weight:100px; text-align:center;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#3232CD;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/restaurants.png"/></div>
    </div>
</a>
</div></p><br/>
 
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-3 %}
               
              <p><div>
        <a href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal">
   <div class="circle" id="photocircle" style="height:100px;weight:100px;float:right;">
    <div class="outer-circle"></div>
    <div class="middle-circle" style="background:#006300;"></div>
    <div class="inner-circle" > <img src="/site_media/static/icons/photo.png"/></div>
    </div>
</a>
</div></p><br/>
               
            {% endblock %}
            </div>
        </div>
    </div>
         </div>
      
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
             
            </p>
        {% endif %}
     </div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/pure.js"></script>
<script type="text/javascript">
  var count=0;
  var scount=0;
  var imgUrl = "/media/recipes/thumb_100_100/";
  $(document).ready(function(){
    $('#sugrecipes').hide();
    $('#hstream').hide();
    $("#recadd").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 
  $('#addedrecently').show();
 $('#sugrecipes').hide();
 $('#hstream').hide();
});  

  $("#strm").click(function(){
   $('#addedrecently').hide();
  $('#hstream').show();
   $('#sugrecipes').hide(); 
  if(scount<=0){ 
     scount++;
      $.ajax({url:"{% url homestream user %}",success:function(result){   
      var directive = {
             'div':{
                  
           'activity<-data':{
                                    'a.actor':'activity.actor',
                                    'a.actor@href':'profiles/#{activity.profileurl}',                  
                                    'p.verb':'&nbsp #{activity.verb}',
                                    'a.obj':'&nbsp #{activity.objname}',
                                    'a.obj@href':'activity.objurl',
                                   
                                    
                                                     
       }
       }
     };  
      $('div#hstream').render(result,directive);
           }});  

  }
  });//end of stream button

  $("#recos").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 
  $('#addedrecently').hide();
  $('#hstream').hide();
   $('#sugrecipes').show();
  if(count<=0){ 
     count++;
     $.ajax({url:"{% url viewsugrecipes user %}",success:function(result){   
     if(result.suggested.length!=0)
     {
      var usrdirective = {
        
          'div#resdi':{
             'tmp<-suggested':{
                             'a@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name'   ,
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart',
                                
   }
    } 
     
    };
     $("div#sugrecipes").render(result ,usrdirective); 
     }
    else
    {
      $("#resultsug").show();
    }
    }});    
  }
});
    
  $("#strm").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 

});
    $("#prftab").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 

});

  $("#rcps").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 

});
    $("#rests").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 

});
    $("#phts").click(function(){
  $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  $('#tab_home').addClass("active"); 

});

  $('#tab_home').addClass("active"); 

$('div.circle').mouseover(function() {
       starid = $(this).attr('id');
      $('#'+starid+'> .inner-circle').addClass('hover');
      
    });
    $('div.circle').mouseout(function() {
    starid = $(this).attr('id');        
$('#'+starid+'> .inner-circle').removeClass('hover');
        
    });




});//end of doc ready
</script>
{% endblock %}
