{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% if SITE_NAME %}{{SITE_NAME}}{% endif %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
   <script>
   $(function(){
    $("#slides").slides({
    play: 2000,
    pause: 500,
    hoverPause: true,
    });
  });
   </script>

   <style type="text/css" media="screen">
  .slides_container {
    	top:50px;
    width:400px;
    height:200px;
  }
  .slides_container div {
    width:470px;
    height:170px;
    display:block;
  }
  .pagination {
	margin:26px;
	width:100px;
        margin-bottom:0px;
        display:none;
}
    #slides {
	position:absolute;
	top:50px;
	left:440px;
	/*z-index:100;*/
}

 #slides .next,#slides .prev {
	position:absolute;
	top:125px;
	left:-39px;
	width:24px;
	/*height:1174px;*/
	display:block;
	z-index:101;
}

#slides .next {
	left:415px;
}
</style>	
   <div id="slides" class="">
  <div class="slides_container">
   
                 {% for recipe in recipes %}

                 <a class="" href="/recipes/{{ recipe.id }}/recipe/">
                   {{ recipe.thumb|safe }}<br>
                  <p >{{ recipe.name }}</p>
                 </a>
                   
                {% endfor %}

           
   
                 {% for restaurant in recentres %}

                 <a class="" href="/restaurants/{{ restaurant.id }}/restaurant/">
                   {{ restaurant.thumb|safe }}<br>
                  <p> {{ restaurant.name }}  </p>
                 </a>
                 {% endfor %}

       </div>
                                <a href="#" class="prev"><img src="{{STATIC_URL}}img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="{{STATIC_URL}}img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>       
</div>




{% endblock %}



