{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% if SITE_NAME %}{{SITE_NAME}}{% endif %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
   <script>
   $(function(){
    $("#slides").slides({
    play: 2000,
    pause: 2500,
    hoverPause: true,
    });
  });
   </script>

   <style type="text/css" media="screen">
  .slides_container {
    width:470px;
    height:170px;
  }
  .slides_container div {
    width:470px;
    height:170px;
    display:block;
  }
  .pagination {
	margin:26px;
	width:100px;
        margin-bottom:0px;
        display:hidden;
}
    #slides {
	position:absolute;
	/*top:50px;*/
	left:360px;
	/*z-index:100;*/
}

 #slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	/*height:1174px;*/
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}
</style>	
   <div id="slides" class="">
  <div class="slides_container">
   <a href="" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="http://slidesjs.com/examples/standard/img/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
      <div id="recentrecipes" >
                 <h3 style="color:white;text-align:center;font:comic-sans;">Latest Recipes</h3><br/>
                 {% for recipe in recipes %}
                 
                 <a class="" href="/recipes/{{ recipe.id }}/recipe/">
                   {{ recipe.thumbmedium|safe }}<br>
                  <p >{{ recipe.name }}</p>
                 </a><br class="clearboth">
            
                {% endfor %}
    </div><!end of recentrecipes>
           
   <div id="recentres">
                 <h4 style="color:white;text-align:center;font:comic-sans;">Latest Restaurants</h4><br/><br/>
                 {% for restaurant in recentres %}

                 <a class="" href="/restaurants/{{ restaurant.id }}/restaurant/">
                   {{ restaurant.thumbmedium|safe }}<br>
                  <p> {{ restaurant.name }}  </p>
                 </a><br class="clearboth">
                 {% endfor %}
            </div><!end of recentres>   
           
       </div>
                                <a href="#" class="prev"><img src="{{STATIC_URL}}img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="{{STATIC_URL}}img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>       
</div>




{% endblock %}



