{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% if SITE_NAME %}{{SITE_NAME}}{% endif %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
   <div id="recentrecipes"  >
                 <h3 style="color:white;text-align:center;font:comic-sans;">Latest Recipes</h3><br/>
                 {% for recipe in recipes %}
                 
                 <a class="resthumbnail" href="/recipes/{{ recipe.id }}/recipe/">
                   {{ recipe.thumbmedium|safe }}<br>
                  <p >{{ recipe.name }}</p>
                 </a><br class="clearboth">
            
                {% endfor %}
    </div><!end of recentrecipes>
           
   <div id="recentres" class="hide">
                 <h4>Latest Restaurants</h4><br/>
                 {% for restaurant in recentres %}

                 <a class="resthumbnail" href="/restaurants/{{ restaurant.id }}/restaurant/">
                   {{ restaurant.thumbmedium|safe }}<br>
                  <p> {{ restaurant.name }}  </p>
                 </a><br class="clearboth">
                 {% endfor %}
            </div><!end of recentres>           
{% endblock %}



