<div class="searchbar">

      <div class="logo"></div>

      <input type="text" class="input" label="Search" placeholder="Search"

      <div role="button" class="searchButton">

       		<div class="searchIcon"></div>

      </div>

</div><!--End search-->
