{% extends "theme_base.html" %}
{% load avatar_tags %}
{% load metron_tags %}
{% load i18n %}
{% block extra_head_base %}
            {% block extra_head %}<link rel="stylesheet" href="{{ STATIC_URL }}css/photos.css">
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css">
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/dropdown.css">  
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/modal.css"> 
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/landing.css">  
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css">
                                   <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">

                                           <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
                                     <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
                                   
                                  <script src="{{ STATIC_URL }}js/slides.js"></script>
                                   

            {% endblock %}
        
   {% endblock %}

{% block nav %}
      <div style="float:center;">
    <form class="form-horizontal" action="{%url haystack_search%}" name="sform" autocapitalize="off">
  
   <input class="input-xllarge form-search typeahead" id="id_searchbox" type="text" name="q" value="{{query}}" placeholder="Search"/>
   
 </form>
</div>&nbsp &nbsp
   {% if user.is_authenticated %}
        <ul style="float:right;">{% spaceless %}
            <li id="tab_home"><a href="{% url recipes %}"><i class="icon-home icon-white"></i> Home</a></li>
            <li id="tab_profile"><a href="{% url profile_indetail user.username %}"><i class="icon-user icon-white"></i> Profile</a></li>
            <li id="tab_box"><a href="{% url notification_notices %}"><i class="icon-inbox icon-white"></i> Box {% if combined_inbox_count > 0 %}<span class="badge badge-warning">{{ combined_inbox_count }}</span>{% endif %}</a></li>
        
         <li>  <a href="#" class="menu"> {% if user.get_profile.name %}{{ user.get_profile.name }}
                        {% else %}{{user}}
                         {% endif %}                   </a><ul class="menu-dropdown">
              <li id="settingstab"><a href="{% url acct_email %}"><i class="icon-cog icon-white"></i> Settings</a></li>
              <li class="divider"></li>
              <li id="tab_logout"><a href="{% url acct_logout %}"><i class="icon-off icon-white"></i> Log Out</a></li>
		 </ul></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}
{% block footer %}
    <hr/>
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}

   {% endblock %}
{% endblock %}
{%block searchblock%}
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.js">
//$(document).ready(function(){
//$("#id_searchbox").typeahead();
//
//});
</script> 

{%endblock%}
