
 
<form action="" method="post" class="uniForm">
        
        <fieldset>

                   <div class="modal-body"> 
                   <input type="text" name="recipient" id="id_recipient" placeholder="Recipient"/><br/>
                    
                    <input type="text" name="subject" id="id_subject" placeholder="Subject"/><br/>
                    
                    <textarea id="id_body" rows="5" cols="55" name="body" placeholder="Message"></textarea>
    
                     </div>


               <div class="modal-footer">
                <input type="submit" class="btn primary"value="Send "/>
                  <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
               </div>
          </fieldset>
     </form>

 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
        $().ready(function() {
            $("#id_recipient").autocomplete("{% url profile_username_autocomplete %}", {
                formatItem: function(data, i, n, value) {
                    values = value.split(",,");
                    return values[0] + values[1] + "<br />" + values[2];
                },
                formatResult: function(data, value) {
                    return value.split(",,")[1];
                },
                // TODO: improve highlighting to only affect username.
                highlight: false
            });
            $("#id_recipient").result(function() {
                $("#id_subject").focus();
            });
            $("#id_recipient").focus()
        });
    </script>
