<form class="form-horizontal" method="POST" action="/account/login/" autocapitalize="off">
      
        <fieldset>
        <input class="input-small" id="id_username" type="text" name="username" placeholder="Username"/>
                  
                    <input class="input-small" type="password" name="password" id="id_password" placeholder="Password" />
            
                  
                    <input class="input-small" type="checkbox" name="remember" id="id_remember" >
                   &nbsp <button type="submit" class="btn">Log In</button> 
                   
            
       
    


        </fieldset>
        
        
    </form>

