{% load i18n %}
{% load group_tags %}

<form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="{% url photo_upload %}">
        
        <fieldset class="inlineLabels">
            

    
       
               <div class="modal-body"> 
                <label for="id_image" class="requiredField">
                    Photo &nbsp
                </label>
                
                    <input type="file" name="image" id="id_image" value="Image"/><br/><hr/>
                   
                <label for="id_title" >
                    Title / Caption &nbsp
                </label>
                    <input id="id_title" placeholder="Title" type="text" name="title" maxlength="200" /><br/><hr/>
                    
                    <label for="id_is_public" >
                    Public
                </label>
               
                    <input checked="checked" type="checkbox" name="is_public" id="id_is_public" /><br/>
                    
               </div>     
                <div class="modal-footer">
                            <div class="form_block">
                               <input type="hidden" name="action" value="upload" />
                <input type="submit" class="btn primary" value="Upload" />
                </div>
                 <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
            
             </div>
        </fieldset>
    </form>
