 <form id="signup_form" method="post" action="/account/signup/" autocapitalize="off">
            
            <fieldset class="inlineLabels">
                <div class="modal-body"> 
                <label for="id_username" class="requiredField">
                    Username &nbsp
                </label>
               
                   <input id="id_username" type="text" name="username" maxlength="30" /><br/>
                
                <label for="id_password1" class="requiredField">
                    Password &nbsp
                </label>
                
                    <input type="password" name="password1" id="id_password1" /><br/>
                
                <label for="id_password2" class="requiredField">
                    Password (again) &nbsp
                </label>
                 
                    <input type="password" name="password2" id="id_password2" /><br/>
                   
                <label for="id_email" >
                    Email &nbsp
                </label>
                    <input type="text" name="email" id="id_email" /><br/>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn primary">Sign Up</button>
                  <a href="#" class="btn" data-dismiss="modal" >Cancel</a>
               </div>
    

    
        <input type="hidden" name="confirmation_key" id="id_confirmation_key" />
    


            </fieldset>
        
        </form>
