<form method="POST" action="/account/login/" autocapitalize="off">
        
        <fieldset>
            

    
        <div class="clearfix">
            
                <label for="id_username" class="requiredField">
                    Username
                </label>
                <div class="input">
                    <input id="id_username" type="text" name="username" maxlength="30" />
                    
                    
                </div>
            
        </div>
    

    
        <div class="clearfix">
            
                <label for="id_password" class="requiredField">
                    Password
                </label>
                <div class="input">
                    <input type="password" name="password" id="id_password" />
                    
                    
                </div>
            
        </div>
    

    
        <div class="clearfix">
            
                <label for="id_remember" >
                    Remember Me
                </label>
                <div class="input">
                    <input type="checkbox" name="remember" id="id_remember" />
                   &nbsp <button type="submit" class="btn">Sign in</button>
                    
                </div>
            
        </div>
    


        </fieldset>
        
        
    </form>
