{% extends "site_base.html" %}

{% load i18n %}

{% block body_base %}


 <div class="container">
       
        <div class="row">
            <div class="span4 columns">
                {% block subnav %}
                {% endblock %}
            </div>
             
             
            <div class="span12 columns">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
