<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/icons.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/badge.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/avatar.css" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/messages.css" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.autocomplete.css" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}css/circles.css" /> 
              
        <script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
               <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tabs.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>

        <script src="{{ STATIC_URL }}js/theme.js"></script>

         <link rel="stylesheet" href="{{ STATIC_URL }}css/photos.css">
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css">
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/dropdown.css">  
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/modal.css"> 
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/landing.css">  
                                  <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css">
                                   <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                                           <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
                                     <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
                                   
                                  <script src="{{ STATIC_URL }}js/slides.js"></script>
                                                <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" /> 

                                   <script src="http://127.0.0.1:80/yoxview/yoxview-init.js"></script>
          <script src="{{ STATIC_URL }}js/modal.js"></script>

{% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body style="" class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        
        {% block topbar_base %}
            <div class="topbar">
                <div class="fill">
                    <div class="container">
                        {% block topbar %}
                            <h3><a href="{% url home %}">{{ SITE_NAME }}</a></h3>
                            {% block nav %}{% endblock %}
                            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        
        {% block body_base %}
            <div class="container">
            
                
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
       
        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container">
                    
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
      
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        {%block searchblock%}
 {%endblock%}
   </body>
</html>
