{% load bootstrap_tags %}

<form method="POST" action="{% url editprofile %}">
    {% csrf_token %}
    <fieldset>
        {{ profile_form|as_bootstrap }}
    </fieldset>
    <div class="actions">
        <button type="submit" class="btn primary">Update</button>
        <a href="{% url profile_indetail profile.user.username %}" class="btn">Cancel</a>
    </div>
</form>
