{% extends "subnav_base.html" %}

{% load i18n %}

{% block body_class %}profile{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url profile_indetail user.username %}">{% trans "Your Profile" %}</a></li>
     
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
