
{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load bootstrap_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block head_title %}
                       {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  

{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
           
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                         <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
            {% endblock %}
{% endblock %}

{% block body %}
                 <div>
                <div id="profile_avatar" class="thumbnail" style="float:left;">
                        <img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" />
                        <font style="text-align:center;">{% if other_user.get_profile.name %}<h4><span class="fn">{{ other_user.get_profile.name }}</span></h4>
                        {% else %}<h4>{{other_user}}</h4>
                         {% endif %}</font>                    
    
                </div><!end of profile avatar>
   
   {% if is_friend %}
                       <div id="smessage"  style="float:right;"> 
                       <p>
                         <a id="composebutton" class="btn" href="#myModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" > <i class="icon-envelope icon-black"></i>{% trans " Message" %}</a>
                          
                      </p>
                       <!end of smessage>
                      <div class="modal hide " id="myModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3 id="modalcomp">Compose</h3>
  </div>
 
 {%include "smallmsg.html" %}
 
</div>

                         <form method="POST" action="{% url profile_indetail other_user %}">
         {% csrf_token %}
         <input type="hidden" name="action" value="remove" /><button type="submit" class="btn danger"><i class="icon-minus icon-white"></i><i class="icon-user icon-white"></i> {% trans "Remove" %}</button>
          </form>             
 


        </div><!end of form>

  {%endif%}

      <div style="float:right;">
                 {% if user.is_authenticated %}
          
                {% if is_me %}
                
                 <a class="btn primary" style="float:right;" href="/account/#profile"><i class="icon-edit icon-white"></i> {% trans " Edit Profile" %}</a>
                                {% else %}
                    {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                       
                          
                    {% else %}
                        {% if previous_invitations_from %}
                            <p>{% blocktrans %}{{ other_user_display }}<span class="label label-success"> Foodie Request</span>{% endblocktrans %}</p>
                            {% for invitation in previous_invitations_from %}
                                <div class="">
                                    <br class="clearboth">
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="accept"/>
                                        <input type="submit" class = "btn" value="{% trans 'Accept' %}" />
                                    </form>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="decline"/>
                                        <input type="submit" class ="btn danger" value="{% trans 'Decline' %}" />
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if previous_invitations_to %}
                                <span class="label label-success">{% trans "Add Request sent" %}</span>
                            {% else %}
                               
                                <form class="uniForm" method="POST" action="">
                                    {% csrf_token %}
                                    <fieldset class="inlineLabels">
                                        {{ invite_form|as_bootstrap }}
                                        <div class="form_block">
                                            <input type="hidden" name="action" value="invite" />
                                            <button type="submit" class = "btn success"> <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> {% trans "Add" %}</button>
                                          
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %} {# previous_invitations_to #}
                        {% endif %} {# previous_invitations_from #}
                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
               {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see   their recipes.{% endblocktrans %}</p>
            {% endif %}   
    </div></div>
<br><br><br><br><br><hr/><br>
       <div class="container">
       <div class="row">
       <div id="tabcontentarea" style="text-align:left;" class="span3 columns">
       <div id="recipetabs" class="homeviewnav" style="text-align:left;">
 <p class="active"><a href="#" id="abouttab">{% trans "About" %}</a></p><br/>
<p> <a href="#" id="stream" style="text-align:left;text-decoration:none;">{% trans "Stream" %}</a></p><br/>
<p ><a href="#" id="foodiestab" style="text-align:left;text-decoration:none;"> foodies</a></p><br/>
<p ><a href="#" id="favrest" style="text-align:left;text-decoration:none;"> Fav Restaurants</a></p><br/>
<p ><a href="#" id="favr" style="text-align:left;text-decoration:none;"> Fav Recipes</a></p><br/>
<p ><a href="#" id="usrrest" style="text-align:left;text-decoration:none;"> My Restaurants</a></p><br/>
<p ><a href="#" id="usrr" style="text-align:left;text-decoration:none;"> My Recipes</a></p><br/>
<p ><a href="#" id="photostab" style="text-align:left;text-decoration:none;"> Photos</a></p><br/>

</div>
       
        </div>
       <div id="displayarea" class="span13 columns">
      <div id="profile_content" class="well" style="text-align:left;background:white;overflow:auto;width:50%;height:100%;">
                              {%if other_user.get_profile %} 
               <table >

                {% if other_user.get_profile.nickname %}<tr><td><p><b>{% trans "Nick name" %}</td></b> <td>{{ other_user.get_profile.nickname }}</td></tr></p>{% endif %}
                 {% if other_user.get_profile.sex %}<tr><td><p><b>{% trans "Sex" %}</td></b> <td>{{ other_user.get_profile.sex }}</td></tr></p>{% endif %}
               {% if other_user.get_profile.foodhabits %}<tr><td><p><b>{% trans "Food Habits" %}</td></b><td> {{ other_user.get_profile.foodhabits }}</td></tr></p>{% endif %}
                
              {% if other_user.get_profile.about %}<tr><td><p><b>{% trans "About" %}</td></b><td> {{ other_user.get_profile.about }}</td></tr></p>{% endif %}
               {% if other_user.get_profile.location%}<tr><td><p><b>{% trans "Location" %}</td></b> <td>{{ other_user.get_profile.location }}</td></tr></p>{% endif %}
                {% if other_user.get_profile.website %}<tr><td><p><b>{% trans "Website or Blog" %}</td></b> <td><a target="_blank" class="url" href="{{ other_user.get_profile.website }}">      {{ other_user.get_profile.website }}</a></td></tr></p>{% endif %}
               <br/> {% if other_user.get_profile.interests %}<tr><td><p><b>{% trans "Interests" %}</td></b>{{ other_user.get_profile.interests }}</td></tr></p>{% endif %}

 </table>
                {%else%}
                    <h5>No data</h5>
                       {%endif%}
</div>
        </div>
            
           <div id="favres" class="well hide" style="text-align:left;background:white;overflow:auto;width:50%;height:100%;">
           <div id="resultfavrest" class=" hide" style="text-align:center;"> <h4  >{% if is_me %}
                                     You have 
                                     {%else%}
                                        {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  has

                                     {%endif%}  not favorited any restaurants yet :( </h4>{% if is_me %}<hr/><a style="float:center;" href="{% url restaurants %}" class="btn primary">Browse Restaurants</a> {%endif%}
                    

                   </div> 
           <div id="favrestdi">
                 <a class="thumbnail" style="text-decoration:none;">
                   <img /><br><br/>
                  <p class="hometabletext">   </p><hr/>
                  <p class="catg" style="float:right;color:brown;"></p><p class="phone" style="text-align:left;">{</p>
                  <p class="address" style="text-align:left;color:black;"></p> 
                 </a><br class="clearboth">
            </div></div><!end of favres>
             <!end of thumb-row>
     

               <div id="userres" class="well hide" style="background:white;overflow:auto;width:50%;height:100%;">
              <div id="resultmyrest" class=" hide" style="text-align:center;"> <h4  >{% if is_me %}
                                     You have 
                                     {%else%}
                                        {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  has

                                     {%endif%}  not added any restaurants yet :( </h4>{% if is_me %}<hr/><a style="float:center;" href="{% url add_restaurant %}" class="btn primary">Add a Restaurant</a> {%endif%}
                    

                   </div> 
               <div id="myrestdi">
               <a class="thumbnail" style="text-decoration:none;">
                   <img /><br><br/>
                  <p style="float:center;" class="hometabletext">   </p><hr/>
                  <p class="catg" style="float:right;color:brown;"></p><p class="phone" style="text-align:left;">{</p>
                  <p class="address" style="text-align:left;color:black;"></p> 
                 </a><br class="clearboth"><hr/>
           </div> </div><!end of userres>
            
           <div id="favrecipes" class="well hide"  style="background:white;overflow:auto;width:50%;height:100%;">
             <div class=" hide" id="resultfavr" style="text-align:center;">
               <h4>                 {% if is_me %}
                                     You have 
                                     {%else%}
                                        {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  has

                                     {%endif%} 
 
                    not favorited any recipes yet :( </h4>{% if is_me %}<hr/><a href="{% url recipes %}" class="btn primary">Browse Recipes</a>{%endif%}       
              </div>  <div id="favresdi">
                  <a  class="thumbnail" style="text-decoration:none;">
                   <img /><br><br/>
                  <p class="hometabletext">   </p>
                 </a><br class="clearboth">
            </div></div><!end of favres>
              

            <div id="userrecipes" class="well hide"  style="background:white;overflow:auto;width:50%;height:100%;">
                <div id="resultmy" class=" hide" style="text-align:center;">
                <h4>                 {% if is_me %}
                                     You have 
                                     {%else%}
                                        {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  has

                                     {%endif%} 
 
                    not uploaded any recipes yet :( </h4>{% if is_me %}<hr/><a href="{% url upload_recipe %}" class="btn primary">Upload a Recipe</a>{%endif%}       
              </div>              <div id="myresdi">    
             <a class="thumbnail" style="text-decoration:none;" >
                   <img /><br><br/>
                  <p class="hometabletext"></p>
                 </a><br class="clearboth">
          </div>  </div><!end of userrecipes>
           
            <div id="ajstream" class="well hide" style="background:white;overflow:auto;width:50%;height:100%;">
                <div class="">
                
                    <p style="float:left;"></p>&nbsp
                         <a style="text-decoration:none;">
                        
                         </a><hr/>
                  
               
           </div>  </div>        <!end of ajstream>
           <div id="usrphotos" class="well hide"  style="background:white;overflow:auto;width:50%;height:100%;">
        <div id="resultmyphoto" class=" hide" style="text-align:center;">
                <h4>                 {% if is_me %}
                                     You have 
                                     {%else%}
                                        {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  has

                                     {%endif%} 
 
                    not uploaded any photos yet :( </h4>{% if is_me %}<hr/><a href="#" class="btn primary">Upload Photo</a>{%endif%}       
              </div>          
         <div id="myphotodi">
            <a class="thumbnail" style="text-decoration:none;">
              <img />
            </a><br class="clearboth">
           </div> <!end of well>
         
         </div><!end of usrphotos>
         <br/>

        <div class="friends_panel well hide"  style="background:white;overflow:auto;width:50%;height:100%;">
        {% include "profiles/profile_right_panel.html" %}
    </div><! end of friends_panel>
              </div>  
</div>

{% endblock %}

{% block extra_body %}

{% include "profiles/profilejs.html"%}

{%endblock%}
