
{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load bootstrap_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block head_title %}
                       {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  

{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/herounit.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            {% endblock %}
{% endblock %}

{% block body %}

                <div id="profile_avatar">
                        <img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" />
                        {% if other_user.get_profile.name %}<h4><span class="fn">{{ other_user.get_profile.name }}</span></h4>
                        {% else %}<h4>{{other_user}}</h4>
                         {% endif %}                    
    
                </div><!end of profile avatar>
   {% if is_friend %}
                       <div class="smessage"> 
                       <p>
                          <a href="{% url messages_compose %}{{ other_user }}/">
                           <input type="hidden" name="action" value="message" />
                           <input type="submit" class="btn " value="{% trans "Send a message" %}"/>
                          </a>.
                      </p>
                       </div><!end of smessage>

                     <hr/>  <div>   <form method="POST" action="">
         {% csrf_token %}
         <input type="hidden" name="action" value="remove" /><input type="submit" class="btn danger" value="{% trans "Unfriend" %}"/>
          </form>             
           </div><!end of form>
  {%endif%}

       
       <div class="tabs">

<ul class="nav nav-pills">
 <li class="active">  <a id="abouttab" href="#">{%trans "About"%}</a></li>
 <li>  <a id="stream" href="#">{%trans "Stream"%}</a> </li>
   <li><a id="favr" href="#">{% trans "Fav Recipes" %}</a></li>
   <li><a id="usrr" href="#">{% trans "Uploaded Recipes" %}</a></li>
   <li><a id="favrest" href="#">{% trans "Fav Restaurants" %}</a></li>
  <li> <a id="usrrest" href="#">{% trans "Added Restaurants" %}</a></li>
 <li>  <a id="photostab" href="#">{% trans "Photos" %}</a></li>
   </ul> 
 </div><!end of tabs>
       
         <div class="container">
        <div class="profile-unit">
        <div id="profile_content">
                
                {% if other_user.get_profile.nickname %}<p><b>{% trans "Nick" %}</b>: {{ other_user.get_profile.nickname }}</p>{% endif %}<br/><br/>
                 {% if other_user.get_profile.sex %}<p><b>{% trans "Sex" %}</b>: {{ other_user.get_profile.sex }}</p>{% endif %}
             <br/>    {% if other_user.get_profile.foodhabits %}<p><b>{% trans "Food Habits" %}</b>: {{ other_user.get_profile.foodhabits }}</p>{% endif %}
                
              <br/>  {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}<br/>
               <br/> {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}<br/>
                <br/>{% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a class="url" href="{{ other_user.get_profile.website }}">      {{ other_user.get_profile.website }}</a></p>{% endif %}<br/><br/>
               <br/> {% if other_user.get_profile.interests %}<p><b>{% trans "Interests" %}</b>: {{ other_user.get_profile.interests }}</p>{% endif %}

           </div><!end of profile=content>
            
           <div id="favres" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div><!end of favres>
             <!end of thumb-row>
     <div id="userres">
               <a class="thumbnail">
                   <img />
                  <p>   </p>
                 </a>
            </div><!end of userres>
            <div id="favrecipes" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div><!end of favres>
              <div id="userrecipes" class="gallery-photo-thumb">
           <h1>
            </h1>
                 <a>
                   <img />
                  <p>   </p>
                 </a>
            </div><!end of userrecipes>
            <div id="ajstream" class="gallery-photo-thumb">
                <ul>
                  
                      <p></p>
                         <a>
                        
                         </a>
                  
               </ul>
           </div>          <!end of ajstream>
           <div id="usrphotos" class="gallery-photo-thumb">
            <a>
              <img />
            </a>
           </div> <!end of usrphotos>
        </div><!end of hero-unit>     
         </div><!end of container>
         
             <div class="friends_panel">
        {% include "profiles/profile_right_panel.html" %}
    </div><! end of friends_panel>
   {% if user.is_authenticated %}
          
                {% if is_me %}
                {% else %}
                    {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                       
                          
                    {% else %}
                        {% if previous_invitations_from %}
                            <p>{% blocktrans %}{{ other_user_display }} has requested friendship.{% endblocktrans %}</p>
                            {% for invitation in previous_invitations_from %}
                                <div class="friendship_request">
                                    <p>From <a href="{% url profile_indetail invitation.from_user.username %}">{% user_display invitation.from_user %}</a> ({{ invitation.sent }}):</p>
                                    <p class="invitation_message">{{ invitation.message }}</p>
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="accept"/>
                                        <input type="submit" value="{% trans 'accept' %}" />
                                    </form>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="decline"/>
                                        <input type="submit" value="{% trans 'decline' %}" />
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if previous_invitations_to %}
                                <p>{% trans "Friendship request sent." %}</p>
                            {% else %}
                                <h2>{% trans "Add As Friend" %}</h2>
                                <form class="uniForm" method="POST" action="">
                                    {% csrf_token %}
                                    <fieldset class="inlineLabels">
                                        {{ invite_form|as_bootstrap }}
                                        <div class="form_block">
                                            <input type="hidden" name="action" value="invite" />
                                            <input type="submit" class = "btn primary" value="{% trans "Invite" %}"/>
                                            {% blocktrans %}{{ other_user_display }} to be a friend.{%  endblocktrans %}
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %} {# previous_invitations_to #}
                        {% endif %} {# previous_invitations_from #}
                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
                
               
                

                
              
                
                
               
                
                
               
                
              
                 
            {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see their recipes.{% endblocktrans %}</p>
            {% endif %}
        
    


{% endblock %}

{% block extra_body %}
    
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.5.2.min.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/pure.js"></script>
    <script type="text/javascript">
     var streamcount=0;
     var infocount=0;
     var favrecipescount=0;
     var usrrecipescount=0;
     var usrrescount=0;
     var favrescount=0;
     var photoscount=0;
     var json;
     resimgUrl = "/media/restaurants/thumb_100_100/"
     imgUrl = "/media/recipes/thumb_100_100/"
     $(document).ready(function(){
     $.ajax({url:"{% url profiledisp_data other_user %}",success:function(result){   
     json = result; 
     }});
      });       //Close of ready function block
        $("#abouttab").click(function(){
        $("div#favrecipes").hide(); 
      $("#profile_content").show();
     $("div#favres").hide();
     $("div#userres").hide();
     $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
     });//end of about display block   
     
    $("#favr").click(function(){
     $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active"); 
      $("div#favrecipes").show(); 
      $("#profile_content").hide();
     $("div#favres").hide();
     $("div#userres").hide();
     $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
     if(favrecipescount<=0){ 
     favrecipescount++;
     var directive = {
           'h1':'hello', 
          'a':{
             'tmp<-favrecipes':{
                            '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name',   
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart'   
      }
     } 
     };
     $("div#favrecipes").render(json,directive);}
     });  //Close of favrecipes display handler
      
     $("#usrr").click(function(){
     $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active"); 
     $("div#userrecipes").show(); 
     $("div#userres").hide();
     $("div#favrecipes").hide(); 
      $("#profile_content").hide();
     $("div#favres").hide();
     $("div#ajstream").hide();
      $("div#usrphotos").hide(); 
     if(usrrecipescount<=0){ 
     usrrecipescount++;
     var usrdirective = {
        
          'a':{
             'tmp<-userrecipes':{
                            '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name',   
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart'   
   }
    } 
     
    };
     $("div#userrecipes").render(json,usrdirective); }   
      });//Close of user recipes display handler
   
        $("#favrest").click(function(){
        $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active"); 
      $("div#favres").show(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
     if(favrescount<=0){ 
     favrescount++;
     var favresdirective = {
        
          'a':{
             'tmp<-favrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#favres").render(json,favresdirective);       }   

   });//Close of fav restaurants display handler
  
    $("#usrrest").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active");  
      $("div#userres").show();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
    if(usrrescount<=0){ 
    usrrescount++;
    var usrresdirective = {
        
          'a':{
             'tmp<-userrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#userres").render(json,usrresdirective);}//end of if
  });//Close of user restaurants display handler
     

    $("#stream").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active");   
      $("div#ajstream").show();
      $("div#userres").hide();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      $("div#usrphotos").hide();
    if(streamcount<=0){ 
    streamcount ++;
    $.ajax({url:"{% url usstream other_user%}",success:function(result){   
      var directive = {
             'ul':{
                  
           'activity<-data':{
                                                      
                                    'p':'#{activity.actor} #{activity.verb} ',
                                    'a':'activity.objname',
                                    'a@href':'activity.objurl'
                                                     
       }
       }
     };  
      $('div#ajstream').render(result,directive);
           }});}
     });
    
        
    $("#photostab").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active"); 
     $("div#usrphotos").show();
     $("div#ajstream").hide();
      $("div#userres").hide();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      if(photoscount<=0){ 
    photoscount ++; 
   var directive = {
                'a':{
                  'tmp<-photos':{
                             '@href':'/photos/details/#{tmp.id}',
                             'img@src':'#{tmp.image}',
                            }
               }        
                };
     $("div#usrphotos").render(json,directive);}
   });
   </script>   
{% endblock %}
