
{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load bootstrap_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block head_title %}
                       {% if other_user.get_profile.name %}
                      {{ other_user.get_profile.name }}
                        {% else %}{{other_user}}
                         {% endif %}  

{% endblock %}
{% block extra_head_base %}
            {% block extra_head %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/herounit.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
            {% endblock %}
{% endblock %}

{% block body %}
                 <div>
                <div id="profile_avatar" class="thumbnail" style="float:left;">
                        <img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" />
                        <font style="text-align:center;">{% if other_user.get_profile.name %}<h4><span class="fn">{{ other_user.get_profile.name }}</span></h4>
                        {% else %}<h4>{{other_user}}</h4>
                         {% endif %}</font>                    
    
                </div><!end of profile avatar>
   {% if is_friend %}
                       <div id="smessage"  style="float:right;"> 
                       <p>
                          <a href="{% url messages_compose %}{{ other_user }}/">
                           <input type="hidden" name="action" value="message" />
                           <button type="submit" class="btn"> <i class="icon-envelope icon-black"></i>{% trans " Send message" %}</button>
                          </a>
                      </p>
                       <!end of smessage>

                         <form method="POST" action="{% url profile_indetail other_user %}">
         {% csrf_token %}
         <input type="hidden" name="action" value="remove" /><button type="submit" class="btn danger"><i class="icon-minus icon-white"></i><i class="icon-user icon-white"></i> {% trans "Remove" %}</button>
          </form>             
 


        </div><!end of form>

  {%endif%}

      <div style="float:right;">
                 {% if user.is_authenticated %}
          
                {% if is_me %}
                {% else %}
                    {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
            
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                       
                          
                    {% else %}
                        {% if previous_invitations_from %}
                            <p>{% blocktrans %}{{ other_user_display }}<span class="label label-success"> Foodie Request</span>{% endblocktrans %}</p>
                            {% for invitation in previous_invitations_from %}
                                <div class="">
                                    <br class="clearboth">
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="accept"/>
                                        <input type="submit" class = "btn" value="{% trans 'Accept' %}" />
                                    </form>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="decline"/>
                                        <input type="submit" class ="btn danger" value="{% trans 'Decline' %}" />
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if previous_invitations_to %}
                                <span class="label label-success">{% trans "Add Request sent" %}</span>
                            {% else %}
                               
                                <form class="uniForm" method="POST" action="">
                                    {% csrf_token %}
                                    <fieldset class="inlineLabels">
                                        {{ invite_form|as_bootstrap }}
                                        <div class="form_block">
                                            <input type="hidden" name="action" value="invite" />
                                            <button type="submit" class = "btn success"> <i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i> {% trans "Add" %}</button>
                                          
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %} {# previous_invitations_to #}
                        {% endif %} {# previous_invitations_from #}
                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
               {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see   their recipes.{% endblocktrans %}</p>
            {% endif %}   
    </div></div>
<br/><br/><br/><br/><br/>
       
       <div class="tabs">
<hr/>
<ul class="nav nav-pills">
 <li class="active">  <a id="abouttab" href="#about">{%trans "About"%}</a></li>
 <li>  <a id="stream" href="#stream">{%trans "Stream"%}</a> </li>
   <li><a id="favr" href="#favrecipes">{% trans "Fav Recipes" %}</a></li>
   <li><a id="usrr" href="#uploadedrecipes">{% trans "Uploaded Recipes" %}</a></li>
   <li><a id="favrest" href="#favrestaurants">{% trans "Fav Restaurants" %}</a></li>
  <li> <a id="usrrest" href="#addedrestaurants">{% trans "Added Restaurants" %}</a></li>
 <li>  <a id="photostab" href="#photos">{% trans "Photos" %}</a></li>
   </ul> 
 </div><!end of tabs>
       
        
       <div class="well">
      <div id="profile_content">  
                <table >
                {% if other_user.get_profile.nickname %}<tr><td><p><b>{% trans "Nick name" %}</td></b> <td>{{ other_user.get_profile.nickname }}</td></tr></p>{% endif %}
                 {% if other_user.get_profile.sex %}<tr><td><p><b>{% trans "Sex" %}</td></b> <td>{{ other_user.get_profile.sex }}</td></tr></p>{% endif %}
               {% if other_user.get_profile.foodhabits %}<tr><td><p><b>{% trans "Food Habits" %}</td></b><td> {{ other_user.get_profile.foodhabits }}</td></tr></p>{% endif %}
                
              {% if other_user.get_profile.about %}<tr><td><p><b>{% trans "About" %}</td></b><td> {{ other_user.get_profile.about }}</td></tr></p>{% endif %}
               {% if other_user.get_profile.location%}<tr><td><p><b>{% trans "Location" %}</td></b> <td>{{ other_user.get_profile.location }}</td></tr></p>{% endif %}
                {% if other_user.get_profile.website %}<tr><td><p><b>{% trans "Website" %}</td></b> <td><a class="url" href="{{ other_user.get_profile.website }}">      {{ other_user.get_profile.website }}</a></td></tr></p>{% endif %}
               <br/> {% if other_user.get_profile.interests %}<tr><td><p><b>{% trans "Interests" %}</td></b>{{ other_user.get_profile.interests }}</td></tr></p>{% endif %}
 </table>
</div>
        
            
           <div id="favres">
                 <a class="resthumbnail">
                   <img /><br>
                  <p>   </p>
                 </a><br class="clearboth">
            </div><!end of favres>
             <!end of thumb-row>
     <div id="userres">
               <a class="resthumbnail" >
                   <img /><br>
                  <p>   </p>
                 </a><br class="clearboth">
            </div><!end of userres>
            <div id="favrecipes">
           
           
                 <a class="resthumbnail">
                   <img /><br>
                  <p>   </p>
                 </a>
            </div><!end of favres>
              <div id="userrecipes">
               
                 
                 <a class="resthumbnail">
                   <img /><br>
                  <p></p>
                 </a><br class="clearboth">
            </div><!end of userrecipes>
           
            <div id="ajstream" class="gallery-photo-thumb">
                <ul>
                
                    <p></p>&nbsp 
                         <a>
                        
                         </a><hr/>
                  
               </ul>
           </div>          <!end of ajstream>
           <div id="usrphotos" class="gallery-photo-thumb">
            <a class="resthumbnail">
              <img />
            </a><br class="clearboth">
           </div> <!end of usrphotos>
         
         </div><!end of well>
         <br/>
             <div class="friends_panel">
        {% include "profiles/profile_right_panel.html" %}
    </div><! end of friends_panel>
   


{% endblock %}

{% block extra_body %}
    
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.5.2.min.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/pure.js"></script>
    <script type="text/javascript"> 
     var streamcount=0;
     var infocount=0;
     var favrecipescount=0;
     var usrrecipescount=0;
     var usrrescount=0;
     var favrescount=0;
     var photoscount=0;
     var json;
     resimgUrl = "/media/restaurants/thumb_100_100/"
     imgUrl = "/media/recipes/thumb_100_100/"
     $(document).ready(function(){
      $('#tab_profile').addClass("active");  
     $.ajax({url:"{% url profiledisp_data other_user %}",success:function(result){   
     json = result; 
     }});
      });       //Close of ready function block
        $("#abouttab").click(function(){
      $("div#favrecipes").hide(); 
      $("#profile_content").show();
     $("div#favres").hide();
     $("div#userres").hide();
     $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
      $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active");  
       $('#tab_profile').addClass("active");    
   });//end of about display block   
     
    $("#favr").click(function(){
     $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active"); 
      $('#tab_profile').addClass("active");  
      $("div#favrecipes").show(); 
      $("#profile_content").hide();
     $("div#favres").hide();
     $("div#userres").hide();
     $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
     if(favrecipescount<=0){ 
     favrecipescount++;
     var directive = {
           
          'a':{
             'tmp<-favrecipes':{
                            '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name',   
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart'   
      }
         
     } 
     };
     $("div#favrecipes").render(json,directive);}
     });  //Close of favrecipes display handler
      
     $("#usrr").click(function(){
     $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active"); 
      $('#tab_profile').addClass("active");  
     $("div#userrecipes").show(); 
     $("div#userres").hide();
     $("div#favrecipes").hide(); 
      $("#profile_content").hide();
     $("div#favres").hide();
     $("div#ajstream").hide();
      $("div#usrphotos").hide(); 
     if(usrrecipescount<=0){ 
     usrrecipescount++;
     var usrdirective = {
        
          'a':{
             'tmp<-userrecipes':{
                             '@href': '/recipes/#{tmp.id}/recipe',               
                            'p':'tmp.name'   ,
                            'img@src':imgUrl+'#{tmp.image}',     
                            'img@class':'recipeart',
                                
   }
    } 
     
    };
     $("div#userrecipes").render(json,usrdirective); }   
      });//Close of user recipes display handler
   
        $("#favrest").click(function(){
        $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active"); 
   $('#tab_profile').addClass("active");  
      $("div#favres").show(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
     if(favrescount<=0){ 
     favrescount++;
     var favresdirective = {
        
          'a':{
             'tmp<-favrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#favres").render(json,favresdirective);       }   

   });//Close of fav restaurants display handler
  
    $("#usrrest").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active");  
     $('#tab_profile').addClass("active");  
      $("div#userres").show();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userrecipes").hide();
      $("div#ajstream").hide();
      $("div#usrphotos").hide();
    if(usrrescount<=0){ 
    usrrescount++;
    var usrresdirective = {
        
          'a':{
             'tmp<-userrestaurants':{
                            '@href': '/restaurants/#{tmp.id}/restaurant',               
                            'p':'tmp.name',   
                            'img@src':resimgUrl+'#{tmp.image}',     
                            'img@class':'resart'   
   }
    } 
     
    };
     $("div#userres").render(json,usrresdirective);}//end of if
  });//Close of user restaurants display handler
     

    $("#stream").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active");   
    $('#tab_profile').addClass("active");  
      $("div#ajstream").show();
      $("div#userres").hide();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      $("div#usrphotos").hide();
    if(streamcount<=0){ 
    streamcount ++;
    $.ajax({url:"{% url usstream other_user%}",success:function(result){   
      var directive = {
             'ul':{
                  
           'activity<-data':{
                                                      
                                    'p':' #{activity.actor} #{activity.verb} ',
                                    'a':'activity.objname',
                                    'a@href':'activity.objurl'
                                                     
       }
       }
     };  
      $('div#ajstream').render(result,directive);
           }});}
     });
    
        
    $("#photostab").click(function(){
    $("a").parent().removeClass("active"); 
    $(this).parent().toggleClass("active"); 
     $('#tab_profile').addClass("active");  
     $("div#usrphotos").show();
     $("div#ajstream").hide();
      $("div#userres").hide();
      $("div#favres").hide(); 
      $("div#favrecipes").hide(); 
      $("#profile_content").hide();
      $("div#userres").hide();
      $("div#userrecipes").hide();
      if(photoscount<=0){ 
    photoscount ++; 
   var directive = {
                'a':{
                  'tmp<-photos':{
                             '@href':'/photos/details/#{tmp.id}',
                             'img@src':'#{tmp.image}',
                            }
               }        
                };
     $("div#usrphotos").render(json,directive);}
   });
   </script>   
{% endblock %}
