{% load i18n %}
{% load avatar_tags %}
{% load account_tags %}

{% user_display other_user as other_user_display %}

{% if is_me %}
    
    <div class="friendsdisp">
{% if other_friends %}
            <table>
                {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <td> <a href="{% url profile_indetail friendship.friend.username %}" title="{% user_display friendship.friend %}">
                        <div class="avatar">{% avatar friendship.friend 80 %}</div><br>
                        <div class="details"><p class="hometabletext">{% user_display friendship.friend %}</p></div>
                    </a>
                    </td><br>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}
                {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
            </table>
        {% else %}
           <hr/> <h4>{% blocktrans %}You have not added any foodies yet{% endblocktrans %}</h4>
        {% endif %}
    </div>
{% endif %}

{% if is_friend %}
    
    <div class="friendsdisp">

        <table width="10%">
            {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td><a href="{% url profile_indetail friendship.friend.username %}" title="{% user_display friendship.friend %}">
                    <div class="avatar">{% avatar friendship.friend 80 %}</div><br>
                    <div class="details"><p class="hometabletext">{% user_display friendship.friend %}</p></div></a>
                </td>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
            {% endfor %}
        {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
        </table>
    </div>
{% endif %}
