

{% load i18n %}
{%load bootstrap_tags %}


<form method="POST" id="profileditform" action="{% url ajaxeditprofile user %}">
    <fieldset>
        {{ profile_form|as_bootstrap }}
    </fieldset>
    <div class="actions">
        <button type="submit" class="btn primary">Update</button>
        <a href="{% url profile_indetail profile.user.username %}" class="btn">Cancel</a>
    </div>
</form>

<script>

$('#profileditform').submit(function() {
      $.ajax({
        data: $(this).serialize(), // get the form data
               type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), //  // the file to call
                success: function(response) { // on success..
                   alert(response); // update the DIV
                }
            });
            return false;
        });
</script>
