{% extends "subnav_base.html" %}

{% load i18n %}

{% block head_title %}Notices{% endblock %}

{% block body_class %}inbox{% endblock %}

{% block subnav %}
    <ul>
       
        <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li>
        <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li>
        <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li>
       
      
      
    </ul>
{% endblock %}
