

{% load i18n %}
{% load account_tags %}
{% load timezone_filters %}


   <div> 
   
   <ul class="nav nav-tabs" style="float:center;">
    
        <li id="minboxtab" class="active"><a href="#messages">{% trans "Inbox" %} {% if messages_inbox_count > 0 %}<span class="badge badge-success">{{ messages_inbox_count }}</span>{% endif %}</a></li>
        <li id="moutboxtab"><a href="#messages">{% trans "Sent" %}</a></li>
       <!-- <li id="mtrashtab"><a href="#messages/trash">{% trans "Trash" %}</a></li> -->
   </ul>
   </div>

<div class="well">
<div id="inbox-content">
     <table class="zebra-striped">
     
        
            {% for message in message_list %}
                <tr id="row{{message.id}}">
                  <td>  
                    <td> {% if message.sender.get_profile.name %}
{{  message.sender.get_profile.name}}
{%else%}
{{  message.sender }}
{%endif%}</td>
                    <td ><a id ="{{message.id}}" class ="inboxsubj" href="#messages">
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                       {% if message.subject.strip %}{{ message.subject }}{% else %}(none){% endif %}
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}</td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td></a>
                    <td><a href="#messages" class="deleteinboxsub" id="{{message.id}}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
       </table>
      {%if message_list%}
      {%else%}
      <p>No Messages</p>
      {%endif%}
</div>
<div id="sentmsg-content"></div>
<div id="trashmsg-content"></div>
<div id="backbuttons">
<a href="#messages" id="inboxback" class="btn">Back</a>
<a href="#messages" id="outboxback" class="btn">Back</a>

</div>
<div id="msgview-content"></div>
</div>
<script>
$(document).ready(function(){

     $('#inboxback').hide();
      $('#outboxback').hide(); 
});
$("#minboxtab").click(function(){ 
    $('#inboxback').hide();
      $('#outboxback').hide();    
  $('#inbox-content').show();   
  $('#sentmsg-content').hide();
    $('#trashmsg-content').hide();
      $('#msgview-content').hide();
    $('#minboxtab').addClass("active");  
   $('#mtrashtab').removeClass("active"); 
   $('#moutboxtab').removeClass("active"); 
});


$("#moutboxtab").click(function(){
      $('#inboxback').hide();
      $('#outboxback').hide();
    $('#sentmsg-content').load('{% url messages_outbox %}');
    $('#inbox-content').hide(); 
     $('#msgview-content').hide();  
  $('#sentmsg-content').show();
    $('#trashmsg-content').hide(); 
  $('#mtrashtab').removeClass("active"); 
   $('#minboxtab').removeClass("active"); 
    $('#moutboxtab').addClass("active");  
     
 }); 

$("#mtrashtab").click(function(){
      $('#inboxback').hide();
      $('#outboxback').hide();   
    $('#trashmsg-content').load('{% url messages_trash %}');
    $('#inbox-content').hide();   
    $('#sentmsg-content').hide();
     $('#msgview-content').hide();
     $('#trashmsg-content').show(); 
    $('#mtrashtab').addClass("active");  
    $('#moutboxtab').removeClass("active"); 
   $('#minboxtab').removeClass("active"); 
  
 }); 
$(".deleteinboxsub").click(function(){
starid = $(this).attr('id');
alert(starid);
$.ajax({url:"/messages/msgdelete/"+starid+"/"+user_name+"/",success:function(result){ 
$("#row"+starid).remove();
}});//end of ajax
          
});//end of delete msg click handler

$("#inboxback").click(function(){
$("#inboxback").hide();
$('#inbox-content').show();   
    $('#sentmsg-content').hide();
        $('#trashmsg-content').hide(); 
     $('#msgview-content').hide();
});

$(".inboxsubj").click(function(){
   
      $('#inboxback').show();
      $('#outboxback').hide();
      $('#inbox-content').hide();   
    $('#sentmsg-content').hide();
        $('#trashmsg-content').hide(); 
     $('#msgview-content').show();
starid = $(this).attr('id');
 $('#msgview-content').show();
 $.ajax({url:"/messages/messageview/"+starid+"/"+user_name+"",success:function(result){ 
          $("#msgview-content").html(result);
            }
          
        });//end of ajax  

          
});//end of msg viewer click handler


</script>
  <script>
     $('#sendmsg').live("submit",function() {
      $.ajax({
        data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "/messages/messagereply/"+msgid+"/"+user_name+"/", // the file to call
                success: function(response) { // on success..      
             //$('#result-content').html(response); // update the DIV
                alert(response);  
              }
            });
            return false;
        });   
    </script>


