

{% load i18n %}
{% load oembed_tags %}
{% load timezone_filters %}
{% load account_tags %}


<hr/>
     <h1>Message - {{ message.subject }}</h1>
    
    <dl class="message-headers">
        <dt>{% trans "Sender" %}:</dt>
        <dd><a href="{% url profile_indetail message.sender %}">{% user_display message.sender %}</a></dd>
        <dt>{% trans "Subject" %}:</dt>
        <dd><strong>{{ message.subject }}</strong></dd>
        <dt>{% trans "Date" %}:</dt>
        <dd>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT")}}</dd>
        <dt>{% trans "Recipient" %}:</dt>
        <dd>{% user_display message.recipient %}</dd>
    </dl>
    
    <p>{% oembed %}{{ message.body|linebreaksbr }}{% endoembed %}</p>
    
    {% ifequal message.recipient user %}
        <p><a id="replybtn" href="#">{% trans "Reply" %}</a></p>
    {% endifequal %}
    
    <p><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></p>

<script>
    var msgid={{message.id}}
    $("#replybtn").click(function(){
    $('#msgview-content').load('{% url messages_reply message.id %}');
   });//end of reply btn handler
</script>
