

{% load i18n %}
{% load timezone_filters %}
{% load account_tags %}

<table class="zebra-striped">
        
        
            {% for message in message_list %}
                <tr id="orow{{message.id}}">
                    <td scope="row">{% if message.recipient.get_profile.name %}
{{  message.recipient.get_profile.name}}
{%else%}
{{  message.recipient }}
{%endif%}</td>
                    <td>
                        <a id="{{message.id}}" class="outboxsubj" href="#">{{ message.subject }}</a>
                    </td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="#" class="deleteoutboxsub" id="{{message.id}}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        {%if message_list%}
      {%else%}
      <p>No Messages</p>
      {%endif%}
    </table>


<script>
$(".outboxsubj").click(function(){
     
      $('#inboxback').hide();
      $('#outboxback').show();
     $('#inbox-content').hide();   
    $('#sentmsg-content').hide();
        $('#trashmsg-content').hide(); 
     $('#msgview-content').show();
starid = $(this).attr('id');
 $.ajax({url:"/messages/messageview/"+starid+"/"+user_name+"",success:function(result){ 
          $("#msgview-content").html(result);
            }
          
        });//end of ajax  


});//end of msg viewer click handler

$("#outboxback").click(function(){
       $('#outboxback').hide();   
    $('#inbox-content').hide();   
    $('#sentmsg-content').show();
    $('#trashmsg-content').hide(); 
     $('#msgview-content').hide();
});

$(".deleteoutboxsub").click(function(){
starid = $(this).attr('id');
alert(starid);
$.ajax({url:"/messages/msgdelete/"+starid+"/"+user_name+"/",success:function(result){ 
$("#orow"+starid).remove();
}});//end of ajax
          
});//end of delete msg click handler

</script>
