

{% load i18n %}

{% load bootstrap_tags %}

     <hr/><div id="result-content"></div>
    <h5>{% trans "Compose Message"%}</h5>
    
    <form id="sendmsg" class="uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_bootstrap }}
            <div class="form_block">
                <input type="submit" id="sendbtn" class="btn primary"value="{% trans "Send" %} &raquo;"/>
            </div>
    </form>
    <script>
     $('#sendmsg').submit(function() {
      $.ajax({
        data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: "/messages/messagereply/"+msgid+"/"+user_name, // the file to call
                success: function(response) { // on success..      
             //$('#result-content').html(response); // update the DIV
                }
            });
            return false;
        });   
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
        $().ready(function() {
            $("#id_recipient").autocomplete("{% url profile_username_autocomplete %}", {
                formatItem: function(data, i, n, value) {
                    values = value.split(",,");
                    return values[0] + values[1] + "<br />" + values[2];
                },
                formatResult: function(data, value) {
                    return value.split(",,")[1];
                },
                // TODO: improve highlighting to only affect username.
                highlight: false
            });
            $("#id_recipient").result(function() {
                $("#id_subject").focus();
            });
            $("#id_recipient").focus()
        });
        </script>

