

{% load i18n %}
{% load timezone_filters %}
{% load account_tags %}


    
    
    <table class="zebra-striped">
        
       
            {% for message in message_list %}
                <tr>
                    <td scope="row">{% user_display message.sender %}</td>
                    <td>
                        {{ message.subject }}
                    </td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
                </tr>
            {% endfor %}
       
    </table>
    <br />
    <p>{% trans "Deleted Messages are removed from the trash at irregular intervals, don't rely on this feature for long-time storage." %}</p>

