
{% load avatar_tags %}
{% load i18n %}
{% load oembed_tags %}
{% load timezone_filters %}
{% load account_tags %}


<hr/>
                           <a style="float:left;" href="{% url profile_indetail message.sender %}">{% if message.sender.get_profile.name %}
{{  message.sender.get_profile.name}}
{%else%}
{{  message.sender }}
{%endif%}</a>  <p> - {{ message.subject }}</p>
    <hr/>
  
     
     

    <p>{% oembed %}{{ message.body|linebreaksbr }}{% endoembed %}</p>
    <hr/>
    {% ifequal message.recipient user %}
        <p style="float:left;"><a id="replybtn" href="#messages">{% trans "Reply " %}</a>|</p>
    {% endifequal %}
   
    <p ><a href="#messages" id="deletebtn">{% trans "     Delete" %}</a></p>

<script>
    var msgid={{message.id}}
    $("#replybtn").click(function(){
    $('#msgview-content').load('{% url messages_reply message.id %}');
   });//end of reply btn handler

$("#deletebtn").click(function(){
$.ajax({url:"/messages/msgdelete/{{message.id}}/"+user_name+"/",success:function(result){ 
$("#msgview-content").html("<hr/"+">"+result);
}});//end of ajax
          
});//end of delete msg click handler


</script>
