{% extends "restaurants/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% blocktrans %}Add Restaurant{% endblocktrans %}{% endblock %}
{% block extra_head %}
<script>
$(document).ready(function(){
$('body').css("background-image","url({{STATIC_URL}}img/blue.png)");
});//end of doc ready
</script>
<style>
img{
float:left;
};
</style>
{% endblock %}

{% block subnav %}
<div>
<h4 style="color:white;">How to?</h4><img style="float:left;" src="{{STATIC_URL}}icons/down.png"/><br></div><hr/>
<div class="well">
<table>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/image.png"/></td><td>Choose the image  of the restaurant</p></td></tr>
<tr><td><img src="{{STATIC_URL}}icons/restaurants.png"/></td><td><p>Enter the name of the restaurant</p></td></tr>
<tr><td><img src="{{STATIC_URL}}icons/aka.png"/></td><td><p>  Enter the othername of the restaurant if any in the Also Known As Field.</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/rescategory.png"/></td><td><p>Select the category of the restaurant</p></td></tr>
<tr><td><img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/veg.jpg"/></td><td> <p>Select the type of food i.e Veg or Non-Veg,the restaurant serves</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/description.png"/></td><td><p>Describe the restaurant like its history,mission etc. Also enter the cuisines the restaurant offers</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/citycars.png"/></td><td><p>Select the city where the restaurant is located</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/state.png"/></td><td><p>Select the state where the restaurant is located</p></td></tr>

<tr><td> <img height="20" width="20" align="middle" src="{{STATIC_URL}}icons/airplane.png"/></td><td><p> Select the country where the restaurant is located</p></td></tr>

<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/address.png"/></td><td><p>Enter the PIN/ZIP code of the area</p></td></tr>
<tr><td><img src="{{STATIC_URL}}icons/phone.png"/></td><td><p>Enter the Phone No. of the restaurant</p></td></tr>
<tr><td> <img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/website.png"/></td><td><p>Enter the URL of the Restaurant's Website if any</p></td></tr>
<tr><td><img height="22" width="20" align="middle"  src="{{STATIC_URL}}icons/time.png"/> </td><td> <p>Enter the Working Hours of the restaurant</p></td></tr>
<tr><td><img height="20" width="24" align="middle" src="{{STATIC_URL}}icons/pricerange.png"/></td><td><p>Select the Price Range of food in the restaurant</p></td></tr>
<tr><td><img height="20" width="24" align="middle" src="{{STATIC_URL}}icons/creditcard.png"/></td><td><p>Select if Credit Cards are accepted in the restaurant</p></td></tr>
<tr><td><img height="20" width="24" align="middle" src="{{STATIC_URL}}icons/ac.png"/></td><td><p>Select if the restaurant is Air Conditioned</p></td></tr>
<tr><td><img height="20" width="24" align="middle" src="{{STATIC_URL}}icons/wifi.png"/></td><td><p>Select if the restaurant offers Wi-Fi Service</p></td></tr>
<tr><td><img height="20" width="24" align="middle" src="{{STATIC_URL}}icons/ambiance.png"/></td><td><p>Enter the ambiance </p></td></tr>
<tr><td><img height="20" width="" align="middle" src="{{STATIC_URL}}icons/music.png"/></td><td><p>Select if the restaurant plays Music</p></td></tr>
<tr><td><img height="20" width="" align="middle" src="{{STATIC_URL}}icons/citycars.png"/></td><td><p>Select if the restaurant has parking facility</p></td></tr>
<tr><td><img height="20" width="" align="middle" src="{{STATIC_URL}}icons/nosmoking.png"/></td><td><p>Select if Smoking is allowed or prohibited</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/circle_plus.png"/></td><td><p>Click on the Add button and you are done :)</p></td></tr>
<tr><td><img height="20" width="20" align="middle"  src="{{STATIC_URL}}icons/resmenu.png"/></td><td><p>Restaurant's Menu can be edited by clicking on the Edit Button later</p></td></tr>
</table>
</div>
{%endblock%}

{% block body %}
   <div><h3 style="text-align:center;color:white;"> <img style="float:center;" align="bottom" width="20" height="20" src="{{STATIC_URL}}icons/circle_plus.png"/>{% trans "Add Restaurant" %}</h3></div><br>
    <hr/><div class="well" >
    <form enctype="multipart/form-data" method="POST" action="" class="bootstrapform" style="position:block;left:10000px;">
       {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ restaurant_form|as_bootstrap }}
            <div class="actions">
                <input type="submit" class="btn success" value="{% trans 'Add' %}">
                <a href="{% url home %}" class="btn" >Cancel</a> 
            </div>
        </fieldset>
    </form></div>
{% endblock %}

