{% extends "subnav_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}


{% block head_title %}{% blocktrans %}Edit  {% endblocktrans %}{% endblock %}
{% block extra_head %}
   {%include "restaurants/editjs.html"%}
{% endblock %}
{% block subnav %}
         <div class="row"><a href="/restaurants/{{ restaurant.id }}/restaurant/" style="text-decoration:none;" class="thumbnail"><div class="resart" >{{ restaurant.thumbmedium|safe }}</div>
        <h4>{{ restaurant.name }} </h4></a><br/>
    <ul class="nav nav-pills nav-stacked">
          <li class="active"><a id="basic_info" href="#"><i class="icon-book icon-black"></i>{% trans " Basic Info" %}</a></li>
          <li ><a id="menu_info" href="#"><i class="icon-list icon-black"></i>{% trans " Menu Lists" %}</a></li>
          <li ><a id="menu_items" href="#"><i class="icon-indent-left icon-black"></i>{% trans " Add Menu Items" %}</a></li>
          <li ><a id="emenu_items" href="#"><i class="icon-indent-right icon-black"></i>{% trans " Edit Menu Items" %}</a></li>
          <li ><a id="sync_items" href="#"><i class="icon-refresh icon-black"></i>{% trans " Sync Recipes" %}</a></li><br/><br/><hr/>
  </ul></div>
            <div class="row">           
    <a href="#deleteModal" data-backdrop="true" data-keyboard="true" data-toggle="modal" class="btn danger" style="text-align:right;">Delete</a> 
</div>
{% endblock %}
{% block body %}
    

    {% if user == restaurant.adder %}
        <div id="editbasic"> <h3 style="text-align:center;">{% trans "Edit Basic Info" %}</h3><hr/>
         <div class="well">
        <form enctype="multipart/form-data" method="POST" action="" class="uniForm">
            <fieldset class="">
                <h4 style="text-align:center;">Restaurant Art</h4><hr/><div class="resart" style="text-align:center;" >{{ restaurant.thumbmedium|safe }}</div> <br/>      
{%include "restaurants/smallresimg.html"%}
                  </div><div class="well" id="detailsdiv">
                <h4 style="text-align:center;">Details</h4>  <hr/>
           <div style="text-align:center;" id="formdiv"> 
                {{ restaurant_form|as_bootstrap }}
              </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="{% trans 'Save' %}">
                    <a href="/restaurants/{{ restaurant.id }}/restaurant/" class="btn ">Cancel</a>
                </div>
            </fieldset>
        </form></div>
     </div>
      
     <div id="editsubmenu" class="hide"><h3 style="text-align:center;">{% trans "Edit Menu Lists" %}</h3><hr/>
     <div class="well">
 
     <h5>Current Categories,Cuisines or Meals in the Menu</h5>
      <span class="label label-warning">Removing a list removes all the menu items associated with the list</span><hr/>
       <div class="currentlists">
          <div id="resultclists" class="well hide" style="text-align:center;"> <h4  >No Menu Lists added  :( </h4>
          </div> 
        <form class="prelists" method="POST" action="{% url editmenulist restaurant.id %}">
         <div class="preaddedlists">
         <input type="text" class="field input-xllarge menuitems" value=""/> 
         <p class="hide" >Deleting this removes all the menu items of this list.Are you sure?</p>
          <a class="dellists hide" href="#"></a>&nbsp &nbsp
          <a class="nolists hide" href="#"></a>
          <a class="remlists " href="#"></a>
         <hr/>
         </div>
         <br/><input type="submit" class="btn success" id="savelists" value="Save"/>
          </form> 
     </div>
       
     <h5>Add a Category,Cuisine or Meal under the Menu</h5>

      <div class="dynamic-form" id="formdiv">


     <div id="fdiv">
     <form id="submenus" class="inputs" method="POST" action="{% url menulist restaurant.id %}">
       
    
    </div>
    <a class="btn primary" href="#" id="add">Add</a> 
    <a class="btn" href="#" id="done">Done</a> 
    <input type="submit" id ="submit"  class="btn success"/>
    <a name="undot" id ="undo"  class="btn danger hide">Undo</a><br/>
    <p id="notadded" class="hide">You haven't added anything</p>
    <br/>
    <p id="saveadded" class="hide">Click Submit to Save</p>
    </form>
    
    </div>

   





    </div>
       <a href="/restaurants/{{ restaurant.id }}/restaurant/" class="btn ">Cancel</a>
    </div>

   <div id="listdisp" class="hide"><h3 style="text-align:center;">{% trans "Add Menu Items" %}</h3><hr/><div class="well">
    <div id="resultadditems" class="well hide" style="text-align:center;"> <h4  >No Menu Lists present to add Menu Items :( </h4>
          </div> 
   <div class="catg" id="menuitems_content">
   <form id="menuitemsform" class="inputmenuitems" method="POST" action="{% url menuitem restaurant.id %}">
   <div>
    <h4>
   </h4>
   </div> 
   </form>
   </div>
    <a class="btn" href="#" id="doneitems">Done</a> 
    <input type="submit" id ="submititem"  class="btn success hidden"/>
    <a name="undot" id ="undoitem"  class="btn danger hide">Undo</a>
   <p id="notaddeditem" class="hide">You haven't added anything</p>
    <br/>
    <p id="saveaddeditem" class="hide">Click Submit to Save</p>
   </div>
<a href="/restaurants/{{ restaurant.id }}/restaurant/" class="btn ">Cancel</a>
   </div>


  <div id="editmitems" class="hide">
  <h3 style="text-align:center;">{% trans "Edit Menu Items" %}</h3><hr/>
  <div class="well">
  <div class="currentmenuitems">
         <div id="resultcitems" class="well hide" style="text-align:center;"> <h4  >No Menu Items added  :( </h4>
          </div> 
        <form class="preitems" method="POST" action="{% url editmenuitem restaurant.id %}">
         <div class="preaddeditems">
         <h4 style="text-aligned:center;"></h4>
         <div>
         <input type="text" class="field input-xllarge menuitems" value=""/> 
         <p class="hide" id="">Deleting this removes the menu item from this list and Menu.Are you sure?</p>
          <a class="delitems hide" href="#"></a>&nbsp &nbsp
          <a class="noitems hide" href="#"></a>
          <a class="remitems " href="#"></a>
         <hr/>
        </div>
         </div>
         <br/><input type="submit" class="btn success" id="saveitems" value="Save"/>
          </form> 
     </div>

  </div>
<a href="/restaurants/{{ restaurant.id }}/restaurant/" class="btn ">Cancel</a>
  </div>   

 <div id="syncrecipes" class="well hide">
   <h3 style="text-align:center;">{% trans "Sync Recipes" %}</h3><hr/>
<p>Clicking the Sync button syncs the menuitems of the restaurant with the available recipes on foode</p><br/>
        <a id="syncbtn" class="btn primary" data-backdrop="true" data-keyboard="true" data-toggle="modal" href="#syncModal"><i class="icon-refresh icon-white"></i> {%trans " Sync"%}</a>  <hr/>
<p>Clicking the Reset button removes the association of the menuitems of the restaurant and recipes</p><br/>
     
        <a class="btn danger" data-backdrop="true" data-keyboard="true" data-toggle="modal" href="#resetModal"><i class="icon-repeat icon-white"></i> {%trans  " Reset"%}</a>  

<div class="modal hide " id="resetModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Reset</h3>
  </div><br/>
  <div class="modal-body"> 	
  <p class="landingtext" id="rstresult">Are you sure you want to reset?</p> 
  </div>
  <div class="modal-footer">
<a href="#" type="submit" class="btn danger" id="rstsync"> {% trans " Reset" %} </a>
                     <a href="#" class="btn" data-dismiss="modal" >Cancel</a>                          
  

</div>
</div>

<div class="modal hide " id="syncModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Sync in progress</h3>
  </div><br/>
  <div class="modal-body"> 	
  <p class="landingtext" id="syncresult">Syncing menuitems to recipes</p> 
  </div>
  <div class="modal-footer">
<a href="#" type="submit" class="btn primary" data-dismiss="modal" > {% trans " OK" %} </a>

  

</div>
</div>

  
</div> 
<div class="modal hide " id="deleteModal">
 <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#">&times;</a>
    <h3>Delete {{restaurant.name}}</h3>
  </div><br/>
  <div class="modal-body"> 	
  <p class="landingtext">Are you sure you want to delete?</p> 
  </div>
  <div class="modal-footer">
  
                              
                     <a href="{% url delete_restaurant restaurant.id %}" type="submit" class="btn danger"> <i class="icon-trash icon-white"></i>{% trans " Delete" %} </a>
                     <a href="#" class="btn" data-dismiss="modal" >Cancel</a>                          
  

    </div>

</div>  
 {% endif %}
   
     


{% endblock %}

