 <link rel="stylesheet" href="{{ STATIC_URL }}css/accounts.css" />
     <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
        <script src="{{ STATIC_URL }}js/json2.js"></script>
          <script type="text/javascript" src="{{ STATIC_URL }}js/pure.js"></script>
  <script type="text/javascript">
     var categories = []; 
     var count=0;
     var lcount=0;
     var mcount=0;
     $(document).ready(function(){
       $("#id_resart").parent().parent().remove();  
//   $('body').css("background-image","url({{STATIC_URL}}img/wood.png)");
      $("#menu_info").click(function(){
      $("#editbasic").hide();
      $("#editsubmenu").show();
      $("#editmitems").hide();
            $("#syncrecipes").hide(); 
      $("#listdisp").hide(); 
        $("#submit").hide();
     $("#fdiv").show();
       $("#done").show();
      $("#add").show();
        $("#undo").hide();  
         $("#saveadded").hide();
     $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active");
      if(lcount<=0){
  lcount++;
  $.ajax({url:"{% url editmenulistview restaurant.id %}",success:function(result){  
  if(result.menulists.length!=0)
     { 
      $('#resultclists').hide();
      $('.prelists').show();
  var directive = {
   'div.preaddedlists':{
         'tmp<-menulists':{
                           'input@value':'tmp.listname',
                           'input@name':'tmp.id',
                            'input@id':'clistreml#{tmp.id}',
                           'p @id':'preml#{tmp.id}',
                           'a':"'Delete'",
                           'a@id':'delreml#{tmp.id}',
                           'a.nolists':"'No'",
                           'a.nolists@id':'noreml#{tmp.id}', 
                           'a.remlists':"'Remove'",
                           'a.remlists@id':'reml#{tmp.id}'
                          }
}
  
};//end of directive
  $(".currentlists").render(result,directive);
}
else{
$('#resultclists').show();
      $('.prelists').hide();
}//end of if else 
}});  
}
     });    
        $("#basic_info").click(function(){
                   $("#syncrecipes").hide(); 
      $("#editsubmenu").hide();
      $("#editbasic").show();
      $("#listdisp").hide(); 
       $("#editmitems").hide();
       $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
      }); 
      
        $("#emenu_items").click(function(){
      $("#editsubmenu").hide();
      $("#editbasic").hide();
      $("#listdisp").hide(); 
                  $("#syncrecipes").hide(); 
       $("#editmitems").show();
       $("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
       if(mcount<=0){
  mcount++;
  $.ajax({url:"{% url editmenulistview restaurant.id %}",success:function(result){   
  if(result.menulists.length!=0)
     { 
      $('#resultcitems').hide();
      $('.preitems').show();
  var directive = {
   'div.preaddeditems':{
         'tmp<-menulists':{
                            'h4':'tmp.listname',
                            'div':{
                             'itm<-tmp.menuitems':{
                               'input@value':'itm.itemname' ,
                               'input@name':'itm.id',  
                                'input@id':'citemremi#{itm.id}',
                                'p@id':'premi#{itm.id}',
                           'a':"'Delete'",
                           'a@id':'delremi#{itm.id}',
                           'a.noitems':"'No'",
                           'a.noitems@id':'noremi#{itm.id}', 
                           'a.remitems':"'Remove'",
                           'a.remitems@id':'remi#{itm.id}'      
                         } 
 }
                           
                           
                            
                           
                          }
}
  
};//end of directive
  $(".currentmenuitems").render(result,directive);
}
else
{
  $('#resultcitems').show();
      $('.preitems').hide();
} 

}});  
}


      }); 
     
       $("#menu_items").click(function(){
                 $("#syncrecipes").hide(); 
      $("#editsubmenu").hide();  
      $("#editbasic").hide();
       $("#undoitem").hide();
        $("#editmitems").hide();
       $("#listdisp").show();
     
      $(".additem").show();
       $("#saveaddeditem").hide();
      if( $('.listitems').size()>0){
     $(".listitems").show();
     $(".removeitems").show();
   }    
     $("#submititem").hide();
       
   $("a").parent().removeClass("active"); 
      $(this).parent().toggleClass("active");
  if(count<=0){
  count++;
  $.ajax({url:"{% url editmenulistview restaurant.id %}",success:function(result){   
  if(result.menulists.length!=0)
     { 
      $('#resultadditems').hide();
      $('.catg').show();
      $('#doneitems').show();
  var directive = {
   'h4':{
         'tmp<-menulists':{
                           '.':'#{tmp.listname}<hr/>'+'<div id="itemsadd#{tmp.id}" class="additemstolist"></div><input type="button" class="btn primary additem" id="add#{tmp.id}"value="Add"/><hr/>'
              }
}
  
};//end of directive
  $("#menuitems_content").render(result,directive);
}//end of if
else{
  $('#resultadditems').show();
      $('.catg').hide();
      $('#doneitems').hide();
}//end of else
 }});  
}

});//end of items_menu


var j = 1;
	$('.additem').live("click",function() {
              
                var aid = $(this).attr('id');
                $('<input type="text" class="field input-xllarge listitems" name="'+"listitem"+aid +"z"+ j +'" id="'+"menuitemrem" + j +'" value="Item"/> <a href="#" class="remove removeitems" id="'+"rem" + j +'">Remove</a>').fadeIn('slow').appendTo('#items'+aid);
        j++;

});  
$('.remove').live("click",function() {
                  var id = $(this).attr('id');
                  $('#menuitem'+id).remove();
                  $('#'+id).remove();
		  j--;
                  });  //end of remove for menuitems 
   
    $('.dellists').live("click",function() {
                  var id = $(this).attr('id');
                 
                  $('#'+id).remove();
		  sid=id.slice(3)
                   $('#clist'+sid).remove(); 
                  $('#no'+sid).hide ();
                   tid=id.slice(7)
                    $.ajax({url:"/restaurants/"+tid+"/removemenulist",success:function(result){
                   $('#p'+sid).html (result);
                   }});   
                  j--;
                  });  //end of delete for currentlists 

   $('.remlists').live("click",function() {
                  var id = $(this).attr('id');
                  $('#del'+id).show();
                   $('#p'+id).show ();
                  $('#no'+id).show ();
                  $('#'+id).hide();
		  j--;
                  });  //end of remove for currentlists 

    $('.nolists').live("click",function() {
                  var id = $(this).attr('id');
                   $('#'+id).hide ();
                  tid = id.slice(2);
                  $('#del'+tid).hide();
                   $('#p'+tid).hide ();
                   $('#'+tid).show();
		  j--;
                  });  //end of no button for currentlists 
       
     $('.delitems').live("click",function() {
                  var id = $(this).attr('id');
                 
                  $('#'+id).remove();
		  sid=id.slice(3)
                   $('#citem'+sid).remove(); 
                  $('#no'+sid).hide ();
                   tid=id.slice(7)
                 
                    $.ajax({url:"/restaurants/"+tid+"/removemenuitem",success:function(result){
                   $('#p'+sid).html (result);
                   }});   
                  j--;
                  });  //end of delete for currentitems
 
        $('.remitems').live("click",function() {
                  var id = $(this).attr('id');
                  $('#del'+id).show();
                   $('#p'+id).show ();
                  $('#no'+id).show ();
                  $('#'+id).hide();
		  j--;
                  });  //end of remove for currentitems

        $('.noitems').live("click",function() {
                  var id = $(this).attr('id');
                   $('#'+id).hide ();
                  tid = id.slice(2);
                  $('#del'+tid).hide();
                   $('#p'+tid).hide ();
                   $('#'+tid).show();
		  j--;
                  });  //end of no button for currentitems
        
     $('#saveitems').live("click",function() {
     $("#saveitems").hide();
     $("#preitems").hide();
     $.ajax({
        data: $(".preitems").serialize(), // get the form data
                type: $(".preitems").attr('method'), // GET or POST
                url: $(".preitems").attr('action'), // the file to call
                success: function(response) { // on success..
                    $('.currentmenuitems').html(response); // update the DIV
                       
              }
            });
            return false;
        });


     $("#doneitems").live("click",function(){
       $("#doneitems").hide();
      $(".additem").hide();
      $("#undoitem").show();
      if( $('.listitems').size()>0){
     $(".listitems").hide();
     $(".removeitems").hide();
     $("#submititem").show();
      $("#saveaddeditem").show();
     } 
     else
      $("#notaddeditem").show();
      });
      
     $("#undoitem").live("click",function(){     
      $("#notaddeditem").hide();
      $("#undoitem").hide();
      $(".additem").show();
      $("#doneitems").show();
       $(".removeitems").show();
      $("#submititem").hide();
      $("#saveaddeditem").hide();
        $(".listitems").show();
        
     });   


     $('#submititem').live("click",function() {
     $("#submititem").hide();
     $("#undoitem").hide();
      $("#saveaddeditem").hide();
     $.ajax({
        data: $("#menuitemsform").serialize(), // get the form data
                type: $("#menuitemsform").attr('method'), // GET or POST
                url: $("#menuitemsform").attr('action'), // the file to call
                success: function(response) { // on success..
                    $('#menuitems_content').html(response); // update the DIV
                       
              }
            });
            return false;
        });

     $('#savelists').live("click",function() {
     $("#savelists").hide();
     $("#prelists").hide();
     $.ajax({
        data: $(".prelists").serialize(), // get the form data
                type: $(".prelists").attr('method'), // GET or POST
                url: $(".prelists").attr('action'), // the file to call
                success: function(response) { // on success..
                    $('.currentlists').html(response); // update the DIV
                       
              }
            });
            return false;
        });


     $("#done").click(function(){
       $("#done").hide();
      $("#add").hide();
      $("#undo").show();
      if( $('.field').size()>0){
     $("#fdiv").hide();
     $("#submit").show();
      $("#saveadded").show();
     } 
     else
      $("#notadded").show();
      });
 
      $("#undo").click(function(){     
      $("#notadded").hide();
      $("#undo").hide();
      $("#add").show();
      $("#done").show();
      $("#submit").hide();
      $("#saveadded").hide();
        $("#submenus").show();
        $("#fdiv").show();
     });   
        
     $('#submenus').submit(function() {
     $("#submit").hide();
     $("#undo").hide();
      $("#saveadded").hide();
      $.ajax({
        data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
                    $('#formdiv').html(response); // update the DIV
                }
            });
            return false;
        });



        var i = 1;
	$('#add').click(function() {
                $('<input type="text" class="field input-xllarge " name="'+"dynamiclist" +i +'" id="'+"submenu" + i +'" value="Category"/> <a href="#" class="remove" id ="' + i +'">Remove</a>').fadeIn('slow').appendTo('.inputs');
        i++;
$('.remove').click(function() {
                  var id = $(this).attr('id');
                  $('#submenu'+id).remove();
                  $('#'+id).remove();
		  i--;
                  });
});     

      
$("#sync_items").click(function(){

$("#editbasic").hide();
      $("#editsubmenu").hide();
      $("#editmitems").hide();
      $("#listdisp").hide();
      $("#syncrecipes").show(); 
      $("a").parent().removeClass("active"); 
     $(this).parent().toggleClass("active");
});

$("#syncbtn").click(function(){
$.ajax({url:"{% url recipesync restaurant.id %}",success:function(result){ 
  $("#syncresult").html(result);
 }});//end of ajax
});//end of synbtn click handler

$("#rstsync").click(function(){
$.ajax({url:"{% url resetsync restaurant.id %}",success:function(result){ 
  $("#rstresult").html(result);
 $("#rstsync").hide();
 }});//end of ajax
});//end of rstbtn click handler
}); //end of docready
</script>
