{% extends "subnav_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_tags %}
{% load oembed_tags %}

{% block head_title %}{{restaurant.name}}{% endblock %}
{% block extra_head %}
<style>
td >img{
float:left; 
height:20;
width:20;
}
img > p {
float:left;
}
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">

                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
{%endblock%}
{% block subnav %}
    <div class="well"><p>
                                      
             <div class="" >{{ restaurant.thumbmedium|safe }}</div>
              
          </p>    
<h1><font color="brown">{{ restaurant.name }}</font></h1> 
        <ul class="nav nav-pills nav-stacked">
       <li class="active"> <a id="infotab" href="#info"><i class="icon-info-sign icon-black"></i>{%trans " Info" %} </a></li>
       <li> <a id="menutab" href="#menu"><i class="icon-align-justify icon-black"></i>{%trans " Menu"%}</a></li>
        
        </ul><br/><br/><br/><br/><br/><br/><br/>
        <div>
        <!social sharing>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
      
        <br/><br/> 
        <g:plusone size="medium"></g:plusone>
                          <br/><br/> 
        
         </div><!remove from fav restaurants>
       
          <a class="btn danger" id="favrembtn" href="#"><i class="icon-minus icon-white"></i>{% trans " Fav" %} </a><br/>
         <br/>
         <!-- restaurant action -->
            {% if isyours %}
                            <hr/>
                             <!-- edit restaurant -->
                            <form method="GET" action="{% url edit_restaurant restaurant.id %}">
                             <button type="submit" class="btn primary"> <i class="icon-edit icon-white"></i>{% trans " Edit" %} </button>
                            </form>
                        <br/>
                         
            {% else %}        
            {% endif %}
        </p>
          
      
      <a href="{% url add_restaurant %}" class="btn primary">Add a Restaurant</a> 
  
           



</div>

{% endblock %}


{% block body %}
              {% if user.is_authenticated %}
         
          <a class="btn success" style="float:left;" id="favaddbtn" href="#"><i class="icon-plus icon-white"></i>{% trans " Favorites" %} </a><br/><br/>
                {%endif%}           <a href="/restaurants/" class="btn" style="float:right;margin-top:-35px;">Restaurants</a>
        
    
    <div class="well" id="maincontent">
        <p>
            <!-- restaurant info -->
          
            <div id="dispinfo" class="results">
                    <table class="">
                    <tr>
                       <td>
                           <img style="float:left; height="20" width="20" align="middle" src="{{ STATIC_URL }}icons/aka.png"/>&nbsp &nbsp
                           <p style="float:left;">&nbsp <strong>Also Known as</strong></p>
                            </td>
                             <td> {{ restaurant.alsoknownas }}</td>
                    </tr>
                     <tr><td>    <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/rescategory.png"/><p>&nbsp<strong> Category</strong></p></td><td> {{ restaurant.category }}</td></tr>
                     <tr>
                  <td>   {%ifequal restaurant.serves "Pure Veg"%}<img height="20" width="20" align="bottom" src="{{ STATIC_URL }}icons/veg.jpg"/>
                         {%else%}<img height="20" width="20" align="middle" src="{{ STATIC_URL }}icons/nonveg.jpg"/>
                         {%endifequal%}<p>&nbsp<strong>     Serves </strong> </p></td>
                        <td>{{restaurant.serves}}</td></tr>
                    <tr><td><img height="20" width="20" align="middle" src="{{ STATIC_URL }}icons/cuisine.png"/> <p>&nbsp<strong> Cuisines </strong></p> </td><td>{{restaurant.cuisines}}</td></tr>               
                      <tr><td> <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/location.png"/>  <p>&nbsp<strong> Address</strong></p> </td><td>{{ restaurant.address }}<br/><br/>
                        <strong> City - </strong> {{ restaurant.city}}<br/><br/>
                        <strong> State - </strong> {{restaurant.state}}<br/><br/>
                        <strong> Country - </strong> {{restaurant.country}}<br/><br/>
                               <strong> Zip/Pin Code - </strong>{{restaurant.zipcode}}</td></tr>
                        <tr><td> <img  align="middle"  src="{{ STATIC_URL }}icons/phone.png"/><p>&nbsp<strong> Phone </strong></p> </td><td>{{restaurant.phone}}</td></tr> 
                       <tr><td> <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/website.png"/> <p>&nbsp<strong> Website </strong></p></td><td><a href="{{restaurant.website}}"></a></td></tr> 
                       <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/preparationtime.png"/><p> &nbsp<strong> Hours </strong></p></td><td> {{restaurant.hours}}</td></tr>
                       <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/ac.png"/><p> &nbsp<strong> Air Conditioned </strong> </p></td><td>{{restaurant.ac}}</td></tr>
                     <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/creditcard.png"/><p> &nbsp<strong> Credit Cards </strong> </p></td><td>{{restaurant.creditcards}}</td></tr>
                     <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/citycars.png"/><p> &nbsp<strong> Parking </strong> </p></td><td>{{restaurant.parking}}</td></tr>
                      <tr><td>  <img height="20" width="" align="middle"  src="{{ STATIC_URL }}icons/music.png"/><p> &nbsp<strong> Music </strong> </p></td><td>{{restaurant.music}}</td></tr>
                       <tr><td>  <img height="20" width="" align="middle"  src="{{ STATIC_URL }}icons/wifi.png"/><p> &nbsp<strong> Wi-Fi </strong> </p></td><td>{{restaurant.wifi}}</td></tr>
                       <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/ambiance.png"/><p> &nbsp<strong> Ambiance </strong> </p></td><td>{{restaurant.ambiance}}</td></tr>
                      <tr><td> {%ifequal restaurant.smoking "Allowed"%}<img height="20" width="20" align="bottom" src="{{ STATIC_URL }}icons/smokingallw.png"/>
                         {%else%}<img height="20" width="20" align="middle" src="{{ STATIC_URL }}icons/nosmoking.png"/>
                         {%endifequal%}<p> &nbsp<strong> Smoking</strong> </p></td><td>{{restaurant.smoking}}</td></tr>
                      <tr><td>  <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/pricerange.png"/><p> &nbsp<strong> Price Range </strong> </p></td><td>{{restaurant.pricerange}}</td></tr>
                       <tr><td> <img height="20" width="20" align="middle"  src="{{ STATIC_URL }}icons/description.png"/> <p>&nbsp<strong> Description </strong></p> </td><td>{{restaurants.description}}</td></tr>
          </table>
           </div>
        </p>
        <div id="menucontent" class="hide">
          <h4 style="text-align:center;" id="menuresult" class=" hide">Menu of {{restaurant.name}} has not been updated yet :(
                     {%if isyours%}
                     <hr/>
                             <!-- edit restaurant -->
                            <form method="GET" action="{% url edit_restaurant restaurant.id %}">
                             <button type="submit" class="btn primary"> <i class="icon-edit icon-white"></i>{% trans " Update Menu Now" %} </button>
                            </form>
                     {%endif%}
                     </h4> 
       <div id="menutable"> <h4 style="text-align:center;"></h4><table class="table-bordered"><tr><th>Recipe</th><th>foodies</th><th class="yrhead">Your Rating</th><th>Recent Ratings </th></tr><tr class="micon"><td class="itname"><a style="color:green;" class="itname"></a></td> <td class="fstar"></td> <td class="ystar"></td></div><td class="rstar"></td></tr></table><br/>
      </div>
      </div>

{% endblock %}

{% block extra_body %}

   <script>
   {% if favbutton %}   

$("#favrembtn").hide();
{% else %}
$("#favaddbtn").hide();
{%endif%}

   </script>
    <!Google +1 BUtton script>
        <script type="text/javascript">
           (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
         po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        </script>  
      <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script><br/><br/>
    <script src="{{ STATIC_URL }}js/avatar.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/raty/js/jquery.raty.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pure.js"></script>
      
    <script>

    var count=0;
    var json;
    resimgUrl = "{{MEDIA_URL}}restaurants/thumb_100_100/"
    imgUrl = "{{MEDIA_URL}}recipes/thumb_100_100/" 
   $(document).ready(function(){
   $("#menucontent").hide();
  //  $('#maincontent').css("background-image","url({{STATIC_URL}}img/leather.jpg)");   
   //$('body').css("background-image","url({{STATIC_URL}}img/leather.jpg)");
   $.ajax({url:"{% url restaurant_detail restaurant.id %}",success:function(result){   
     json = result;
   
    }});  
$("#menutab").click(function(){

$("#dispinfo").hide();
$("#menucontent").show();
$("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
  if(count<=0){
  count++;
  $.ajax({url:"{% url menulistview restaurant_id=restaurant.id user_name=user %}",success:function(result){
  if(result.menulists.length!=0)
     { 
        $('#menuresult').hide();
        $('#menutable').show();
  var directive = {
   'div#menutable':{
         'tmp<-menulists':{
                           'h4':'tmp.listname',
                           'tr.micon':{
                           'itm<-tmp.menuitems':{
                               'a.itname':'itm.itemname',
                                'a.itname@href':'itm.recipeurl',
                                'td.fstar@id':'fstar#{itm.id}',
                                 'td.fstar@rating':'itm.orating',
                                  'td.ystar@id':'ystar#{itm.id}',
                                  'td.ystar@rating':'itm.urating',
                                 'td.rstar@id':'rstar#{itm.id}', 
                                 'td.rstar@rating':'itm.rrating',   
                             }    
                           }
                                  }
  }
  };//end of directive
  $("#menucontent").render(result,directive);
 }
 else{
$('#menuresult').show();
        $('#menutable').hide();
}  
 $('.fstar').raty({
       readOnly: true,
      start: function() {
    return $(this).attr('rating');
  }
      });
    $('.ystar').raty({
    start: function() {
     return $(this).attr('rating');
  },
    click: function(score, evt) {
    starid = $(this).attr('id');
    $.ajax({url:"/restaurants/ratemenuitem/"+starid+"/{{user}}/"+score+"/",success:function(result){   
 }});
  } 
    });
      $('.rstar').raty({
     readOnly: true,
     start: function() {
     return $(this).attr('rating');
  }
  });
 }});  
}
{% if user.is_authenticated %}
{%else%}
    $('.yrhead').hide(); 
   $('.ystar').hide();
  {%endif%}
});

$("#infotab").click(function(){
$("#dispinfo").show();
  $("#menucontent").hide();
$("a").parent().removeClass("active"); 
  $(this).parent().toggleClass("active");
});


$("#favaddbtn").click(function(){

$("#favaddbtn").hide();
 $.ajax({url:"{% url favourite_restaurant restaurant_id=restaurant.id user_name=user %}",success:function(result){ 
$("#favrembtn").show();
}});//end of ajax
});

$("#favrembtn").click(function(){

$("#favrembtn").hide();
 
$.ajax({url:"{% url favremove_restaurant restaurant_id=restaurant.id user_name=user %}",success:function(result){ 
$("#favaddbtn").show();
}});//end of ajax
});


});//end of doc ready
    </script>
    
{% endblock %}


