{% extends "restaurants/restaurants_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Restaurants{% endblocktrans %}{% endblock %}

{% block extra_head_base %}
            {% block extra_head %}
           
            <link rel="stylesheet" href="{{ STATIC_URL }}css/settingstab.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnails.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/thumbs.css">
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/tables.css">
            {% endblock %}
{% endblock %}

{%block subnav%}
<div id="restabs" class="homeviewnav">
 <p class="active"><a href="#" id="newadd">{% trans "New" %}</a></p><br/>
<p> <a href="#" id="trending" style="text-align:left;text-decoration:none;">{% trans "Trending" %}</a></p><br/>
<p ><a href="{% url restaurantshuffle %}" id="resshf" style="text-align:left;text-decoration:none;">Restaurant Shuffle</a></p><br/>
{% if user.is_authenticated %}

<p ><a href="#" id="myrests" style="text-align:left;text-decoration:none;">My Restaurants</a></p><br/>

{%endif%}
<p ><a href="#" id="searchres" style="text-align:left;text-decoration:none;">Search</a></p><br/>

</div>
<div class="row">
<a href="{% url add_restaurant %}" class="btn primary">Add a Restaurant</a> 
</div><br/>
<div id="filtersearch" class="hide">
<div id="hidefilter" class="homeviewnav">
 <p class="active"><a href="#" id="hidebtn">{% trans "Hide" %}</a></p><br/>
</div>
<form id="filsearchform" method="POST" action="/restaurants/searchrestaurants/">
<div class="row">
<p>Cuisine (Optional)</p>
<input type="text" class="input-medium" name="cuisine" placeholder="Ex:Chinese"/>
</div>
<div class="row">
<p>Menu List (Optional)</p>
<input type="text" class="input-medium" name="menulist" placeholder="Ex:Ice Creams"/>
</div>
<div class="row">
<p>Menu Item (Optional)</p>
<input type="text" class="input-medium" name="menuitem" placeholder="Ex:Manchuria"/>
</div>
<div class="row">
<p>Location</p>
<input type="text" class="input-medium" name="location" value="My Location"/>
</div>
<div class="row">
<input type="text" id="longi" class="input-medium hide" name="longitude" value=""/>
</div>
<div class="row">
<input type="text" id="lati" class="input-medium hide" name="latitude" value=""/>
</div>
<div class="row">
<p>Category</p>
<select name="category" id="id_catg" class="input-medium">
<option value="Any">Any</option>
<option value="Buffet">Buffet</option>
<option value="Cafe">Cafe</option>
<option value="Coffeehouse">Coffee / Tea House</option>
<option value="Family">Family Style</option>
<option value="Fastfood">Fast Food</option>
<option value="General">General Restaurant</option>
<option value="Hotel">Hotel</option>
<option value="Pub">Pub / Bar</option>
<option value="Other">Other</option>
</select>
</div>
<div class="row hide">
<p>Distance</p>
<select name="distance" id="id_dist" class="input-medium">
<option value="3km">3km</option>
<option value="5km">5km</option>
<option value="10km radius">10km</option>
<option value="10km radius">20km</option>
</select></div>
<div class="row">
   <input type="submit" class="btn info" value="Search" />
 </div>
</form>
</div>
{%endblock%}


{% block body %}
        <div id="newrestaurants" class="well" style="background:white;overflow:auto;width:80%;height:100%;">



        <!-- alternate -->
    {% if restaurants %}


            {% for restaurant in restaurants %}
             
                <a class="thumbnail" style="text-decoration:none;" href="/restaurants/{{ restaurant.id }}/restaurant/">
                  {{ restaurant.thumb|safe }}<br><br/>
                  <p style="text-align:left;" class="hometabletext">{{ restaurant.name }}</p><hr/>
                  <p style="float:right;color:brown;">{{restaurant.category}}</p><p style="text-align:left;">{{restaurant.phone}}</p>
                  <p style="text-align:left;color:black;">{{restaurant.address}},{{restaurant.city}}</p>     
            </a><br class="clearboth">
            {% endfor %}
       
        {% else %}
        <p>{% trans "No restaurants yet." %}</p>
    {% endif %}
   </div>    
 <div id="serrestaurants" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
     <div id="reshead" class="hide"><h4 style="text-align:center;color:green;">Search Results</h4> <hr/>
 <h2 style="text-align:center;" id="resultser" class="well hide">No Restaurants found.</h2> 
  </div>
<div id="serdi" class="searchdiv hide">

 <a href="#" class="thumbnail" style="text-decoration:none;">
                   <img /><br><br/>
                  <p class="hometabletext"></p><hr/>
                  <p class="catg" style="float:right;color:brown;"></p><p class="phone" style="text-align:left;">{</p>
                  <p class="address" style="text-align:left;color:black;"></p>  
                     
                 </a><br class="clearboth">
    </div></div> 

<div id="trendingrestaurants" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                   
<div>

  <a class="thumbnail" style="text-decoration:none;">

                   <img  /><br><br/>
                  <p class="hometabletext"></p><hr/>
                  <p class="catg" style="float:right;color:brown;"></p><p class="phone" style="text-align:left;">{</p>
                  <p class="address" style="text-align:left;color:indigo;"></p>  
                 </a><br class="clearboth">
  </div>  
  </div>          
{% if user.is_authenticated %}
 
 <div id="myrestaurants" class="well hide" style="background:white;overflow:auto;width:80%;height:100%;">
                   <div id="resultmy" class="well hide" style="text-align:center;"> <h4  >You have not uploaded any restaurant :( </h4><hr/><a style="float:center;" href="{% url add_restaurant %}" class="btn primary">Add a Restaurant</a> 
                    

                   </div> 
<div id="myresdi">

  <a class="thumbnail" style="text-decoration:none;">

                   <img  /><br><br/>
                  <p class="hometabletext"></p><hr/>
                  <p class="catg" style="float:right;color:brown;"></p><p class="phone" style="text-align:left;">{</p>
                  <p class="address" style="text-align:left;color:black;"></p>  
                 </a><br class="clearboth">
  </div>  
  </div>          
{%endif%}



{% endblock %}

{% block extra_body %}
{%include "restaurants/restaurantsjs.html"%}
{% endblock %}


